<!--Tabla Descripción de archivos cargados-->
<div class="controls-container">
    <div class="divTituloTablas">
        <h3 class="tituloTabla">ARCHIVOS PENDIENTES DE CARGA</h3>
        <span class="line-spacer"></span>
    </div>
    <div class="paginator-area">
        <mat-paginator [pageSize]="5" [pageSizeOptions]="pageSizeOptions" [length]="cantidadRegistros" showFirstLastButtons
            (page)="mostrarMas($event)">
        </mat-paginator>
    </div>
</div>
<app-spinner *ngIf="spinnerActive"></app-spinner>
<table mat-table [dataSource]="dataSourceInfoArchivo" matSort class="mat-elevation-z8">
    <caption></caption>
    <ng-container matColumnDef="nombreArchivo">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>NOMBRE</th>
        <td mat-cell *matCellDef="let element"> {{element.nombreArchivo}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaArchivo">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>FECHA DATOS</th>
        <td mat-cell *matCellDef="let element"> {{element.fechaArchivo | date: 'dd/MM/YYYY' : '+00'}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>ESTADO</th>
        <td mat-cell *matCellDef="let element"> {{element.estadoCargue}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let element">
            <button mat-button title="Validar Archivo" (click)="validarArchivo(element)">
                <mat-icon style="color: green">assignment_turned_in</mat-icon>
            </button>
            <button mat-button title="Visualizar" (click)="downloadFile(element)">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-button title="Procesar" color="primary" (click)="procesarArchivo(element)">
                <mat-icon>assignment_returned</mat-icon>
            </button>
            <button mat-button title="Eliminar"
                (click)="eliminarArchivo(element.nombreArchivo, element.idModeloArchivo)">
                <mat-icon style="color: red">delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoArchivo"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoArchivo;"></tr>
</table>