<div class="titulo-tabla">
    <h1>{{titulo+ 'tabla de dominio'}}</h1>
</div>

<div class="div-division">
    <div class="ubica">
        <h2>Nombre Dominio</h2>
    </div>
    <div class="example-container">
        <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="nombreDominio" value={{nombreDominio}}>
        </mat-form-field>
    </div>
</div>

<div class="div-division">
    <div class="ubica">
        <h2>Descripción</h2>
    </div>
    <div class="example-container">
        <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="descripcion" >
        </mat-form-field>
    </div>
</div>

<div class="div-division">
    <div class="ubica">
        <h2>Tipo de contenido</h2>
    </div>
    <div>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="contenido">
            <mat-radio-button class="example-radio-button" *ngFor="let contenido of tipoContenidoList" [value]="contenido.value">
                {{contenido.label}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>

<div class="div-division">
    <div class="ubica">
        <h2>Estado</h2>
    </div>
    <div>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="estado">
            <mat-radio-button class="example-radio-button" *ngFor="let estado of tipoEstadoList" [value]="estado.value">
                {{estado.label}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>

<div class="division-btn-ident">
    <div>
        <button mat-raised-button color="primary" (click)="persistirDatos()">{{nombreBTN}}</button>
    </div>
    <div>
        <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    </div>
</div>