table {
    width: 2300px;
}

.tituloTabla {
    padding-top: 2%;
    text-align: center;
    margin-left: 30%;
}

.divTablaProg {
    background-color: rgb(226, 229, 229);
    padding: 1%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: auto;
}

.configScroll {
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
}

  .ubicacionBtn {
    margin-top: 20%;
    margin-left: 5%;
    text-align: center;
  }

  .division {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
  }

  .mat-column-codigoFondoTDV {
    text-align: center;
  }