<div class="titulo-tabla">
    <h1>{{titulo}} banco</h1>
</div>
<form *ngIf="mostrarFormulario" class="example-container" [formGroup]="form">
    <div class="div-division">
        <div class="ubica">
            <h2>Nombre</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input formControlName="nombre" matInput #input>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Ciudad</h2>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione una ciudad</mat-label>
            <mat-select formControlName="ciudad">
                <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                    {{ciudad.nombreCiudad}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Codigo de compensación</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input formControlName="codigoCompensacion" matInput #input>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Identificación (NIT)</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input formControlName="identificacion" matInput #input>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Abreviatura</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input formControlName="abreviatura" matInput #input>
            </mat-form-field>
        </div>
    </div>

    <div>
        <mat-checkbox formControlName="esAval" class="margen-checkbox" color="primary" [(ngModel)]="esGrupoAval">Es del
            Grupo Aval</mat-checkbox>
    </div>

    <div class="division-btn-ident">
        <div>
            <button *ngIf="estadoBTN" mat-raised-button color="primary" (click)="persistir()">{{nombreBTN}}</button>
        </div>
        <div>
            <button mat-raised-button color="warn" mat-dialog-close>{{nombreBTNCancelar}}</button>
        </div>
    </div>
</form>