<div class="divTabla">
    <div class="divTituloTablas">
        <h1 class="tituloTabla">Costos Servicios Aéreos</h1>
        <span class="line-spacer"></span>
    </div>

    <div style="display: block;">
        <mat-form-field appearance="fill">
            <mat-label></mat-label>
            <input matInput [matDatepicker]="picker1" [formControl]="serializedDate" [(ngModel)]="fecha1">
            <mat-hint>Fecha Inicial</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label></mat-label>
            <input matInput [matDatepicker]="picker2" [formControl]="serializedDate" [(ngModel)]="fecha2">
            <mat-hint>Fecha final</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <button style="background-color: #C1DEAE" class="buttonsSaveOremove" mat-raised-button
            (click)="buscar()">
            <span>Buscar</span>
        </button>
    </div><br><br>

    <table mat-table *ngIf="mostrarTabla" [dataSource]="dataSourceInfoProcesos" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="bancoAval">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>BANCO AVAL</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreBanco}} </td>
        </ng-container>
        <span>----</span>
        <ng-container matColumnDef="tdv">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TDV</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreTdv}} </td>
        </ng-container>

        <ng-container matColumnDef="puntoOrigen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PUNTO ORIGEN</th>
            <td mat-cell *matCellDef="let element"> {{element.nombrePuntoOrigen}} </td>
        </ng-container>

        <ng-container matColumnDef="puntoDestino">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PUNTO DESTINO</th>
            <td mat-cell *matCellDef="let element"> {{element.nombrePuntoDestino}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoServicioProvision">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO SERVICIO PROVISIÓN</th>
            <td mat-cell *matCellDef="let element"> {{element.tipoOperacion}} </td>
        </ng-container>

        <ng-container matColumnDef="escala">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Escala</th>
            <td mat-cell *matCellDef="let element"> {{element.escala}} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> VALOR</th>
            <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="costoCharter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>COSTO CHARTER Y OTROS</th>
            <td mat-cell *matCellDef="let element">
                <input required type="number" step="0.01" pattern="^[0-9]+" (change)="changeValor($event)" (keypress)="onKeypressEvent($event)" placeholder="$">
                <!--input required type="number" step="0.01" pattern="^[0-9]+" onkeypress="return event.charCode >= 48" min="1" (change)="changeValor($event)" placeholder="$"-->
            </td>
        </ng-container>
        
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-button (click)="guardar(element)">
                    <mat-icon style="color: green">assignment_turned_in</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>

    </table>

</div>