.configScroll {
  height: auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: proximity;
}

.division {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}

.division.double-table-container .mat-header-cell:first-of-type {
  padding-left: 8px !important;
}