.mat-table-custom {
    max-height: 450px;
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
}
::ng-deep .mat-dialog-container {
    height: auto;

}
.mat-dialog-container .button-container{
    margin-top: 0px;
}