  table {
    width: 100%;
  }

  .divTabla {
    background-color: rgb(226, 229, 229);
    padding: 1%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 2%;
    margin-bottom: auto;
  }

  .tituloTabla {
    padding-top: 2%;
    text-align: center;
    margin-left: 20%;
  }


