  table {
    width: 100%;
  }

  .tituloTabla {
    padding-top: 2%;
    text-align: center;
    margin-left: 20%;
  }

  .division-busqueda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .botonesClientes {
    display: flex;
    padding-left: 0%;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .mat-table-custom .table-filter-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    justify-content: start;
  }

  .mat-table-custom .botonesClientes .mat-button {
    padding: 0px;
    width: 32px;
    min-width: 32px;
    max-width: 32px;
  }