  table {
    width: 100%;
  }

  .tituloTabla {
    padding-top: 2%;
    text-align: center;
    margin-left: 20%;
  }

  .division-busqueda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .botonesClientes {
    display: flex;
    padding-left: 2%;
    flex-wrap: nowrap;
  }


