
/*
* ESTILOS PARA COMPONENTE DE CARGA
*/
.cargue-container {
    margin-top: 3%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 5%;
    border: 1.8px solid rgb(196, 196, 196);
    text-align: center;
    background-color: rgb(249, 255, 221);
}
