<div class="tittle-container">
    <div class="tittle-section">
        <h2>Costos Mensuales de Clasificación</h2>
    </div>
</div>
<div class="mat-table-custom simple-view">
    <div class="fecha">
        Mes Anterior: {{fechaSistemaSelectHTML | date : 'MM/YYYY'}}
    </div>
    <div>
        <p>{{mesSistemaSelect}}</p>
    </div>
    <div class="table-filter-container">
        <mat-form-field appearance="fill">
            <mat-label>Transportadora *</mat-label>
            <mat-select [(ngModel)]="selectedTransportadora" name="food">
                <mat-option *ngFor="let item of transportadoras" [value]="item">
                    {{item.nombreTransportadora}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="controls-container buttons-filter">
            <button class="button-custom" mat-raised-button color="primary" (click)="consultar()">Consultar
            </button>
        </div>
    </div>
</div>