<!--Tabla Descripción de archivos cargados-->
<div class="divTabl">
    <div class="divTituloTabl">
        <h1 class="tituloTabla">{{titulo}}</h1>
        <span class="line-spacer"></span>
    </div>
    <div class="mat-elevation-z8 disenio-tabla configScroll">
        <table mat-table [dataSource]="dataSourceInfoProcesos" matSort>
            <ng-container matColumnDef="idErroresContables">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element"> {{element.idErroresContables}} </td>
            </ng-container>

            <ng-container matColumnDef="transaccionInterna">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Transacción Interna</th>
                <td mat-cell *matCellDef="let element"> {{element.transaccionInterna}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
                <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'medium'}} </td>
            </ng-container>

            <ng-container matColumnDef="mensajeError">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mensaje Error</th>
                <td mat-cell *matCellDef="let element"> {{element.mensajeError}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
        </table>
    </div>

    <div style="margin-top: 0%; text-align: center;">
        <button  mat-raised-button mat-button style="display:inline; margin: 2%;" color="primary" (click)="verArchivoExcel()" cdkFocusInitial>Visualizar Excel</button>
        <button mat-raised-button mat-button mat-dialog-close color="warn" (click)="close()">CERRAR</button>
    </div>
</div>