<div class="modal-dialog-custom">
    <div class="tittle-section">
        <h2>{{titulo}}</h2>
    </div>
    <div class="spacer-content"></div>
    <div class="mat-table-custom configScroll">
        <table mat-table [dataSource]="dataSourceInfoProcesos" matSort>
            <caption></caption>
            <ng-container matColumnDef="idErroresContables">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element"> {{element.idErroresContables}} </td>
            </ng-container>

            <ng-container matColumnDef="transaccionInterna">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Transacción Interna</th>
                <td mat-cell *matCellDef="let element"> {{element.idTransaccionInterna}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
                <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'medium' : '+00'}} </td>
            </ng-container>

            <ng-container matColumnDef="mensajeError">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mensaje Error</th>
                <td mat-cell *matCellDef="let element"> {{element.mensajeError}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
        </table>
    </div>
    <div class="button-container">
        <button hidden="true" class="button-custom" mat-raised-button mat-button color="primary"
            (click)="verArchivoExcel()" cdkFocusInitial>Visualizar Excel</button>
        <button mat-raised-button class="button-custom" mat-button mat-dialog-close
            color="warn" (click)="close()">CERRAR</button>
    </div>
</div>