<div class="tittle-section">
    <h2>Descargar Archivos</h2>
</div>
<div class="mat-table-custom">
    <app-filtro-archivos (filterData)="filter($event)" (clearFilter)="onClearFilter()"
        [showFechaProceso]="true"></app-filtro-archivos>
    <div class="controls-container">
        <button mat-raised-button color="primary" class="button-custom" (click)="descargarArchivos()">Descargar
            archivos</button>
        <button mat-raised-button color="primary" class="button-custom" (click)="cerrarArchivos()">Cerrar
            conciliación</button>
        <div class="paginator-area">
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100, cantidadRegistros]"
                [length]="cantidadRegistros">
            </mat-paginator>
        </div>
    </div>
    <table mat-table [dataSource]="dataSourceConciliadas" matSort aria-label="GestionArchivos">
        <tr>
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="$event ? seleccion() : null"
                        [checked]="selection.hasValue() && seleccionarTodo()"
                        [indeterminate]="selection.hasValue() && !seleccionarTodo()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null; seleccionRow($event, row)"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="nombreArchivo">
                <th mat-sort-header *matHeaderCellDef mat-header-cell> NOMBRE ARCHIVO</th>
                <td *matCellDef="let element" mat-cell> {{element.nombreArchivo}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaArchivo">
                <th mat-sort-header *matHeaderCellDef mat-header-cell> FECHA ARCHIVO</th>
                <td *matCellDef="let element" mat-cell> {{element.fechaArchivo | date: 'dd/MM/YYYY' : '+00'}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-sort-header *matHeaderCellDef mat-header-cell>ESTADO</th>
                <td *matCellDef="let element" mat-cell>{{element.estado}}</td>
            </ng-container>

            <ng-container matColumnDef="banco">
                <th mat-sort-header *matHeaderCellDef mat-header-cell>BANCO</th>
                <td *matCellDef="let element" mat-cell> {{element.banco}} </td>
            </ng-container>

            <ng-container matColumnDef="tdv">
                <th mat-sort-header *matHeaderCellDef mat-header-cell>TDV</th>
                <td *matCellDef="let element" mat-cell> {{element.tdv}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaTransferencia">
                <th mat-sort-header *matHeaderCellDef mat-header-cell>FECHA DE TRANSFERENCIA</th>
                <td *matCellDef="let element" mat-cell> {{element.fechaTransferencia | date: 'dd/MM/YYYY' : '+00'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="tipoArchivo">
                <th mat-sort-header *matHeaderCellDef mat-header-cell>TIPO DE ARCHIVO</th>
                <td *matCellDef="let element" mat-cell> {{element.tipoArchivo}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                <td *matCellDef="let element" mat-cell>
                    <button mat-button (click)="verDetalle(element)">
                        <mat-icon style="color: black">
                            remove_red_eye
                        </mat-icon>
                    </button>
                </td>
            </ng-container>
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsConciliadas;"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsConciliadas"></tr>
    </table>
</div>