<div class="divTabla">
    <div class="divTituloTablas">
        <h1 class="tituloTabla">Cerrar liquidación mensual</h1>
        <span class="line-spacer"></span>
    </div>
    <div style="text-align: center; margin-top: 0%;">
        <div class="fecha">
            <p>{{fechaSistemaSelect}}</p>
        </div>
    </div>
    <!--Sprinner-->
    <app-spinner *ngIf="spinnerActive"></app-spinner>
    <div style="text-align: center; margin-top: 0%; margin-top: 1%">
        <button style="display:inline; margin: 2%;" class="botton1" (click)="generarCierreLiquidacionMensual()">Ejecutar Cierre</button>
    </div>
</div>