.controls-container {
    padding: 0 0px;
}

.modal-dialog-custom .button-custom {
    margin-left: 0px;
    margin-right: 12px;
}

.modal-dialog-custom .form-fields {
    grid-template-columns: repeat(auto-fit, minmax(0, 32%));
    justify-content: left;
    gap: 2%;
}

.mat-table-custom .mat-table {
    margin-bottom: 0px;
}