.controls-container {
    padding: 0 0px;
}

.modal-dialog-custom .button-custom {
    margin-left: 0px;
    margin-right: 12px;
}

.mat-form-field{
    max-width: 540px;
}

.mat-table-custom .mat-table {
    margin-bottom: 0px;
}