<div class="divTablaBancos">
    <div class="example-container mat-elevation-z8">
        <section>
            <mat-card *ngFor="let item of parametrosFuncionesDinamicasDTO">
                <div style="padding-left: 5%;">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre Parametro" id="nombreParametro"
                            value="{{item.nombreParametro}}" disabled>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Tipo Parametro" id="tipoDatoParametro"
                            value="{{item.tipoDatoParametro}}" disabled>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Valor" id="{{item.nombreParametro}}" value="{{item.valorDefecto}}"
                            (change)="changeValor($event)">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Posibles Valores" id="posiblesValores"
                            value="{{item.posiblesValores}}" disabled>
                    </mat-form-field>

                    <button id="{{item.numeroParametro}}" style="background-color: #C1DEAE" class="buttonsSaveOremove"
                        (click)="confirmValor(item.nombreParametro, item.numeroParametro, item.valorDefecto)" mat-raised-button>
                        <span>Confirmar</span>
                    </button>
                </div>
            </mat-card>
        </section>
        <button style="background-color: #C1DEAE" class="buttonsSaveOremove"
            (click)="ejecutar()" mat-raised-button>
            <span>Ejecutar</span>
        </button>
    </div>

</div>