<div class="divTablaBancos">
    <div class="example-container mat-elevation-z8">
        <section>
            <mat-card *ngFor="let item of parametrosFuncionesDinamicasDTO">
                <div style="padding-left: 5%;">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre Parametro" id="nombreParametro"
                            value="{{item.nombreParametro}}" disabled>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Tipo Parametro" id="tipoDatoParametro"
                            value="{{item.tipoDatoParametro}}" disabled>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Valor" id="{{item.nombreParametro}}" value="{{item.valorDefecto}}"
                            (change)="changeValor($event)">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Posibles Valores" id="posiblesValores"
                            value="{{item.posiblesValores}}" disabled>
                    </mat-form-field>

                    <button id="{{item.numeroParametro}}" style="background-color: #C1DEAE" class="buttonsSaveOremove"
                        (click)="confirmValor(item.nombreParametro, item.numeroParametro, item.valorDefecto)" mat-raised-button>
                        <span>Confirmar</span>
                    </button>
                </div>
            </mat-card>
        </section>
        <button style="background-color: #C1DEAE" class="buttonsSaveOremove"
            (click)="ejecutar()" mat-raised-button>
            <span>Ejecutar</span>
        </button>
        <button *ngIf="mostrarTabla" mat-raised-button color="primary" (click)="exporter.exportTable('xlsx', {fileName:'procedimientos_almacenados'})">Exportar tabla</button>
        <div>
            <table mat-table matTableExporter [dataSource]="dataSourceResponse" #exporter="matTableExporter" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="campo1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPO1</th>
                    <td mat-cell *matCellDef="let element"> {{element.campo1}} </td>
                </ng-container>
        
                <ng-container matColumnDef="campo2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPO2</th>
                    <td mat-cell *matCellDef="let element"> {{element.campo2}} </td>
                </ng-container>
        
                <ng-container matColumnDef="campo3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPO3</th>
                    <td mat-cell *matCellDef="let element"> {{element.campo3}} </td>
                </ng-container>

                <ng-container matColumnDef="campo4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPO4</th>
                    <td mat-cell *matCellDef="let element"> {{element.campo4}} </td>
                </ng-container>
        
                <ng-container matColumnDef="campo5">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPO5</th>
                    <td mat-cell *matCellDef="let element"> {{element.campo5}} </td>
                </ng-container>
        
                <ng-container matColumnDef="campo6">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPO6</th>
                    <td mat-cell *matCellDef="let element"> {{element.campo6}} </td>
                </ng-container>

                <ng-container matColumnDef="campo7">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPO7</th>
                    <td mat-cell *matCellDef="let element"> {{element.campo7}} </td>
                </ng-container>
        
                <ng-container matColumnDef="campo8">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPO8</th>
                    <td mat-cell *matCellDef="let element"> {{element.campo8}} </td>
                </ng-container>
        
                <ng-container matColumnDef="campo9">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPO9</th>
                    <td mat-cell *matCellDef="let element"> {{element.campo9}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
            </table>
        </div>
    </div>
</div>