::ng-deep .divTabla {
  padding: 1%;
  margin: 1% 0 0 1%;
  background-color: transparent;
  max-width: 100%;
  overflow-x: auto;
}

.botones-tabla {
  display: table-cell;
  width: 100%;
}

.botones-tabla .mat-button-base {
  margin: 8px 8px 8px 0;
}

table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: 0 5px;
}

.mat-paginator-container {
  display: flex;
  justify-content: normal;
}

.mat-column-aplicativo {
  background: #d4d6d7;
}

.mat-column-tvd {
  background: #d4d6d7;
}
.mat-column-nombre_punto_cargo,
.mat-column-razon_social {
  min-width: 275px;
}

.mat-column-nombre_tipo_servicio {
  min-width: 150px;
}

.mat-column-escala {
  min-width: 120px;
}

.mat-column-iva,
.mat-column-otros_1,
.mat-column-otros_2,
.mat-column-otros_3,
.mat-column-otros_4,
.mat-column-otros_5,
.mat-column-costoEmisarios,
.mat-column-costoFletes,
.mat-column-costoPorBolsa,
.mat-column-costoPorMilaje,
.mat-column-costoFijo,
.mat-column-numeroFajos,
.mat-column-numeroBolsas{
  min-width: 100px;
}

.mat-column-valorTotal,
.mat-column-subTotal,
.mat-column-valorTransportadoBilletes,
.mat-column-valorTransportadoMonedas,
.mat-column-valorTotalTransportado {
  min-width: 130px;
}