<div class="tittle-section">
    <h2>Consultar Logs Administrativos</h2>
</div>
<div class="mat-table-custom">
    <div class="table-filter-container">

        <mat-form-field appearance="fill">
            <mat-label>Periodo</mat-label>
            <mat-date-range-input [rangePicker]="picker2">
                <input matStartDate matInput placeholder="Fecha Inicio" [(ngModel)]="fechaInicio" name="fechaInicio" />
                <input matEndDate matInput placeholder="Fecha Fin" [(ngModel)]="fechaFinal" name="fechaFinal" />
            </mat-date-range-input>
            <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
            <mat-date-range-picker #picker2></mat-date-range-picker>
            <mat-icon rangepickerToggleIcon matSuffix (click)="clearDate()">clear</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input type="text" matInput [(ngModel)]="usuario">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>IP Origen</mat-label>
            <input type="text" matInput [(ngModel)]="ipOrigen">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Opción de menú</mat-label>
            <mat-select [(ngModel)]="opcionMenuSelect">
                <mat-option *ngFor="let item of menuList" [value]="item">
                    {{item.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="action-filter-container">
            <button title="Buscar y Visualizar" mat-button (click)="consultarLogs()">
                <mat-icon style="color: green; font-size: 2em">search</mat-icon>
            </button>
            <button title="Limpiar Filtros" mat-button (click)="limpiar()">
                <mat-icon style="color: rgb(0, 2, 128); font-size: 2em;">autorenew</mat-icon>
            </button>
        </div>
    </div>
    <div class="controls-container">
        <button mat-raised-button color="primary" class="button-custom" (click)="exporterTable()">Exportar</button>
        <div class="paginator-area">
            <mat-paginator [pageSize]="10" [pageSizeOptions]="pageSizeOptions" [length]="cantidadRegistros"
                (page)="mostrarMas($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
    <div *ngIf="spinnerActive" class="disenio-spinner">
        <mat-spinner></mat-spinner>
    </div>
    <div [hidden]="spinnerActive">
        <table mat-table [dataSource]="dataSourceLogs" matSort matTableExporter #exporter="matTableExporter"
            class="mat-elevation-z8" aria-label="consulta-logs">
            <tr>
                <ng-container matColumnDef="ipOrigen" class="mat-column-ipOrigen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>IP ORIGEN</th>
                    <td mat-cell *matCellDef="let element"> {{element.ipOrigen}} </td>
                </ng-container>
                <ng-container matColumnDef="usuario" class="mat-column-tipoPunto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>USUARIO</th>
                    <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                </ng-container>
                <ng-container matColumnDef="fechaHora" class="mat-column-banco_aval">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA Y HORA</th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaHora | date:'dd/MM/yyyy HH:mm:ss' }} </td>
                </ng-container>
                <ng-container matColumnDef="estadoHttp" class="mat-column-estadoHttp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
                    <td mat-cell *matCellDef="let element"> {{element.estadoHttp}} </td>
                </ng-container>
                <ng-container matColumnDef="opcionMenu" class="mat-column-opcionMenu">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>OPCIÓN MENU</th>
                    <td mat-cell *matCellDef="let element"> {{element.opcionMenu}} </td>
                </ng-container>
                <ng-container matColumnDef="accionHttp" class="mat-column-accionHttp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ACCIÓN</th>
                    <td mat-cell *matCellDef="let element"> {{element.accionHttp}} </td>
                </ng-container>
                <!-- Columna oculta para exportar VALOR ANTERIOR -->
                <ng-container matColumnDef="valorAnteriorExport" matTableExporterHidden>
                    <th mat-header-cell *matHeaderCellDef>VALOR ANTERIOR</th>
                    <td mat-cell *matCellDef="let element">{{ element.valorAnterior }}</td>
                </ng-container>

                <!-- Columna visible con slice -->
                <ng-container matColumnDef="valorAnterior">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>VALOR ANTERIOR</th>
                    <td mat-cell *matCellDef="let element">
                        <span [matTooltip]="getTooltip(element.valorAnterior, element.valorNuevo)"
                            matTooltipClass="json-tooltip">
                            {{ element.valorAnterior | slice:0:40 }}{{ element.valorAnterior?.length > 40 ? '...' : ''
                            }}
                        </span>
                    </td>
                </ng-container>


                <!-- Columna oculta para exportar VALOR NUEVO -->
                <ng-container matColumnDef="valorNuevoExport" matTableExporterHidden>
                    <th mat-header-cell *matHeaderCellDef>VALOR NUEVO</th>
                    <td mat-cell *matCellDef="let element">{{ element.valorNuevo }}</td>
                </ng-container>

                <!-- Columna visible con slice -->
                <ng-container matColumnDef="valorNuevo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>VALOR NUEVO</th>
                    <td mat-cell *matCellDef="let element">
                        <span [matTooltip]="getTooltip(element.valorAnterior, element.valorNuevo)"
                            matTooltipClass="json-tooltip">
                            {{ element.valorNuevo | slice:0:40 }}{{ element.valorNuevo?.length > 40 ? '...' : '' }}
                        </span>
                    </td>
                </ng-container>

            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsLogs"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsLogs;"></tr>
        </table>
    </div>
</div>