/*
* ESTILOS PARA LA TABLA DE  CARGUE ARCHIVOS STEPER #1
*/

.tituloTabla {
    padding-top: 2%;
    text-align: center;
    margin-left: 32%;
}

.divMessageTableOK {
    background-color: rgb(253, 226, 153);
    padding: 0.3em;
    margin-right: 50%;
}
.divMessageTableErr {
    background-color: rgb(153, 253, 153);
    padding: 0.3em;
    margin-right: 60%;
}