<app-filtro-banco-tdv (filterData)="filter($event)"></app-filtro-banco-tdv>

<div class="divTablaCerti">
    <div class="divTituloTablas">
        <h1 class="tituloTabla">Operaciones certificadas no conciliadas </h1>
        <span class="line-spacer"></span>
    </div>
    <div class="configScroll">
        <table mat-table [dataSource]="dataSourceOperacionesCertificadas" matSort>
            <tr>
                <ng-container matColumnDef="codigoFondoTDV" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>COD. FONDO TDV</th>
                    <td mat-cell *matCellDef="let element"> {{element.codigoFondoTDV}} </td>
                </ng-container>

                <ng-container matColumnDef="codigoPuntoOrigen" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>COD PUNTO ORIGEN</th>
                    <td mat-cell *matCellDef="let element"> {{element.codigoPuntoOrigen}} </td>
                </ng-container>

                <ng-container matColumnDef="codigoPuntoDestino">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CODIGO DESTINO</th>
                    <td mat-cell *matCellDef="let element"> {{element.codigoPuntoDestino}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaEjecucion" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA EJECUCION</th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaEjecucion | date: 'dd/MM/YYYY'}} </td>
                </ng-container>

                <ng-container matColumnDef="tipoOperacion" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO OPERACION</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoOperacion}} </td>
                </ng-container>

                <ng-container matColumnDef="tipoServicio" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO SERVICIO</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoServicio}} </td>
                </ng-container>

                <ng-container matColumnDef="estadoConciliacion" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO CONCILIACION</th>
                    <td mat-cell *matCellDef="let element"> {{element.estadoConciliacion}} </td>
                </ng-container>

                <ng-container matColumnDef="conciliable" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CONCILIABLE</th>
                    <td mat-cell *matCellDef="let element"> {{element.conciliable}} </td>
                </ng-container>

                <ng-container matColumnDef="valorTotal" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>VALOR TOTAL</th>
                    <td mat-cell *matCellDef="let element"> {{element.valorTotal}} </td>
                </ng-container>

                <ng-container matColumnDef="valorFaltante" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>VALOR FALTANTE</th>
                    <td mat-cell *matCellDef="let element"> {{element.valorFaltante}} </td>
                </ng-container>

                <ng-container matColumnDef="valorSobrante" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>VALOR SOBRANTE</th>
                    <td mat-cell *matCellDef="let element"> {{element.valorSobrante}} </td>
                </ng-container>

                <ng-container matColumnDef="fallidaOficina" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>FALLIDO OFICINA</th>
                    <td mat-cell *matCellDef="let element"> {{element.fallidaOficina}} </td>
                </ng-container>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsOperacionesCertificadas"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOperacionesCertificadas;"></tr>
        </table>
    </div>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidadRegistros"
        (page)="mostrarMas($event)">
    </mat-paginator>
</div>