<app-filtro-banco-tdv (filterData)="filter($event)"></app-filtro-banco-tdv>
<div class="division">
    <div>
        <div class="divTituloTablas">
            <h3 class="tituloTabla">Operaciones programadas no conciliadas </h3>
        </div>
        <div class="row">
            <div class="col-2">
                <button mat-raised-button color="primary"
                (click)="exporterProg.exportTable('xlsx', {fileName:'operaciones_programadas_no_conciliadas'})">Exportar
                tabla</button>
            </div>
            <div class="col-2">
                <button mat-raised-button color="primary" (click)="conciliacionManual()">Comparar</button>
            </div>
            <div class="col-6">
            <mat-paginator [pageSize]="10" [pageSizeOptions]="pageSizeListProg"
                [length]="cantidadRegistrosOpProgramadasSinConciliar"
                (page)="mostrarMasOpProgramadasSinConciliar($event)">
            </mat-paginator>
            </div>
        </div>
        <div>
            <div *ngIf="loadProg" class="disenio-spinner">
                <mat-spinner></mat-spinner>
            </div>
            <table mat-table matTableExporter [dataSource]="dataSourceOperacionesProgramadas" matSort #sort1="matSort"
                #exporterProg="matTableExporter" aria-label="OperacionesProgramadas">
                    <ng-container matColumnDef="idOperacion" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                        <td mat-cell *matCellDef="let element"> {{element.idOperacion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tipoOperacion" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Operacion</th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoOperacion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="oficina" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Oficina</th>
                        <td mat-cell *matCellDef="let element"> {{element.oficina}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nombrePuntoOrigen" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Punto Origen</th>
                        <td mat-cell *matCellDef="let element"> {{element.nombrePuntoOrigen}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nombrePuntoDestino" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Punto Destino</th>
                        <td mat-cell *matCellDef="let element"> {{element.nombrePuntoDestino}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaOrigen" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Origen</th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaOrigen | date: 'dd/MM/YYYY' : '+00'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="entradaSalida" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Entrada-Salida</th>
                        <td mat-cell *matCellDef="let element"> {{element.entradaSalida}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valorTotal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Total</th>
                        <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef>Info</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button (click)="infoOpProgramadas(element)">
                                <mat-icon style="color: yellowgreen">info</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="relacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>RELACION</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field class="example-form-field" class="ancho" appearance="fill">
                                <input id="idsValue" matInput type="text" (keyup.enter)="eventoEnter($event,element)"
                                    (input)="getIdCompare($event,element)">
                            </mat-form-field>
                        </td>
                    </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsOperacionesProgramadas"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOperacionesProgramadas;"></tr>
            </table>
        </div>
    </div>
    <div>
        <div>
            <h3 class="tituloTabla">Operaciones certificadas no conciliadas </h3>
        </div>
        <div class="row">
            <div class="col-2">
                <button mat-raised-button color="primary"
                (click)="exporter.exportTable('xlsx', {fileName:'operaciones_certificadas_no_conciliadas'})">Exportar
                tabla</button>
            </div>
            <div class="col-8">
            <mat-paginator [pageSize]="10" [pageSizeOptions]="pageSizeListCert"
                [length]="cantidadRegistrosOpCertificadasSinConciliar"
                (page)="mostrarMasOpCertificadasSinConciliar($event)">
            </mat-paginator>
            </div>
        </div>
        <div>
            <div *ngIf="loadCert" class="disenio-spinner">
                <mat-spinner></mat-spinner>
            </div>
            <table mat-table matTableExporter [dataSource]="dataSourceOperacionesCertificadas" matSort
                #sort2="matSort" #exporter="matTableExporter" aria-label="OperacionesCertificadas">
                    <ng-container matColumnDef="idCertificacion" class="mat-column-nombreCampo">
                        <th *matHeaderCellDef mat-sort-header mat-header-cell>ID</th>
                        <td mat-cell *matCellDef="let element"> {{element.idCertificacion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tipoOperacion" class="mat-column-nombreCampo">
                        <th *matHeaderCellDef mat-sort-header mat-header-cell>Tipo Operacion</th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoOperacion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="oficina" class="mat-column-nombreCampo">
                        <th *matHeaderCellDef mat-sort-header mat-header-cell>Oficina</th>
                        <td mat-cell *matCellDef="let element"> {{element.oficina}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nombrePuntoOrigen" class="mat-column-nombreCampo">
                        <th *matHeaderCellDef mat-sort-header mat-header-cell>Nombre Punto Origen</th>
                        <td mat-cell *matCellDef="let element"> {{element.nombrePuntoOrigen}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nombrePuntoDestino" class="mat-column-nombreCampo">
                        <th *matHeaderCellDef mat-sort-header mat-header-cell>Nombre Punto Destino</th>
                        <td mat-cell *matCellDef="let element"> {{element.nombrePuntoDestino}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ciudadFondo" class="mat-column-nombreCampo">
                        <th *matHeaderCellDef mat-sort-header mat-header-cell>Ciudad Fondo</th>
                        <td mat-cell *matCellDef="let element"> {{element.ciudadFondo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaEjecucion" class="mat-column-nombreCampo">
                        <th *matHeaderCellDef mat-sort-header mat-header-cell>Fecha Ejecucion</th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaEjecucion | date: 'dd/MM/YYYY' :
                            '+00'}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="entradaSalida" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Entrada-Salida</th>
                        <td mat-cell *matCellDef="let element"> {{element.entradaSalida}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valorTotal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor Total</th>
                        <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef>Info</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button (click)="infoOpCertificadas(element)">
                                <mat-icon style="color: yellowgreen">info</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsOperacionesCertificadas"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsOperacionesCertificadas;"></tr>
            </table>
        </div>
    </div>
</div>
