<h3 mat-dialog-title>{{data.msn.nombreArchivo}}</h3>
<div style="overflow-x: scroll; overflow-y: scroll; height: 500px;" class="" *ngIf="data.msn.estado === 'PENDIENTE'">
    <div *ngFor="let cont of data.msn.contenidoArchivo; let i=index" class="custom-detail-dialog">
        <p style="width: 320%;">{{cont}}</p>
    </div>
</div>
<div style="overflow-x: scroll; overflow-y: scroll; height: 500px;" *ngIf="data.msn.estado !== 'PENDIENTE'" >
<div *ngFor="let contNo of dataNoPendiente; let i=index"  class="custom-detail-dialog">
    <p style="width: 320%;">{{contNo}}</p>
</div>
</div>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="descargarArchivo()" class="button-custom">Descargar</button>
    <button mat-raised-button color="warn" mat-dialog-close class="button-custom">Cerrar</button>
</mat-dialog-actions>