/*
* ESTILOS PARA LOG CARGUE ARCHIVOS STEPER #2
*/

.label {
    padding-right: 7%;
}

.divLogCargue {
    border: 1px solid rgb(196, 196, 196);
}

.formLogCargue {
    padding: 1%;
}

.barraEstadoCargueOK { 
    background-color: rgb(153, 253, 153);
    padding: 0.4em;
    margin-right: 30%;
    border: 1px solid rgb(207, 206, 206);
    color: rgb(255, 255, 255);
}

.barraEstadoCargueErr { 
    background-color: rgba(223, 0, 0, 0.767);
    padding: 0.4em;
    margin-right: 30%;
    border: 1px solid rgb(207, 206, 206);
    color: rgb(255, 255, 255);
    font-size: 20px;
}