<h1 class="tituloTabla">¿Seguro que desea desconciliar?</h1>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="example-button-row" >
            <button mat-raised-button color="primary" (click)="desconciliar()">SI</button>
            </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="example-button-row" >
            <button mat-raised-button mat-button mat-dialog-close color="warn" (click)="close()">NO</button>
            </div>
    </mat-grid-tile>
  </mat-grid-list>


