<h2 mat-dialog-title>{{data.msn.nombreArchivo}}</h2>
<div style="overflow-x: scroll; overflow-y: scroll; height: 500px;" *ngIf="data.msn.estado === 'PENDIENTE'">
    <div *ngFor="let cont of data.msn.contenidoArchivo; let i=index">
        <p style="width: 320%;">{{cont}}</p>
    </div>
</div>
<div style="overflow-x: scroll; overflow-y: scroll; height: 500px;" *ngIf="data.msn.estado !== 'PENDIENTE'" >
<div *ngFor="let contNo of dataNoPendiente; let i=index">
    <p style="width: 320%;">{{contNo}}</p>
</div>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button color="secondary" mat-dialog-close>Cerrar</button>
    <button mat-raised-button color="primary" (click)="descargarArchivo()">Descargar</button>
</mat-dialog-actions>