<h2 mat-dialog-title>{{data.msn.nombreArchivo}}</h2>
<div *ngIf="data.msn.estado === 'PENDIENTE'" style="overflow-x: scroll; overflow-y: scroll; height: 500px;">
    <div *ngFor="let contenido of data.msn.contenidoArchivo">
        <p style="width: 320%;">{{contenido}}</p>
    </div>
</div>
<div *ngIf="data.msn.estado !== 'PENDIENTE'" style="overflow-x: scroll; overflow-y: scroll; height: 500px;">
<div *ngFor="let contenidoNoPendiente of dataNoPendiente">
    <p style="width: 320%;">{{contenidoNoPendiente}}</p>
</div>
</div>
<mat-dialog-actions align="center">
    <button color="primary" mat-raised-button class="button-custom" (click)="descargarArchivo()">Descargar</button>
    <button color="warn" class="button-custom" mat-raised-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
