<div style="overflow-x: auto; overflow-y: auto; height: 300px;">
    <div class="col-12 row">
        <div class="col-12">
            <h2>¿Desea {{accion}} estos {{data.msn.items.length}} registros que se encuentran almacenados en el sistema,
                pero no fueron cobrados por la TDV?</h2>
        </div>
        <div class="col-12">
            <textarea [(ngModel)]="observacion" cols="97" rows="10" placeholder="Observaciones"
                style="border: ridge; border-radius: 10px;"></textarea>
        </div>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button color="secondary" (click)="closeModal()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="aceptarRechazar()">Aceptar</button>
</mat-dialog-actions>