<div *ngIf="spinnerActive" class="disenio-spinner">
  <mat-spinner></mat-spinner>
</div>
  <!-- Content para mostrarTabla -->
      <div *ngIf="mostrarTabla" class="divTablaCerti">
        <div class="filtro">
          <mat-form-field appearance="fill">
            <mat-label>Tipo Punto</mat-label>
            <mat-select [(ngModel)]="puntoSeleccionado" >
              <mat-option>Ninguno</mat-option>
              <mat-option *ngFor="let tipoPunto of listPuntosSelect" [value]="tipoPunto">
                {{tipoPunto.valorTexto}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" id="field-bancos-list">
            <mat-label>Banco</mat-label>
            <mat-select [(ngModel)]="filtroBancoSelect">
              <mat-option *ngFor="let item of bancos" [value]="item">
                {{item.nombreBanco}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" id="field-transportadoras-list">
            <mat-label >Transportadora</mat-label>
            <mat-select [(ngModel)]="filtroTransportaSelect">
              <mat-option *ngFor="let item of transportadoras" [value]="item">
                {{item.nombreTransportadora}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Ciudad</mat-label>
            <mat-select [(ngModel)]="listCiudadSelect">
              <mat-option *ngFor="let item of ciudades" [value]="item">
                {{item.nombreCiudad}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input type="text" matInput placeholder="Código Propio" [(ngModel)]="filtroCodigoPropio">
          </mat-form-field>
          <button title="Visualizar" mat-button (click)="filtrar($event)">
            <mat-icon style="color: green">search</mat-icon>
          </button>
        </div>
        <div class="row">
          <div class="col-2">
            <button mat-raised-button class="ubicacion-btn-dominio" color="primary"
                  (click)="crearPuntoCodigo()">Nuevo</button>
          </div>
          <div class="col-2">
            <button mat-raised-button color="primary"
                  (click)="exporter.exportTable('xlsx', {fileName:'puntos-codigo-tdv'})">Exportar</button>
          </div>
          <div class="col-8">
            <mat-paginator [pageSize]="10" [pageSizeOptions]="pageSizeOptions" [length]="cantidadRegistros"
                  (page)="mostrarMas($event)" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
        <div class="configScroll">
          <table mat-table matTableExporter [dataSource]="dataSourceCodigoPuntoTdv" matSort
                 #exporter="matTableExporter" class="mat-elevation-z8" aria-label="puntos-codigo-tdv">
            <tr>
              <ng-container matColumnDef="idPuntoCodigoTdv">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element" > {{element.idPuntoCodigoTdv}} </td>
              </ng-container>
              <ng-container matColumnDef="codigoPunto" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Código Punto</th>
                <td mat-cell *matCellDef="let element"> {{element.codigoPunto}} </td>
              </ng-container>
              <ng-container matColumnDef="tipoPunto" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Punto</th>
                <td mat-cell *matCellDef="let element"> {{element.puntosDTO.tipoPunto}} </td>
              </ng-container>
              <ng-container matColumnDef="codigoTdv" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Código TDV</th>
                <td mat-cell *matCellDef="let element"> {{element.codigoTDV}} </td>
              </ng-container>
              <ng-container matColumnDef="codigoPropioTdv" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Código Propio TDV</th>
                <td mat-cell *matCellDef="let element"> {{element.codigoPropioTDV}} </td>
              </ng-container>
              <ng-container matColumnDef="nombrePunto" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Punto</th>
                <td mat-cell *matCellDef="let element"> {{element.puntosDTO.nombrePunto}} </td>
              </ng-container>
              <ng-container matColumnDef="nombreBanco" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
                <td mat-cell *matCellDef="let element"> {{element.bancosDTO.nombreBanco}} </td>
              </ng-container>
              <ng-container matColumnDef="codigoCiudad" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad Fondo</th>
                <td mat-cell *matCellDef="let element"> {{resolverCiudadFondo(element.ciudadFondo)}} </td>
              </ng-container>
              <ng-container matColumnDef="estado" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                <td mat-cell *matCellDef="let element"> {{resolverEstado(element.estado)}} </td>
              </ng-container>
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button (click)="actualizarPuntoCodigo(element)">
                    <mat-icon style="color: green">edit</mat-icon>
                  </button>
                </td>
              </ng-container>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsCodigoPuntoTdv"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCodigoPuntoTdv;"></tr>
          </table>
        </div>
      </div>
      <!-- Fin content mostrarTabla-->

    <ng-container *ngIf="mostrarFormulario" class="flex">
      <!-- Content mostrarFormulario-->
      <div class="division-btn" >
        <button mat-raised-button class="ubicacion-btn-dominio" color="primary"
                (click)="irAtras()">Atras</button>
      </div>

      <div >
        <div [formGroup]="form" *ngIf="mostrarFormulario">
          <div>
            <!--Id Punto Codigo TDV-->
            <mat-form-field appearance="outline" >
              <mat-label>Id Punto Código TDV</mat-label>
              <input matInput placeholder="Id Punto Código TDV" formControlName="idPuntoCodigo">
            </mat-form-field>

            <!--Banco-->
            <mat-form-field appearance="outline">
              <mat-label>Banco</mat-label>
              <mat-select required formControlName="banco" (selectionChange)="selectedBanco($event)">
                <mat-option *ngFor="let item of bancos" [value]="item">
                  {{item.nombreBanco}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('banco').hasError('required')">Este campo es requerido</mat-error>
            </mat-form-field>

            <!--Transportadora-->
            <mat-form-field appearance="outline" *ngIf="tdvSelect || esEdicion">
              <mat-label>TDV</mat-label>
              <mat-select required formControlName="codigoTdv" (selectionChange)="selectedTdv($event)">
                <mat-option *ngFor="let item of transportadoras" [value]="item">
                  {{item.nombreTransportadora}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('codigoTdv').hasError('required')">Este campo es requerido</mat-error>
            </mat-form-field>

            <!--Codigo Propio TDV-->
            <mat-form-field appearance="outline">
              <mat-label>Código Propio TDV</mat-label>
              <input matInput placeholder="Código Propio TDV" formControlName="codigoPropioTDV">
              <mat-error *ngIf="form.get('codigoPropioTDV').hasError('required')">Este campo es requerido</mat-error>
            </mat-form-field>

            <!--Tipo Punto-->
            <mat-form-field appearance="outline" *ngIf="tipoPuntoSelect || esEdicion">
              <mat-label>Tipo Punto</mat-label>
              <mat-select formControlName="tipoPunto" [(value)]="selectedTipoPunto" (selectionChange)="changeTipoPunto($event)">
                <mat-option value="">Ninguno</mat-option>
                <mat-option value="BAN_REP">BAN_REP</mat-option>
                <mat-option value="CAJERO">CAJERO</mat-option>
                <mat-option value="BANCO">BANCO</mat-option>
                <mat-option value="OFICINA">OFICINA</mat-option>
                <mat-option value="FONDO">FONDO</mat-option>
                <mat-option value="CLIENTE">CLIENTE</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('tipoPunto').hasError('required')">Este campo es requerido</mat-error>
            </mat-form-field>

            <!--Cliente-->
            <mat-form-field appearance="outline" *ngIf="selectedTipoPunto=='CLIENTE'">
              <mat-label>Cliente</mat-label>
              <mat-select formControlName="cliente" (selectionChange)="filtrarPuntosCliente($event)">
                <mat-option value="">Ninguno</mat-option>
                <mat-option *ngFor="let item of clientes" [value]="item">
                  {{item.nombreCliente}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!--Punto-->
            <mat-form-field appearance="outline" *ngIf="puntoSelect || esEdicion">
              <mat-label>Punto</mat-label>
              <mat-select required formControlName="punto" (selectionChange)="changePunto($event)">
                <mat-option *ngFor="let item of puntos" [value]="item">
                  {{item.nombrePunto}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!--Codigo Punto-->
            <mat-form-field appearance="outline">
              <mat-label>Código Punto</mat-label>
              <input type="number" matInput placeholder="Código Punto" formControlName="codigoPunto" readonly>
            </mat-form-field>

            <!--Ciudad-->
            <mat-form-field appearance="outline" *ngIf="selectedTipoPunto=='BAN_REP'">
              <mat-label>Ciudad Fondo</mat-label>
              <input type="text" matInput placeholder="Ciudad Fondo" formControlName="codigoDANE" readonly>
            </mat-form-field>

            <!--Estado-->
            <div class="division-estado" appearance="outline">
              <h3>Estado</h3>
              <label class="switch" >
                <input class="switch-input" type="checkbox" formControlName="estado" id="estado" />
                <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>

          <button mat-raised-button type="button" (click)="persistir()" class="ubicacion-btn" color="primary"
                  [disabled]="form.invalid">Aceptar</button>
        </div>
      </div>
      <!--Fin content mostrarFOrmulario -->
    </ng-container>
