<mat-card class="card-limites">
    <mat-card-title>Puntos Codigo TDV</mat-card-title>
    <div *ngIf="mostrarTabla">
        <div class="division-btn">
            <button *ngIf="habilitarBTN" class="division-btn1" mat-raised-button class="ubicacion-btn-dominio" color="primary"
                (click)="crearPuntoCodigo()">Crear Puntos Codigo TDV</button>
        </div>
    </div>
    <div *ngIf="mostrarTabla == false">
        <div class="division-btn">
            <button class="division-btn1" mat-raised-button class="ubicacion-btn-dominio" color="primary"
                (click)="irAtras()">Atras</button>
        </div>
    </div>
    <br>
    <div *ngIf="mostrarTabla" class="divTablaCerti">
        <div class="filtro">
            <mat-form-field appearance="fill">
                <mat-label>Bancos</mat-label>
                <mat-select [(ngModel)]="filtroBancoSelect">
                    <mat-option *ngFor="let item of bancos" [value]="item">
                        {{item.nombreBanco}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Transporta</mat-label>
                <mat-select [(ngModel)]="filtroTransportaSelect">
                    <mat-option *ngFor="let item of transportadoras" [value]="item">
                        {{item.nombreTransportadora}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Codigo Propio" [(ngModel)]="filtroCodigoPropio">
            </mat-form-field>
            <button title="Visualizar" mat-button (click)="filtrar($event)">
                <mat-icon style="color: green">search</mat-icon>
            </button>
        </div>
        <div class="configScroll">
            <table mat-table matTableExporter [dataSource]="dataSourceCodigoPuntoTdv" matSort
                #exporter="matTableExporter">
                <tr>
                    <ng-container matColumnDef="codigoPunto" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>CODIGO PUNTO</th>
                        <td mat-cell *matCellDef="let element"> {{element.codigoPunto}} </td>
                    </ng-container>
                    <ng-container matColumnDef="codigoTdv" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>TDV</th>
                        <td mat-cell *matCellDef="let element"> {{element.codigoTDV}} </td>
                    </ng-container>
                    <ng-container matColumnDef="codigoPropioTdv" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PROPIO TDV</th>
                        <td mat-cell *matCellDef="let element"> {{element.codigoPropioTDV}} </td>
                    </ng-container>
                    <ng-container matColumnDef="punto" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PUNTO</th>
                        <td mat-cell *matCellDef="let element"> {{element.puntosDTO.nombrePunto}} </td>
                    </ng-container>
                    <ng-container matColumnDef="banco" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>BANCO</th>
                        <td mat-cell *matCellDef="let element"> {{element.bancosDTO.nombreBanco}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button (click)="actualizarPuntoCodigo(element)">
                                <mat-icon style="color: green">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsCodigoPuntoTdv"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCodigoPuntoTdv;"></tr>
            </table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidadRegistros"
                (page)="mostrarMas($event)">
            </mat-paginator>
        </div>
        <br>
        <button *ngIf="habilitarBTN" mat-raised-button color="primary"
            (click)="exporter.exportTable('xlsx', {fileName:'puntos-codigo-tdv'})">Exportar tabla</button>
    </div>


    <div style="width: 80%" class="ubicacionTablas">
        <form class="example-container" [formGroup]="form" #frmPaciente="ngForm" *ngIf="mostrarFormulario"
            (ngSubmit)="persistir()">
            <div >
                <!--Id Punto Codigo TDV-->
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Id Punto Codigo TDV" formControlName="idPuntoCodigo">
                </mat-form-field>

                <!--Banco-->
                <mat-form-field appearance="outline">
                    <mat-label>Banco</mat-label>
                    <mat-select required formControlName="banco" (selectionChange)="selectedBanco($event)">
                        <mat-option *ngFor="let item of bancos" [value]="item">
                            {{item.nombreBanco}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!--Transportadora-->
                <mat-form-field appearance="outline" *ngIf="tdvSelect || esEdicion">
                    <mat-label>TDV</mat-label>
                    <mat-select required formControlName="codigoTdv" (selectionChange)="selectedTdv($event)">
                        <mat-option *ngFor="let item of transportadoras" [value]="item">
                            {{item.nombreTransportadora}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!--Codigo Propio TDV-->
                <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput placeholder="Codigo Propio TDV" formControlName="codigoPropioTDV" required>
                </mat-form-field>

                <!--Tipo Punto-->
                <mat-form-field appearance="outline" *ngIf="tipoPuntoSelect || esEdicion">
                    <mat-label>Tipo Punto</mat-label>
                    <mat-select formControlName="tipoPunto" [(value)]="selectedTipoPunto" (selectionChange)="filtrarPuntos($event)">
                        <mat-option value="">Ninguno</mat-option>
                        <mat-option value="BAN_REP">BAN_REP</mat-option>
                        <mat-option value="CAJERO">CAJERO</mat-option>
                        <mat-option value="BANCO">BANCO</mat-option>
                        <mat-option value="OFICINA">OFICINA</mat-option>
                        <mat-option value="FONDO">FONDO</mat-option>
                        <mat-option value="CLIENTE">CLIENTE</mat-option>
                    </mat-select>
                </mat-form-field>

                <!--Cliente-->
                <mat-form-field appearance="outline" *ngIf="clienteSelect">
                    <mat-label>Cliente</mat-label>
                    <mat-select formControlName="cliente" (selectionChange)="filtrarPuntosCliente($event)">
                        <mat-option value="">Ninguno</mat-option>
                        <mat-option *ngFor="let item of clientes" [value]="item">
                            {{item.nombreCliente}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!--Punto-->
                <mat-form-field appearance="outline" *ngIf="puntoSelect || esEdicion">
                    <mat-label>Punto</mat-label>
                    <mat-select required formControlName="punto" (selectionChange)="changePunto($event)">
                        <mat-option *ngFor="let item of puntos" [value]="item">
                            {{item.nombrePunto}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!--Codigo Punto-->
                <mat-form-field appearance="outline">
                    <mat-label>Codigo Punto</mat-label>
                    <input type="number" matInput placeholder="Codigo Punto" formControlName="codigoPunto" readonly>
                </mat-form-field>

                <!--Ciudad-->
                <mat-form-field appearance="outline" *ngIf="ciudadSelect || esEdicion">
                    <mat-label>Ciudad</mat-label>
                    <input type="text" matInput placeholder="Ciudad" formControlName="codigoDANE" readonly>
                </mat-form-field>
                
                <!--Estado-->
                <div class="division-estado" appearance="outline">
                    <label class="switch" >
                        <input class="switch-input" type="checkbox" formControlName="estado" id="estado" />
                        <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
                        <span class="switch-handle"></span>
                    </label>
                    <p>ESTADO</p>
                </div>
            </div>

            <button mat-raised-button type="submit" class="ubicacion-btn" color="primary"
                [disabled]="frmPaciente.invalid">Aceptar</button>
        </form>
    </div>
</mat-card>