<div class="titulo-tabla">
    <h2>{{titulo}} punto</h2>
</div>
<div *ngIf="spinnerActive" class="disenio-spinner">
  <mat-spinner></mat-spinner>
</div>
<div [formGroup]="form" >
    <div class="flex">
        <mat-form-field appearance="outline">
          <mat-label>Tipo Punto</mat-label>
            <mat-select formControlName="tipoPunto" (selectionChange)="changeTipoPunto($event)">
                <mat-option *ngFor="let tipoPunto of listPuntosSelect" [value]="tipoPunto.valorTexto">
                    {{tipoPunto.valorTexto}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('tipoPunto').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Banco Aval</mat-label>
        <mat-select formControlName="bancoAval" (selectionChange)="changeBancoAval($event)" 
          [disabled]="puntoSeleccionado=='BAN_REP' || puntoSeleccionado=='BANCO'">
          <mat-option *ngFor="let bancoAval of bancosAval" [value]="bancoAval" >
            {{bancoAval.nombreBanco}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('bancoAval').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field appearance="outline">
        <mat-label>Nombre Punto</mat-label>
          <input class="mayusculas" formControlName="nombre" matInput #input>
          <mat-error *ngIf="form.get('nombre').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ciudad</mat-label>
            <mat-select formControlName="ciudad">
              <mat-option>Ninguno</mat-option>
                <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                    {{ciudad.nombreCiudad}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="flex">
        <mat-form-field appearance="outline" *ngIf="puntoSeleccionado === 'CLIENTE'">
            <mat-label>Cliente</mat-label>
            <mat-select formControlName="cliente">
                <mat-option *ngFor="let cliente of clientes" [value]="cliente">
                    {{cliente.nombreCliente}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('nombre').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" *ngIf="puntoSeleccionado === 'FONDO'">
            <mat-label>Transportadora</mat-label>
            <mat-select formControlName="transportadora">
                <mat-option *ngFor="let transportadora of tdvs" [value]="transportadora">
                    {{transportadora.nombreTransportadora}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('nombre').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field appearance="outline" *ngIf="puntoSeleccionado === 'OFICINA'">
        <mat-label>Código oficina</mat-label>
          <input type="number" formControlName="codigoOficina" matInput #input>
          <mat-error *ngIf="form.get('nombre').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="outline" *ngIf="puntoSeleccionado === 'CAJERO'">
        <mat-label>Código cajero</mat-label>
          <input formControlName="codigoCajero" matInput #input>
          <mat-error *ngIf="form.get('nombre').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field appearance="outline" *ngIf="puntoSeleccionado === 'OFICINA' || puntoSeleccionado === 'CAJERO'">
        <mat-label>Tarifa ruteo</mat-label>
          <input type="number" formControlName="tarifaRuteo" matInput #input>
      </mat-form-field>
    
      <mat-form-field appearance="outline" *ngIf="puntoSeleccionado === 'OFICINA' || puntoSeleccionado === 'CAJERO'">
        <mat-label>Tarifa Verificación</mat-label>
          <input type="number" formControlName="tarifaVerificacion" matInput #input>
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field appearance="outline" *ngIf="puntoSeleccionado === 'BANCO'">
        <mat-label>Codigo de compensación</mat-label>
          <input formControlName="codigoCompensacion" matInput #input>
      </mat-form-field>
    
      <mat-form-field appearance="outline" *ngIf="puntoSeleccionado === 'BANCO'">
        <mat-label>Identificación (NIT)</mat-label>
          <input formControlName="identificacion" matInput #input>
      </mat-form-field>
    </div>

    <div>      
      <mat-form-field appearance="outline" *ngIf="puntoSeleccionado === 'BANCO'">
        <mat-label>Abreviatura</mat-label>
          <input formControlName="abreviatura" matInput #input>
      </mat-form-field>
    </div>

    <div *ngIf="puntoSeleccionado === 'BANCO'">
      <mat-checkbox formControlName="esAval" class="margen-checkbox" color="primary">
        Es del Grupo Aval</mat-checkbox>
    </div>
    <div *ngIf="puntoSeleccionado === 'CLIENTE' || puntoSeleccionado === 'OFICINA'">
      <mat-checkbox class="margen-checkbox" formControlName="fajado" color="primary">Fajado</mat-checkbox>
    </div>
    <div *ngIf="puntoSeleccionado === 'OFICINA'">
      <mat-checkbox formControlName="refajillado" class="margen-checkbox" color="primary">Refajillado</mat-checkbox>
    </div>

    <div class="div-division">
      <h3>Estado</h3>
      <label class="switch" appearance="outline">
        <input class="switch-input" type="checkbox" formControlName="estado" id="estado"/>
        <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
        <span class="switch-handle"></span>
    </label>
    </div>

    <div class="division-btn-ident">
        <div>
            <button mat-raised-button color="primary"
                (click)="persistir()" [disabled]="form.invalid">Guardar</button>
        </div>
        <div>
            <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
        </div>
    </div>
</div>
