<div class="modal-dialog-custom">
  <div class="titulo-tabla">
    <h2>Cliente Corporativo</h2>
  </div>
  <div [formGroup]="form" class="form-fields">
    <mat-form-field appearance="fill">
      <mat-label>Código Cliente</mat-label>
      <input formControlName="codigoCliente" matInput #input>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Banco Aval</mat-label>
      <mat-select required formControlName="codigoBancoAval">
        <mat-option *ngFor="let item of bancos" [value]="item">
          {{item.nombreBanco}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('codigoBancoAval').hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nombre Cliente Corporativo</mat-label>
      <input matInput required formControlName="nombreCliente">
      <mat-error *ngIf="form.get('nombreCliente').hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tipo de identificación</mat-label>
      <mat-select required formControlName="tipoId">
        <mat-option *ngFor="let item of tiposIdentificacion" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('tipoId').hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Numero de identificación</mat-label>
      <input matInput required formControlName="identificacion">
      <mat-error *ngIf="form.get('identificacion').hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tarifa separación</mat-label>
      <input matInput required placeholder="0" type="number" formControlName="tarifaSeparacion">
      <mat-error *ngIf="form.get('tarifaSeparacion').hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>
    <div class="mat-form-field-wrapper">
      <mat-checkbox formControlName="amparado" color="primary" labelPosition="before">Amparado</mat-checkbox>
    </div>
    <div class="mat-form-field-wrapper">
      <mat-checkbox formControlName="aplicaTarifaEspecial" color="primary" labelPosition="before">Aplica tarifa especial</mat-checkbox>
    </div>
  </div>
  <div class="button-container">
    <button class="button-custom" mat-raised-button type="button" color="primary"
      (click)="saveClienteCorporativo()">Aceptar</button>
    <button class="button-custom" mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
  </div>
</div>