<mat-card class="card-limites">
    <br><br>
    <mat-card-title>Gestión Centros Ciudades</mat-card-title>
    <div>
        <div class="division-btn">
            <button class="division-btn1" mat-raised-button class="ubicacion-btn-dominio" color="primary"
                (click)="crearCentroCiudad()">Crear Centro Ciudad</button>
        </div>
    </div>

    <div style="width: 30%; margin-top: 3%" class="ubicacionTablas">
        <div class="div-tabla-dominio">
            <table mat-table [dataSource]="dataSourceTiposCuentas" matSort class="configScroll">
                <caption></caption>
                <tr>
                    <ng-container matColumnDef="banco" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
                        <td mat-cell *matCellDef="let element"> {{element.bancoAval.nombreBanco}} </td>
                    </ng-container>
                    <ng-container matColumnDef=" " class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="ciudad" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</th>
                        <td mat-cell *matCellDef="let element"> {{element.ciudadDane.nombreCiudad}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="codigoCentro" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código Centro</th>
                        <td mat-cell *matCellDef="let element"> {{element.codigoCentro}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="acciones" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button (click)="editar(element)">
                                <mat-icon style="color: green">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsTiposCuentas"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsTiposCuentas;"></tr>
            </table>
        </div>
    </div>
    <div style="width: 70%" class="ubicacionTablas">
        <div class="example-container" [formGroup]="form" #frmCiudades="ngForm" *ngIf="mostrarFormulario">
            <div style="padding-left: 10%;">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Centro ciudad" required formControlName="idCentroCiudad">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Banco Aval</mat-label>
                    <mat-select formControlName="bancoAval">
                        <mat-option *ngFor="let item of bancos" [value]="item">
                            {{item.nombreBanco}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Ciudad</mat-label>
                    <mat-select formControlName="codigoDane">
                        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                            {{ciudad.nombreCiudad}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Código Centro" required formControlName="codigoCentro">
                </mat-form-field>
            </div>
            <div  class="tamanio-btn">
                <button mat-raised-button color="primary" type="button" (click)="persistir()" [disabled]="frmCiudades.invalid">
                    Aceptar
                </button>
                </div>
            </div>
    </div>
</mat-card>