<div class="tittle-section">
  <h2>Cierre Contabilidad {{tipoContabilidad}}</h2>
</div>
<div class="mat-table-custom">
  <div *ngIf="load" class="disenio-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="spacer-content"></div>
  <div *ngIf="!load">
    <table mat-table [dataSource]="dataSourceInfoProcesos" matSort class="mat-elevation-z8">
      <caption></caption>
      <ng-container class="text-bg-light" matColumnDef="fechaCreacion">
        <th id="fechaCreacion" mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-light">FECHA PROCESO
        </th>
        <td mat-cell *matCellDef="let element" class="text-align-center"> {{element.fechaCreacion | date: 'dd/MM/YYYY' : '+00'}} </td>
      </ng-container>

      <ng-container class="text-bg-light" matColumnDef="codigoProceso">
        <th id="codigoProceso" mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-light">ACTIVIDAD</th>
        <td mat-cell *matCellDef="let element" class="text-align-center"> {{element.codigoProceso}} </td>
      </ng-container>

      <ng-container class="text-bg-light" matColumnDef="estadoProceso">
        <th id="estadoProceso" mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-light">ESTADO</th>
        <td mat-cell *matCellDef="let element" class="text-align-center"> {{element.estadoProceso}} </td>
      </ng-container>

      <ng-container class="text-bg-light" matColumnDef="acciones">
        <th id="acciones" mat-header-cell *matHeaderCellDef class="text-bg-light">ACCIONES</th>
        <td mat-cell *matCellDef="let element" disabled="codigoProceso" class="text-align-center">
          <button title="Ejecutar"
            *ngIf="element.codigoProceso === ('CONTABILIDAD_'+ tipoContabilidad) && element.estadoProceso !== 'CERRADO'"
            (click)="ejecutar()" mat-icon-button>
            <mat-icon style="color: rgb(29, 39, 170)">play_circle_outline</mat-icon>
          </button>
          <button title="Descargar" *ngIf="element.codigoProceso === ('CONTABILIDAD_'+ tipoContabilidad)"
            (click)="descargarArchivoContabilidad()" mat-icon-button>
            <mat-icon style="color: green">cloud_download</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
    </table>

  </div>
</div>