<!--Tabla Descripción de archivos cargados-->
<div class="divTabl">
    <div class="divTituloTabl">
        <h1 class="tituloTabla">{{titulo}}</h1>
        <span class="line-spacer"></span>
    </div>
    <div class="disenio-tabla configScroll">
        <mat-table matTableExporter [dataSource]="dataSourceInfoProcesos" class="tmanioTabla" matSort #exporter="matTableExporter">

            <ng-container matColumnDef="abreviaturaBancoAval">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
                <td mat-cell *matCellDef="let element"> {{element.abreviaturaBancoAval}} </td>
            </ng-container>

            <ng-container matColumnDef="naturalezaContable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod Naturaleza</th>
                <td mat-cell *matCellDef="let element"> {{element.naturalezaContable}} </td>
            </ng-container>

            <ng-container matColumnDef="cuentaMayor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Contable Mayor</th>
                <td mat-cell *matCellDef="let element"> {{element.cuentaMayor}} </td>
            </ng-container>

            <ng-container matColumnDef="subAuxiliar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuentable Contable Aux</th>
                <td mat-cell *matCellDef="let element"> {{element.subAuxiliar}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoIdentificacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Identificación</th>
                <td mat-cell *matCellDef="let element"> {{element.tipoIdentificacion}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoCambioMonedaDolar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cambio Moneda Dolar</th>
                <td mat-cell *matCellDef="let element"> {{element.tipoCambioMonedaDolar}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoCambioMonedaPeso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cambio Moneda Peso</th>
                <td mat-cell *matCellDef="let element"> {{element.tipoCambioMonedaPeso}} </td>
            </ng-container>

            <ng-container matColumnDef="valorMoneda">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor Moneda</th>
                <td mat-cell *matCellDef="let element"> {{element.valorMoneda | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="valorPesos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor Pesos</th>
                <td mat-cell *matCellDef="let element"> {{element.valor | number}} </td>
            </ng-container>

            <ng-container matColumnDef="valorUsd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor Usd</th>
                <td mat-cell *matCellDef="let element"> {{element.valorUsd | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="centroCosto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Centro Costo</th>
                <td mat-cell *matCellDef="let element"> {{element.centroCosto}} </td>
            </ng-container>

            <ng-container matColumnDef="centroBeneficio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Centro Beneficio</th>
                <td mat-cell *matCellDef="let element"> {{element.centroBeneficio}} </td>
            </ng-container>

            <ng-container matColumnDef="ordenCo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>OrdenCo</th>
                <td mat-cell *matCellDef="let element"> {{element.ordenCo}} </td>
            </ng-container>

            <ng-container matColumnDef="areaFuncional">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Área Funcional</th>
                <td mat-cell *matCellDef="let element"> {{element.areaFuncional}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                <td mat-cell *matCellDef="let element"> {{element.descripcionTransaccion}} </td>
            </ng-container>

            <ng-container matColumnDef="terceroGL">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tercero GL</th>
                <td mat-cell *matCellDef="let element"> {{element.terceroGL}} </td>
            </ng-container>
            <ng-container matColumnDef="nombreTerceroGL">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre TerceroGL</th>
                <td mat-cell *matCellDef="let element"> {{element.nombreTerceroGL}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaConversion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Conversion</th>
                <td mat-cell *matCellDef="let element"> {{element.fechaConversion | date: 'dd/MM/YYYY' : '+00'}} </td>
            </ng-container>

            <ng-container matColumnDef="claveReferencia1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Referencia 1</th>
                <td mat-cell *matCellDef="let element"> {{element.claveReferencia1}} </td>
            </ng-container>

            <ng-container matColumnDef="claveReferencia2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Referencia 2</th>
                <td mat-cell *matCellDef="let element"> {{element.claveReferencia2}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
        </mat-table>

   </div>
</div>

<div style="margin-top: 0%; text-align: center;">
    <button mat-raised-button color="primary" style="display:inline; margin: 2%;"
    (click)="exporter.exportTable('xlsx', {fileName:'Contabilidad'})">Descargar Excel</button>
    <button mat-raised-button mat-button mat-dialog-close color="warn" (click)="validarFlag()">{{nombreBTNCerrar}}</button>
</div>
