<div class="tittle-section">
  <h2>Conciliación Procesamiento</h2>
</div>
<div class="mat-table-custom">
  <app-filtro-conciliacion-transporte (filterData)="filter($event)"
    [pantalla]="Pantalla"></app-filtro-conciliacion-transporte>
    <div class="col-12">
      <mat-tab-group (selectedIndexChange)="cambioTab($event)">
        <mat-tab label="CONCILIADAS">
          <app-conciliadas-procesamiento [filtro]="filtro" [idTab]="idTabSeleccionda"></app-conciliadas-procesamiento>
        </mat-tab>
        <mat-tab label="COBRADAS TDV NO IDENTIFICADAS">
          <app-cobradas-tdv-no-identificadas-procesamiento [filtro]="filtro"
            [idTab]="idTabSeleccionda"></app-cobradas-tdv-no-identificadas-procesamiento>
        </mat-tab>
        <mat-tab label="LIQUIDADAS NO COBRADAS POR TDV">
          <app-liquidadas-no-cobradas-tdv-procesamiento [filtro]="filtro"
            [idTab]="idTabSeleccionda"></app-liquidadas-no-cobradas-tdv-procesamiento>
        </mat-tab>
        <mat-tab label="IDENTIFICADAS CON DIFERENCIAS">
          <app-identificadas-con-diferencia-procesamiento [filtro]="filtro"
            [idTab]="idTabSeleccionda"></app-identificadas-con-diferencia-procesamiento>
        </mat-tab>
        <mat-tab label="REGISTROS ELIMINADOS">
          <app-registros-eliminados-procesamiento [filtro]="filtro"
            [idTab]="idTabSeleccionda"></app-registros-eliminados-procesamiento>
        </mat-tab>
      </mat-tab-group>
    </div>
</div>