
.division-btn {
    margin-left: 5%;
}

.division-btn2 {
    margin-left: 2em;
}

.ubicacion-btn-dominio {
    margin-left: 50%;
}

.ubicacionTablas {
    text-align: left;
    float:left;
    margin-top: 1%;
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }