<div class="mat-cell">
  <h2>Configuración contable entidad</h2>
  <div class="division-btn">
    <button mat-raised-button color="primary" (click)="crearConfEntity()">Crear</button>
  </div>
</div>

  <div [formGroup]="form" *ngIf="mostrarFormulario">
      <mat-form-field appearance="fill">
        <input matInput placeholder="ID" formControlName="consecutivo">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput required placeholder="Cuenta Contable" formControlName="cuentaContable">
        <mat-error *ngIf="form.get('cuentaContable').hasError('required')">Este campo es requerido</mat-error>
        <mat-error *ngIf="form.get('cuentaContable').hasError('pattern')">Ingresar únicamente valores numéricos</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Medio de pago</mat-label>
        <mat-select formControlName="medioPago">
          <mat-option *ngFor="let item of mediosPago" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo operaciones</mat-label>
        <mat-select formControlName="tipoOperacion">
          <mat-option *ngFor="let item of tipoOperaciones" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Banco</mat-label>
        <mat-select formControlName="bancoAval">
          <mat-option *ngFor="let item of bancos" [value]="item">
            {{item.nombreBanco}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('bancoAval').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Banco externo</mat-label>
        <mat-select formControlName="bancoExterno">
          <mat-option *ngFor="let item of bancosExternos" [value]="item">
            {{item.nombreBanco}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Transportadoras</mat-label>
        <mat-select formControlName="transportadora">
          <mat-option *ngFor="let item of transportadoras" [value]="item">
            {{item.nombreTransportadora}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo transaccion</mat-label>
        <mat-select formControlName="tipoTransaccion">
          <mat-option *ngFor="let item of tipoTransaccion" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('tipoTransaccion').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Codigo comisión</mat-label>
        <mat-select formControlName="codigoComision">
          <mat-option *ngFor="let item of codigosComiciones" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo impuestos</mat-label>
        <mat-select formControlName="tipoImpuesto">
          <mat-option *ngFor="let item of tiposImpuestos" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <mat-label>Naturaleza:</mat-label>
        <mat-radio-group formControlName="naturaleza" [(ngModel)]="selectNaturaleza">
          <mat-radio-button class="example-margin" value="C">Credito</mat-radio-button>
          <mat-radio-button class="example-margin" value="D">Debito</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="form.get('naturaleza').hasError('required')">Este campo es requerido</mat-error>
      </div>
      <div>
        <mat-label>Es Cambio:</mat-label>
        <mat-radio-group formControlName="esCambio" [(ngModel)]="selectEsCambio">
          <mat-radio-button class="example-margin" value="true">Si</mat-radio-button>
          <mat-radio-button class="example-margin" value="false">No</mat-radio-button>
        </mat-radio-group>
      
    </div>
    <div class="tamanio-btn">
      <button mat-raised-button color="primary" type="button" (click)="persistir()" [disabled]="form.invalid">
        Aceptar
      </button>
    </div>
  </div>

<div class="ubicacionTablas">
  <div *ngIf="mostrarTabla">
    <div class="filtro">
      <mat-form-field appearance="fill">
        <mat-label>Filtro Bancos</mat-label>
        <mat-select [(ngModel)]="filtroBancoSelect">
          <mat-option *ngFor="let item of bancos" [value]="item">
            {{item.nombreBanco}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button title="Visualizar" mat-button (click)="filtrar($event)">
        <mat-icon style="color: green">search</mat-icon>
      </button>
      <button title="Limpiar" mat-button (click)="limpiar()">
        <mat-icon style="color: rgb(0, 2, 128)">autorenew</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="dataSourceTiposCuentas" matSort class="configScroll"
      aria-label="confContableEntidad">
      <tr>
        <ng-container matColumnDef="consecutivo" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element"> {{element.consecutivo}} </td>
        </ng-container>

        <ng-container matColumnDef="cuenta" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Contable</th>
          <td mat-cell *matCellDef="let element"> {{element.cuentaContable}} </td>
        </ng-container>

        <ng-container matColumnDef="esCambio" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Es Cambio</th>
          <td mat-cell *matCellDef="let element"> {{element.esCambio}} </td>
        </ng-container>

        <ng-container matColumnDef="medioPago" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Medio Pago</th>
          <td mat-cell *matCellDef="let element"> {{element.medioPago}} </td>
        </ng-container>

        <ng-container matColumnDef="cuentaContable" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Contable</th>
          <td mat-cell *matCellDef="let element"> {{element.cuentaContable}} </td>
        </ng-container>

        <ng-container matColumnDef="naturaleza" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Naturaleza</th>
          <td mat-cell *matCellDef="let element"> {{element.naturaleza}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoOperacion" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Operacion</th>
          <td mat-cell *matCellDef="let element"> {{element.tipoOperacion}} </td>
        </ng-container>

        <ng-container matColumnDef="bancoAval" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
          <td mat-cell *matCellDef="let element"> {{element.bancoAval.abreviatura}} </td>
        </ng-container>

        <ng-container matColumnDef="codigoPuntoBancoExt" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Punto Banco Ext</th>
          <td mat-cell *matCellDef="let element"> {{element.codigoPuntoBancoExt?.nombrePunto}} </td>
        </ng-container>

        <ng-container matColumnDef="codigoTdv" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo TDV</th>
          <td mat-cell *matCellDef="let element"> {{element.codigoTdv}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoTransaccion" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Transaccion</th>
          <td mat-cell *matCellDef="let element"> {{element.tipoTransaccion}} </td>
        </ng-container>

        <ng-container matColumnDef="codigoComision" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Comision</th>
          <td mat-cell *matCellDef="let element"> {{element.codigoComision}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoImpuesto" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Impuesto</th>
          <td mat-cell *matCellDef="let element"> {{element.tipoImpuesto}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="editar(element)">
              <mat-icon style="color: green">edit</mat-icon>
            </button>
          </td>
        </ng-container>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsTiposCuentas"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsTiposCuentas;"></tr>
    </table>
  </div>
</div>
