<!--Tabla Descripción de archivos cargados-->
<div class="controls-container">
    <div class="divTituloTablas">
        <h3 class="tituloTabla">HISTÓRICO DE CARGA</h3>
        <span class="line-spacer"></span>
    </div>
    <div class="paginator-area">
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidadRegistros"
            (page)="mostrarMas($event)">
        </mat-paginator>
    </div>
</div>
<table mat-table [dataSource]="dataSourceInfoArchivo" matSort class="mat-elevation-z8">
    <caption></caption>
    <ng-container matColumnDef="fechaInicioCargue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA INICIO</th>
        <td mat-cell *matCellDef="let element"> {{element.fechaInicioCargue | date: 'medium'}} </td>
        <!--medium'yyyy-MM-dd'-->
    </ng-container>

    <ng-container matColumnDef="nombreArchivo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE</th>
        <td mat-cell *matCellDef="let element"> {{element.nombreArchivo}} </td>
    </ng-container>

    <ng-container matColumnDef="numeroRegistros">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> N. REGISTROS</th>
        <td mat-cell *matCellDef="let element"> {{element.numeroRegistros}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>
        <td mat-cell *matCellDef="let element"> {{element.estadoCargue}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let element">
            <button title="Visualizar" mat-button (click)="verLog(element.idArchivo)">
                <mat-icon style="color: green">assignment_turned_in</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoArchivo"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoArchivo;"></tr>
</table>