<div style="margin-top: 3%; padding-left: 1% ;border: 1px solid rgb(196, 196, 196)">
    <!--Ventana emergente de validación de archivo-->
    <h1 style="text-align: center; margin-top: 2%;">Seguro desea generar las llaves de desencriptación para los documentos</h1>
    <div style="text-align: center; margin-top: 0%;">
        <img src="assets/img/waring.jpg" width="60">


        <div style="margin-top: 3%;">
            <button style="display:inline; margin: 2%;" class="bottonAceptarCenter" (click)="confirm()" cdkFocusInitial>Aceptar</button>
            <button style="display:inline; margin: 2%;" class="bottonCancelarCenter" (click)="cancel()">Cancelar</button>
        </div>
    </div>
</div>