.card-limites {
  margin: 2%;
}

.division-btn {
    margin-left: 5%;
}

.division-btn2 {
    margin-left: 2em;
}

.ubicacion-btn-dominio {
    margin-left: 50%;
}

.ubicacion-btn {
  width: 10%;
  margin-left: 70%;

}

.ubicacionTablas {
    width: 30%;
    margin-top: 3%
  }

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  .mat-column-estado{
    text-align: center;
  }

  .divTablaCerti {
    background-color: rgb(226, 229, 229);
    padding: 1%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 10%;
    margin-bottom: auto;
  }