<mat-card-title>Tarifas Operación</mat-card-title>
<ng-container *ngIf="mostrarTabla">
  <app-tarifas-operacion-tabla
    [bancos]="bancos"
    [transportadoras]="transportadoras"
    [tipoOperaciones]="tipoOperaciones"
    [tipoServicios]="tipoServicios"
    [escalas]="escalas"
    [comisionesAplicar]="comisionesAplicar"
    (editarRegistro)="abrirFormulario($event)">
  </app-tarifas-operacion-tabla>
</ng-container>
<ng-container *ngIf="mostrarFormulario">
  <app-tarifas-operacion-form
    [registro]="registroSeleccionado"
    [bancos]="bancos"
    [transportadoras]="transportadoras"
    [tipoOperaciones]="tipoOperaciones"
    [tipoServicios]="tipoServicios"
    [escalas]="escalas"
    [comisionesAplicar]="comisionesAplicar"
    (guardar)="onGuardar($event)"
    (cancelar)="cerrarFormulario()">
  </app-tarifas-operacion-form>
</ng-container>
