<mat-card class="card-limites">
    <mat-card-title>Tarifas Operación</mat-card-title>
    <div *ngIf="mostrarTabla">
        <div class="division-btn">
            <button *ngIf="habilitarBTN" class="division-btn1" mat-raised-button class="ubicacion-btn-dominio" color="primary"
                (click)="crearTarifaOperacion()">Crear Tarifa Operación</button>
        </div>
    </div>
    <div *ngIf="mostrarTabla == false">
        <div class="division-btn">
            <button class="division-btn1" mat-raised-button class="ubicacion-btn-dominio" color="primary"
                (click)="irAtras()">Atras</button>
        </div>
    </div>

    <div *ngIf="mostrarTabla" class="divTablaCerti">
        <div class="configScroll">
            <table mat-table matTableExporter [dataSource]="dataSourceTiposCuentas" matSort
                #exporter="matTableExporter">

                <tr>
                    <ng-container matColumnDef="banco" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
                        <td mat-cell *matCellDef="let element"> {{element.bancoDTO.nombreBanco}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="tdv" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Transportadora</th>
                        <td mat-cell *matCellDef="let element"> {{element.transportadoraDTO.nombreTransportadora}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="tOperacion" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>T. Operacion</th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoOperacion}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="tServicio" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>T. Servicio</th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoServicio}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="escala" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Escala</th>
                        <td mat-cell *matCellDef="let element"> {{element.escala}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="tipoPunto" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo punto</th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoPunto}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="comisionAplicar" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Comisión</th>
                        <td mat-cell *matCellDef="let element"> {{element.comisionAplicar}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="valorTarifa" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tarifa</th>
                        <td mat-cell *matCellDef="let element"> {{element.valorTarifa | currency}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="billetes" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Billetes</th>
                        <td mat-cell *matCellDef="let element"> {{element.billetes}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="monedas" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Monedas</th>
                        <td mat-cell *matCellDef="let element"> {{element.monedas}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="fajado" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fajado</th>
                        <td mat-cell *matCellDef="let element"> {{element.fajado}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="estado" class="mat-column-estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="acciones" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button (click)="editar(element)">
                                <mat-icon style="color: green">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsTiposCuentas"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsTiposCuentas;"></tr>
            </table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidadRegistros"
                (page)="mostrarMas($event)">
            </mat-paginator>
        </div>
        <br>
        <button *ngIf="habilitarBTN" mat-raised-button color="primary"
            (click)="exporter.exportTable('xlsx', {fileName:'tarifas-operaciones'})">Exportar tabla</button>
    </div>


    <div style="width: 70%" class="ubicacionTablas">
        <form class="example-container" [formGroup]="form" #frmPaciente="ngForm" *ngIf="mostrarFormulario"
            (ngSubmit)="persistir()">
            <div style="padding-left: 10%;">

                <mat-form-field class="example-full-width">
                    <input type="number" matInput placeholder="Id" formControlName="idTarifasOperacion">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Bancos</mat-label>
                    <mat-select required formControlName="bancoAval">
                        <mat-option *ngFor="let item of bancos" [value]="item">
                            {{item.nombreBanco}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo operaciones</mat-label>
                    <mat-select required formControlName="tipoOperacion">
                        <mat-option *ngFor="let item of tipoOperaciones" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo servicio</mat-label>
                    <mat-select required formControlName="tipoServicio">
                        <mat-option *ngFor="let item of tipoServicios" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Escala</mat-label>
                    <mat-select formControlName="escala">
                        <mat-option *ngFor="let item of escalas" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Transportadoras</mat-label>
                    <mat-select required formControlName="transportadora">
                        <mat-option *ngFor="let item of transportadoras" [value]="item">
                            {{item.nombreTransportadora}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field class="example-full-width">
                    <mat-label>Comision Aplicar</mat-label>
                    <mat-select required formControlName="comisionAplicar">
                        <mat-option *ngFor="let item of comisionesAplicar" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Fecha Inicial</mat-label>
                    <input required matInput [matDatepicker]="picker1" readonly="true" formControlName="fechaVigenciaIni" value="now">

                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Fecha final</mat-label>
                    <input required matInput [matDatepicker]="picker2" readonly="true" formControlName="fechaVigenciaFin">

                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <input type="number" step="0.01" pattern="^[0-9]+" matInput placeholder="Valor tarifa" formControlName="valorTarifa" (keypress)="onKeypressEvent($event)" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Billetes</mat-label>
                    <select matNativeControl formControlName="billetes">
                        <option value="si">SI</option>
                        <option value="no">NO</option>
                        <option value="null">NINGUNO</option>
                    </select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Monedas</mat-label>
                    <select matNativeControl formControlName="monedas">
                        <option value="si">SI</option>
                        <option value="no">NO</option>
                        <option value="null">NINGUNO</option>
                    </select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Fajado</mat-label>
                    <select matNativeControl formControlName="fajado">
                        <option value="si">SI</option>
                        <option value="no">NO</option>
                        <option value="null">NINGUNO</option>
                        <option value="mixto">MIXTO</option>
                    </select>
                </mat-form-field>

                <div class="division-estado">
                    <label class="switch" >
                        <input class="switch-input" type="checkbox" formControlName="estado" id="estado" />
                        <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
                        <span class="switch-handle"></span>
                    </label>
                    <p>ESTADO</p>
                </div>

            </div>


            <!--button style="background-color: #C1DEAE" class="buttonsSaveOremove" mat-raised-button type="submit" [disabled]="frmPaciente.invalid">
                <span>Aceptar</span>
            </button-->
            <button mat-raised-button type="submit" class="ubicacion-btn" color="primary"
                [disabled]="frmPaciente.invalid">Aceptar</button>
        </form>
    </div>
</mat-card>