<div class="mat-table-custom">
    <div class="table-filter-container">
      <mat-form-field appearance="fill">
        <mat-label>Bancos</mat-label>
        <mat-select [(ngModel)]="filtroBancoSelect" (selectionChange)="filtrar($event)">
          <mat-option>Ninguno</mat-option>
          <mat-option *ngFor="let item of bancos" [value]="item">
            {{item.nombreBanco}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Transportadora</mat-label>
        <mat-select [(ngModel)]="filtroTransportaSelect" (selectionChange)="filtrar($event)">
          <mat-option>Ninguno</mat-option>
          <mat-option *ngFor="let item of transportadoras" [value]="item">
            {{item.nombreTransportadora}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tipo Operación</mat-label>
        <mat-select [(ngModel)]="filtroTipOperacionSelect" (selectionChange)="filtrar($event)">
          <mat-option>Ninguno</mat-option>
          <mat-option *ngFor="let item of tipoOperaciones" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tipo Servicio</mat-label>
        <mat-select [(ngModel)]="filtroTipoServicioSelect" (selectionChange)="filtrar($event)">
          <mat-option>Ninguno</mat-option>
          <mat-option *ngFor="let item of tipoServicios" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Escala</mat-label>
        <mat-select [(ngModel)]="filtroEscalaSelect" (selectionChange)="filtrar($event)">
          <mat-option>Ninguno</mat-option>
          <mat-option *ngFor="let item of escalas" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="controls-container">
        <button class="button-custom" *ngIf="habilitarBTN" mat-raised-button color="primary"
        (click)="editarRegistro.emit(null)">Nuevo</button>
        <button class="button-custom" *ngIf="habilitarBTN" mat-raised-button color="primary"
        (click)="exporterTable()">Exportar</button>
        <div class="paginator-area">
            <mat-paginator [pageSize]="10" [pageSizeOptions]="pageSizeOptions" [length]="cantidadRegistros"
                (page)="mostrarMas($event)" showFirstLastButtons class="custom-paginator">
            </mat-paginator>
        </div>
    </div>
    <div *ngIf="spinnerActive" class="disenio-spinner">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!spinnerActive">
      <table mat-table matTableExporter [dataSource]="dataSourceTiposCuentas" matSort class="mat-elevation-z8"
        #exporter="matTableExporter" aria-label="tarifasOperacion">
        <tr>
          <ng-container matColumnDef="banco" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>BANCO</th>
            <td mat-cell *matCellDef="let element"> {{element.bancoDTO.nombreBanco}} </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container matColumnDef="tdv" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TRANSPORTADORA</th>
            <td mat-cell *matCellDef="let element"> {{element.transportadoraDTO.nombreTransportadora}} </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container matColumnDef="tOperacion" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO OPERACIÓN</th>
            <td mat-cell *matCellDef="let element"> {{element.tipoOperacion}} </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container matColumnDef="tServicio" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO SERVICIO</th>
            <td mat-cell *matCellDef="let element"> {{element.tipoServicio}} </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container matColumnDef="escala" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ESCALA</th>
            <td mat-cell *matCellDef="let element"> {{element.escala}} </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container matColumnDef="tipoPunto" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO PUNTO</th>
            <td mat-cell *matCellDef="let element"> {{element.tipoPunto}} </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container matColumnDef="comisionAplicar" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>COMISIÓN</th>
            <td mat-cell *matCellDef="let element"> {{element.comisionAplicar}} </td>
          </ng-container>
        </tr>        
        <tr>
          <ng-container matColumnDef="valorTarifa" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TARIFA</th>
            <td mat-cell *matCellDef="let element"> {{element.valorTarifa}} </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container matColumnDef="fechaVigenciaFin" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FIN VIGENCIA</th>
            <td mat-cell *matCellDef="let element"> {{element.fechaVigenciaFin|date}} </td>
          </ng-container>
        </tr>
        <tr>
          <ng-container matColumnDef="acciones" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>EDITAR</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button (click)="editarRegistro.emit(element)">
                <mat-icon style="color: green">edit</mat-icon>
              </button>
            </td>
          </ng-container>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTiposCuentas"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTiposCuentas;"></tr>
      </table>
      
    </div>    

</div>
