<div class="tittle-section">
    <h2>Operaciones Programadas no Conciliadas</h2>
</div>

<div class="mat-table-custom">
    <app-filtro-banco-tdv (filterData)="filter($event)"></app-filtro-banco-tdv>
    <div class="controls-container">
        <button mat-raised-button class="button-custom" color="primary" (click)="exporterTable()">Exportar</button>
        <div class="paginator-area">
            <mat-paginator [pageSize]="10" [pageSizeOptions]="pageSizeList" [length]="cantidadRegistros"
                (page)="mostrarMas($event)">
            </mat-paginator>
        </div>
    </div>
    <div *ngIf="load" class="disenio-spinner">
        <mat-spinner></mat-spinner>
    </div>
    <div [hidden]="load">
        <table mat-table matTableExporter [dataSource]="dataSourceOperacionesProgramadas" matSort
            #exporter="matTableExporter">
            <tr>
                <ng-container matColumnDef="codigoFondoTDV">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>COD. FONDO TDV</th>
                    <td mat-cell *matCellDef="let element"> {{element.codigoFondoTDV}} </td>
                </ng-container>

                <ng-container matColumnDef="bancoAVAL">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>BANCO</th>
                    <td mat-cell *matCellDef="let element"> {{element.bancoAVAL}} </td>
                </ng-container>

                <ng-container matColumnDef="tdv">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>TRANSPORTADORA</th>
                    <td mat-cell *matCellDef="let element"> {{element.tdv}} </td>
                </ng-container>

                <ng-container matColumnDef="nombreFondoTDV">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE FONDO TDV</th>
                    <td mat-cell *matCellDef="let element"> {{element.nombreFondoTDV}} </td>
                </ng-container>

                <ng-container matColumnDef="tipoOperacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO OPERACION</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoOperacion}} </td>
                </ng-container>

                <ng-container matColumnDef="entradaSalida" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ENTRADA SALIDA</th>
                    <td mat-cell *matCellDef="let element"> {{element.entradaSalida}} </td>
                </ng-container>

                <ng-container matColumnDef="oficina">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>OFICINA</th>
                    <td mat-cell *matCellDef="let element"> {{element.oficina}} </td>
                </ng-container>

                <ng-container matColumnDef="nombrePuntoOrigen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE P. ORIGEN</th>
                    <td mat-cell *matCellDef="let element"> {{element.nombrePuntoOrigen}} </td>
                </ng-container>

                <ng-container matColumnDef="nombrePuntoDestino">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE P. DESTINO</th>
                    <td mat-cell *matCellDef="let element"> {{element.nombrePuntoDestino}} </td>
                </ng-container>

                <ng-container matColumnDef="valorTotal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>VALOR</th>
                    <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaProgramacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA PROGRAMACION</th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaProgramacion | date: 'dd/MM/YYYY' : '+00'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="fechaDestino">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA DESTINO</th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaDestino | date: 'dd/MM/YYYY' : '+00'}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaOrigen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA ORIGEN</th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaOrigen | date: 'dd/MM/YYYY' : '+00'}} </td>
                </ng-container>

                <ng-container matColumnDef="tipoServicio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO SERVICIO</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoServicio}} </td>
                </ng-container>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsOperacionesProgramadas"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOperacionesProgramadas;"></tr>
        </table>
    </div>
</div>