<div class="login-page">
  <div class="form">
    <mat-card class="ubicacion-card"><br><br>
      <img src="assets/img/Logo-H-ATH.png" width="320" style="display:block; margin:auto"><br><br>
      <form>
        <input class="imput-design" type="text" placeholder="Usuario"/>
        <input class="imput-design" type="password" placeholder="Contraseña"/>
        <br><br><br>
        <button class="btnLogin" routerLink="/home">ENTRAR</button>
      </form>
      <br>
    </mat-card>
  </div>
</div>