<mat-card class="card-limites">
    <mat-card-title>Gestión Cuentas Contables</mat-card-title>
    <div>
        <div class="division-btn">
            <button class="division-btn1" mat-raised-button class="ubicacion-btn-dominio" color="primary"
                (click)="crearCuentasPuc()">Crear Cuenta Contable</button>
            <button class="division-btn2" mat-raised-button color="accent" (click)="actualizarCuentasPuc()">Actualizar
                Cuenta Contable</button>
        </div>
    </div>

    <div style="width: 30%; margin-top: 3%" class="ubicacionTablas">
        <div class="div-tabla-dominio">
            <table mat-table [dataSource]="dataSourceTiposCuentas" matSort class="configScroll">
                <tr>
                    <ng-container matColumnDef="identi" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificador</th>
                        <td mat-cell *matCellDef="let element"> {{element.identificador}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuentas Puc</th>
                        <td mat-cell *matCellDef="let element"> {{element.nombreCuenta}} </td>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container matColumnDef="acciones" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button (click)="editar(element)">
                                <mat-icon style="color: green">edit</mat-icon>
                            </button>    
                        </td>
                    </ng-container>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsTiposCuentas"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsTiposCuentas;"></tr>
            </table>
        </div>
    </div>
    <div style="width: 70%" class="ubicacionTablas">
        <form class="example-container" [formGroup]="form" #frmPaciente="ngForm" *ngIf="mostrarFormulario"
            (ngSubmit)="persistir()">
            <div style="padding-left: 10%;">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Id Cuenta Puc" formControlName="idCuentasPuc">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Cuenta Contable" required formControlName="cuentaContable">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Bancos</mat-label>
                    <mat-select formControlName="bancoAval">
                        <mat-option *ngFor="let item of bancos" [value]="item">
                            {{item.nombreBanco}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre Cuenta" required formControlName="nombreCuenta">
                </mat-form-field>
            </div>
            
            <div style="padding-left: 10%;">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="identificador" required formControlName="identificador">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipos Centros Costos</mat-label>
                    <mat-select formControlName="tiposCentrosCostos">
                        <mat-option *ngFor="let item of tiposCostosCuentas" [value]="item">
                            {{item.tipoCentro}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo Cuenta</mat-label>
                    <mat-select formControlName="tiposCuentas">
                        <mat-option *ngFor="let cuenta of tipoCuentas" [value]="cuenta">
                            {{cuenta.tipoCuenta}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Estado" required formControlName="estado">
                </mat-form-field>
            </div>
            <button style="background-color: #C1DEAE" class="buttonsSaveOremove" mat-raised-button type="submit" [disabled]="frmPaciente.invalid">
                <span>Aceptar</span>
            </button>
        </form>
    </div>
</mat-card>