<div class="mat-cell">
  <h2>Gestión Cuentas Contables</h2>
  <div class="division-btn">
    <button mat-raised-button color="primary" (click)="crearCuentasPuc()">Crear</button>
  </div>
</div>

  <div [formGroup]="form" *ngIf="mostrarFormulario">
    <div>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Id Cuenta Puc" formControlName="idCuentasPuc">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput placeholder="Cuenta Contable" formControlName="cuentaContable">
        <mat-error *ngIf="form.get('cuentaContable').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Bancos</mat-label>
        <mat-select formControlName="bancoAval">
          <mat-option *ngFor="let item of bancos" [value]="item">
            {{item.nombreBanco}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('bancoAval').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput placeholder="Nombre Cuenta" formControlName="nombreCuenta">
        <mat-error *ngIf="form.get('nombreCuenta').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Identificador" formControlName="identificador">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipos Centros Costos</mat-label>
        <mat-select formControlName="tiposCentrosCostos">
          <mat-option *ngFor="let item of tiposCostosCuentas" [value]="item">
            {{item.tipoCentro}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('tiposCentrosCostos').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Tipo Cuenta</mat-label>
        <mat-select formControlName="tiposCuentas">
          <mat-option *ngFor="let cuenta of tipoCuentas" [value]="cuenta">
            {{cuenta.tipoCuenta}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('tiposCuentas').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
      <div class="fill">
        <label class="switch" appearance="outline">
          <input class="switch-input" type="checkbox" formControlName="estado" id="estado" />
          <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
          <span class="switch-handle"></span>
        </label>
      </div>

    </div>
    <div class="tamanio-btn">
      <button mat-raised-button type="button" color="primary" (click)="persistir()" [disabled]="form.invalid">
        Aceptar
      </button>
    </div>
  </div>

<div class="ubicacionTablas">
  <div class="div-tabla-dominio">
    <table mat-table [dataSource]="dataSourceTiposCuentas" matSort class="configScroll" aria-label="cuentasPuc">
      <tr>
        <ng-container matColumnDef="idCuentasPuc" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Cuentas PUC</th>
          <td mat-cell *matCellDef="let element"> {{element.idCuentasPuc}} </td>
        </ng-container>
        <ng-container matColumnDef="cuentaContable" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Contable</th>
          <td mat-cell *matCellDef="let element"> {{element.cuentaContable}} </td>
        </ng-container>
        <ng-container matColumnDef="bancoAval" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
          <td mat-cell *matCellDef="let element"> {{element.bancoAval.abreviatura}} </td>
        </ng-container>
        <ng-container matColumnDef="nombreCuenta" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Cuenta</th>
          <td mat-cell *matCellDef="let element"> {{element.nombreCuenta}} </td>
        </ng-container>
        <ng-container matColumnDef="identificador" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificador</th>
          <td mat-cell *matCellDef="let element"> {{element.identificador}} </td>
        </ng-container>
        <ng-container matColumnDef="tipoCentro" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Centros Costos</th>
          <td mat-cell *matCellDef="let element"> {{element.tipoCentro}} </td>
        </ng-container>
        <ng-container matColumnDef="tipoCuenta" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo cuenta</th>
          <td mat-cell *matCellDef="let element"> {{element.tiposCuentas.tipoCuenta}} </td>
        </ng-container>
        <ng-container matColumnDef="estado" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>
        <ng-container class="mat-column-nombreCampo" matColumnDef="acciones">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Acciones</th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="editar(element)" mat-button>
              <mat-icon style="color: green">edit</mat-icon>
            </button>
          </td>
        </ng-container>
      </tr>
      <tr *matHeaderRowDef="displayedColumnsTiposCuentas" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumnsTiposCuentas;" mat-row></tr>
    </table>
  </div>
</div>
