table {
    width: 100%;
}

.botones-tabla {
  display: table-cell;
  width: 100%;
  margin-left: 1%;
}

.botones-tabla .mat-button-base  {
  margin: 8px 8px 8px 0;
}


.configScroll {
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
}

.tituloTabla {
    text-align: center;
    font-size: large;
}

::ng-deep .divTabla {
    padding: 1% !important;
    margin-top: 1% !important;
    margin-right: 0% !important;
    margin-left: 1% !important;
    background-color: transparent !important;
}

.estadoError {
    color: red !important;
    margin: 0 0 0px !important;
    pointer-events: auto;
    cursor: pointer;
}