<app-filtro-archivos (filterData)="filter($event)" [showFechaProceso]="true">
</app-filtro-archivos>
<div class="divTituloTablas">
    <h1 class="tituloTabla"><strong>ARCHIVOS PENDIENTES DE CARGA</strong></h1>
    <span class="line-spacer"></span>
</div>

<mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile colspan="1">
    <div class="botones-tabla">
      <button mat-raised-button color="primary" (click)="procesarArchivos()">Procesar archivos</button>
      <button mat-raised-button color="primary" (click)="eliminarArchivo()">Eliminar archivos</button>
      <button mat-raised-button color="primary" (click)="exporter.exportTable('xlsx', {fileName:'archivos_pendiente_carga'})">Exportar tabla</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-paginator *ngIf="cantidadRegistros > 0" [pageSize]="5" [pageSizeOptions]="pageSizeList" [length]="cantidadRegistros"></mat-paginator>
  </mat-grid-tile>
</mat-grid-list>


<div class="divTabla">
    <table mat-table matTableExporter [hiddenColumns]="[0,8]" [dataSource]="dataSourceConciliadas" matSort
        #exporter="matTableExporter" aria-label="archivosCarga">
        <tr>
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="$event ? seleccion() : null"
                        [checked]="selection.hasValue() && seleccionarTodo()"
                        [indeterminate]="selection.hasValue() && !seleccionarTodo()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary" onClick="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null; seleccionRow($event, row)"
                        [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="nombreArchivo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE ARCHIVO</th>
                <td mat-cell *matCellDef="let element"> {{element.nombreArchivo}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaArchivo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA ARCHIVO</th>
                <td mat-cell *matCellDef="let element"> {{element.fechaArchivo | date: 'dd/MM/YYYY' : '+00'}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
                <td mat-cell *matCellDef="let element">
                    <a (click)="verError(element)" *ngIf="element.estado === 'ERRADO'"
                        [ngClass]="{estadoError: element.estado === 'ERRADO'}">{{element.estado}}</a>
                    <p *ngIf="element.estado !== 'ERRADO'" style="margin: 0 0 0px !important;">{{element.estado}}</p>
                </td>
            </ng-container>

            <ng-container matColumnDef="banco">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>BANCO</th>
                <td mat-cell *matCellDef="let element"> {{element.banco}} </td>
            </ng-container>

            <ng-container matColumnDef="tdv">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TDV</th>
                <td mat-cell *matCellDef="let element"> {{element.tdv}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaTransferencia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA DE TRANSFERENCIA</th>
                <td mat-cell *matCellDef="let element"> {{element.fechaTransferencia | date: 'dd/MM/YYYY' : '+00'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="tipoArchivo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO DE ARCHIVO</th>
                <td mat-cell *matCellDef="let element"> {{element.tipoArchivo}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button>
                        <mat-icon style="color: black" onClick="verDetalle(element)">remove_red_eye</mat-icon>
                    </button>
                </td>
            </ng-container>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsConciliadas"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsConciliadas;"></tr>
    </table>
</div>
