.contenedor{
    background: rgb(255, 255, 255);
    padding: 2%;
    padding-left: 13%;
    padding-right: 13%;
}
.centrado{
    background: url(/assets/img/login.jpg); 
    padding: 4%; 
    margin: 4%;
    margin-top: 5%;
    padding-left: 35%;
}
.fecha{
    padding: 4%; 
    margin: 4%;
    margin-top: 5%;
    padding-left: 32%;
    font-size: 39px;
    color: rgb(26, 24, 66);
}

