<div class="tittle-section">
    <h2>Cierre de Fecha</h2>
</div>

<div class="mat-table-custom">
    <div class="fecha">
        Fecha de Proceso: {{fechaSistemaFormatted | date: 'dd-MMM-yyyy'}}
    </div>
    <div class="controls-container">
        <button class="button-custom" mat-raised-button color="primary" (click)="cierreFecha()">
            Cerrar Fecha
        </button>
    </div>
    <div *ngIf="spinnerActive" class="disenio-spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>