<div class="titulo-tabla">
    <h1>Crear nuevo identificador para el dominio</h1>
</div>

<div [formGroup]="form" >
    <div class="div-division">
        <div class="ubica">
            <h2>Dominio</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill" disabled="true">
                <input matInput #input formControlName="dominio">
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Codigo</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input matInput #input formControlName="codigo">
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Tipo Contenido</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input matInput #input formControlName="tipo">
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Descripción</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input matInput #input formControlName="descripcion">
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Valor Texto</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input matInput #input formControlName="valorTexto">
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Valor Númerico</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input matInput #input formControlName="valorNumero">
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Valor Fecha</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input matInput #input formControlName="valorFecha">
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <h3>Estado</h3>
        <label class="switch">
            <input class="switch-input" type="checkbox" formControlName="estado" id="estado" />
            <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
            <span class="switch-handle"></span>
        </label>
    </div>

    <div class="division-btn-ident">
        <div>
            <button mat-raised-button color="primary" (click)="persistir()">Guardar</button>
        </div>
        <div>
            <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
        </div>
    </div>
</div>