<!--Tabla Descripción de archivos cargados-->
<div class="divTabla">
  <div class="divTituloTablas">
    <h1 class="tituloTabla">Cierre Contabilidad PM</h1>
    <span class="line-spacer"></span>
  </div>
  <table mat-table [dataSource]="dataSourceInfoProcesos" matSort class="mat-elevation-z8">
    <caption></caption>
    <ng-container class="text-xl-center" matColumnDef="fechaCreacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="fechaCreacion">FECHA PROCESO</th>
      <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date: 'dd/MM/YYYY' : '+00'}} </td>
    </ng-container>

    <ng-container class="text-xl-center" matColumnDef="codigoProceso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="codigoProceso">ACTIVIDAD</th>
      <td mat-cell *matCellDef="let element"> {{element.codigoProceso}} </td>
    </ng-container>

    <ng-container class="text-xl-center" matColumnDef="estadoProceso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header id="estadoProceso">ESTADO</th>
      <td mat-cell *matCellDef="let element"> {{element.estadoProceso}} </td>
    </ng-container>

    <ng-container class="text-xl-center" matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef id="acciones">Acciones</th>
      <td mat-cell *matCellDef="let element" disabled = "codigoProceso">
        <button title="Ejecutar" *ngIf="element.codigoProceso == 'CONTABILIDAD_PM'" (click)="ejecutar()" mat-icon-button>
          <mat-icon style="color: rgb(29, 39, 170)">play_circle_outline</mat-icon>
        </button>
        <button title="Descargar" *ngIf="element.codigoProceso == 'CONTABILIDAD_PM'" (click)="descargarArchivoContabilidad()" mat-icon-button>
          <mat-icon style="color: green">cloud_download</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
  </table>

</div>
