<!--Tabla Descripción de archivos cargados-->
<div class="divTabla">
    <div class="divTituloTablas">
        <h1 class="tituloTabla">Cierre Contabilidad PM</h1>
        <span class="line-spacer"></span>
    </div>
    <table mat-table [dataSource]="dataSourceInfoProcesos" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="fechaProceso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA PROCESO</th>
            <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date: 'medium' : '+00'}} </td>
        </ng-container>

        <ng-container matColumnDef="actividad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVIDAD</th>
            <td mat-cell *matCellDef="let element"> {{element.codigoProceso}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>
            <td mat-cell *matCellDef="let element"> {{element.estadoProceso}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let element" disabled = "codigoProceso">
                <button mat-raised-button color="primary" *ngIf="element.codigoProceso == 'CONTABILIDAD_PM'" 
                (click)="ejecutar()">Ejecutar </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
    </table>

</div>