<div class="divTabla">
    <div class="divTituloTablas">
        <h2 class="tituloTabla">Gestión de Menús por Rol</h2>
        <span class="line-spacer"></span>
    </div>

    <div style="display: block;">
        <mat-form-field appearance="fill">
            <mat-label>Seleccione el Rol</mat-label>
            <mat-select [(ngModel)]="rolSelect">
                <mat-option *ngFor="let item of listaRoles" [value]="item">
                    {{item.idRol}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button style="background-color: #C1DEAE" class="buttonsSaveOremove" mat-raised-button
            (click)="listarMenusRolUsuario()">
            <span>Gestionar Menús</span>
        </button>
    </div><br><br>

    <!--Tabla para roles Menu Rol-->
    <div *ngIf="mostrarTablasRoles">
        <table mat-table [dataSource]="dataSourceMenuRol" matSort class="mat-elevation-z8">
            <caption></caption>
            <ng-container matColumnDef="codigo">
                <th id="codMenuRol" mat-header-cell mat-sort-header *matHeaderCellDef> CODIGO</th>
                <td id="codMenuRolCell" mat-cell *matCellDef="let element"> {{element.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="idRol">
                <th id="rolMenuRol" mat-header-cell mat-sort-header *matHeaderCellDef> ROL</th>
                <td id="rolMenuRolCell" mat-cell *matCellDef="let element"> {{element.idRol}} </td>
            </ng-container>

            <ng-container matColumnDef="menuPadre">
                <th id="padMenuRol" mat-header-cell mat-sort-header *matHeaderCellDef> MENU PADRE</th>
                <td id="padMenuRolCell"  mat-cell *matCellDef="let element"> {{element.menu.idMenuPadre}} </td>
            </ng-container>

            <ng-container matColumnDef="nombreMenu">
                <th id="menMenuRol" mat-header-cell mat-sort-header *matHeaderCellDef> MENU</th>
                <td id="menMenuRolCell" mat-cell *matCellDef="let element"> {{element.menu.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th id="estMenuRol" mat-header-cell mat-sort-header *matHeaderCellDef>Estado</th>
                <td id="estMenuRolCell" mat-cell *matCellDef="let element"> {{element._estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th id="accMenuRol" mat-header-cell *matHeaderCellDef> Acti/Desa</th>
                <td id="accMenuRolCell" mat-cell *matCellDef="let element"> <!-- Removed disabled="codigoProceso" as it's not standard and might be a typo -->
                    <button *ngIf="element.estado == '2'" mat-button (click)="accion(element, 'desactivar')">
                        <mat-icon style="color: rgb(170, 41, 18)">block</mat-icon>
                    </button>
                    <button *ngIf="element.estado == '1'"  mat-button (click)="accion(element, 'activar')">
                        <mat-icon style="color: green">check_circle_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsMenuRol"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMenuRol;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
    </div>

</div>
