<div class="divTabla">
    <div class="divTituloTablas">
        <h1 class="tituloTabla">Gestión de Menús por Rol</h1>
        <span class="line-spacer"></span>
    </div>

    <div style="display: block;">
        <mat-form-field appearance="fill">
            <mat-label>Seleccione el Rol</mat-label>
            <mat-select [(ngModel)]="rolSelect">
                <mat-option *ngFor="let item of listaRoles" [value]="item">
                    {{item.idRol}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button style="background-color: #C1DEAE" class="buttonsSaveOremove" mat-raised-button
            (click)="listarMenusRolUsuario()">
            <span>Gestionar Menús</span>
        </button>
    </div><br><br>

    <!--Tabla para roles preliminar-->
    <div *ngIf="mostrarTablasRoles">
        <div class="divTituloTablas">
            <h1 style="padding-top: 2%; text-align: center; margin-left: 39%">Cargue Preliminar</h1>
            <span class="line-spacer"></span>
        </div>
        <table mat-table [dataSource]="dataSourcePreliminar" matSort class="mat-elevation-z8">
            <caption></caption>
            <ng-container matColumnDef="codigo">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> CODIGO</th>
                <td mat-cell *matCellDef="let element"> {{element.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="idRol">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> ROL</th>
                <td mat-cell *matCellDef="let element"> {{element.idRol}} </td>
            </ng-container>

            <ng-container matColumnDef="menuPadre">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> MENU PADRE</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.idMenuPadre}} </td>
            </ng-container>

            <ng-container matColumnDef="nombreMenu">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> MENU</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element"> {{element._estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acti/Desa</th>
                <td mat-cell disabled="codigoProceso" *matCellDef="let element">
                    <button *ngIf="element.estado == '2'" mat-button (click)="accion(element, 'desactivar')">
                        <mat-icon style="color: rgb(170, 41, 18)">block</mat-icon>
                    </button>
                    <button *ngIf="element.estado == '1'"  mat-button (click)="accion(element, 'activar')">
                        <mat-icon style="color: green">check_circle_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsPreliminar"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPreliminar;"></tr>
        </table>
    </div>

    <!--Tabla para roles Certificación-->
    <div *ngIf="mostrarTablasRoles">
        <div class="divTituloTablas">
            <h1 style="padding-top: 2%; text-align: center; margin-left: 38%">Cargue Certificación</h1>
            <span class="line-spacer"></span>
        </div>
        <table mat-table [dataSource]="dataSourceCertificacion" matSort class="mat-elevation-z8">
            <caption></caption>
            <ng-container matColumnDef="codigo">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> CODIGO</th>
                <td mat-cell *matCellDef="let element"> {{element.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="idRol">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> ROL</th>
                <td mat-cell *matCellDef="let element"> {{element.idRol}} </td>
            </ng-container>

            <ng-container matColumnDef="menuPadre">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> MENU PADRE</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.idMenuPadre}} </td>
            </ng-container>

            <ng-container matColumnDef="nombreMenu">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> MENU</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Estado</th>
                <td mat-cell *matCellDef="let element"> {{element._estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th *matHeaderCellDef mat-header-cell> Acti/Desa</th>
                <td mat-cell *matCellDef="let element" disabled="codigoProceso">
                    <button mat-button *ngIf="element.estado == '2'" (click)="accion(element, 'desactivar')">
                        <mat-icon style="color: rgb(170, 41, 18)">block</mat-icon>
                    </button>
                    <button mat-button *ngIf="element.estado == '1'" (click)="accion(element, 'activar')">
                        <mat-icon style="color: green">check_circle_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsCertificacion"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCertificacion;"></tr>
        </table>
    </div>

    <!--Tabla para roles Conciliacion-->
    <div *ngIf="mostrarTablasRoles">
        <div class="divTituloTablas">
            <h1 style="padding-top: 2%; text-align: center; margin-left: 42.3%">Conciliación</h1>
            <span class="line-spacer"></span>
        </div>
        <table mat-table [dataSource]="dataSourceConciliacion" matSort class="mat-elevation-z8">
            <caption></caption>
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO</th>
                <td *matCellDef="let element" mat-cell> {{element.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="idRol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ROL</th>
                <td *matCellDef="let element" mat-cell> {{element.idRol}} </td>
            </ng-container>

            <ng-container matColumnDef="menuPadre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MENU PADRE</th>
                <td *matCellDef="let element" mat-cell> {{element.menu.idMenuPadre}} </td>
            </ng-container>

            <ng-container matColumnDef="nombreMenu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MENU</th>
                <td *matCellDef="let element" mat-cell> {{element.menu.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                <td *matCellDef="let element" mat-cell> {{element._estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acti/Desa</th>
                <td *matCellDef="let element" mat-cell disabled="codigoProceso">
                    <button mat-button (click)="accion(element, 'desactivar')" *ngIf="element.estado == '2'">
                        <mat-icon style="color: rgb(170, 41, 18)">block</mat-icon>
                    </button>
                    <button mat-button (click)="accion(element, 'activar')" *ngIf="element.estado == '1'">
                        <mat-icon style="color: green">check_circle_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsConciliacion"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsConciliacion;"></tr>
        </table>
    </div>

    <!--Tabla para roles Contabilidad-->
    <div *ngIf="mostrarTablasRoles">
        <div class="divTituloTablas">
            <h1 style="padding-top: 2%; text-align: center; margin-left: 42.2%">Contabiidad</h1>
            <span class="line-spacer"></span>
        </div>
        <table mat-table [dataSource]="dataSourceContabilidad" matSort class="mat-elevation-z8">
            <caption></caption>
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO</th>
                <td mat-cell *matCellDef="let element"> {{element.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="idRol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ROL</th>
                <td mat-cell *matCellDef="let element"> {{element.idRol}} </td>
            </ng-container>

            <ng-container matColumnDef="menuPadre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MENU PADRE</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.idMenuPadre}} </td>
            </ng-container>

            <ng-container matColumnDef="nombreMenu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MENU</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                <td mat-cell *matCellDef="let element"> {{element._estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acti/Desa</th>
                <td mat-cell *matCellDef="let element" disabled="codigoProceso">
                    <button mat-button (click)="accion(element, 'desactivar')" *ngIf="element.estado == '2'">
                        <mat-icon style="color: rgb(170, 41, 18)">block</mat-icon>
                    </button>
                    <button mat-button (click)="accion(element, 'activar')" *ngIf="element.estado == '1'">
                        <mat-icon style="color: green">check_circle_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsContabilidad"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsContabilidad;"></tr>
        </table>
    </div>

    <!--Tabla para roles Liquidacion-->
    <div *ngIf="mostrarTablasRoles">
        <div class="divTituloTablas">
            <h1 style="padding-top: 2%; text-align: center; margin-left: 42.3%">Liquidación</h1>
            <span class="line-spacer"></span>
        </div>
        <table mat-table [dataSource]="dataSourceLiquidar" matSort class="mat-elevation-z8">
            <caption></caption>
            <ng-container matColumnDef="codigo">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>CODIGO</th>
                <td mat-cell *matCellDef="let element"> {{element.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="idRol">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>ROL</th>
                <td mat-cell *matCellDef="let element"> {{element.idRol}} </td>
            </ng-container>

            <ng-container matColumnDef="menuPadre">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>MENU PADRE</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.idMenuPadre}} </td>
            </ng-container>

            <ng-container matColumnDef="nombreMenu">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>MENU</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Estado</th>
                <td mat-cell *matCellDef="let element"> {{element._estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th *matHeaderCellDef mat-header-cell>Acti/Desa</th>
                <td disabled="codigoProceso" mat-cell *matCellDef="let element">
                    <button *ngIf="element.estado == '2'" mat-button (click)="accion(element, 'desactivar')">
                        <mat-icon style="color: rgb(170, 41, 18)">block</mat-icon>
                    </button>
                    <button *ngIf="element.estado == '1'" mat-button (click)="accion(element, 'activar')">
                        <mat-icon style="color: green">check_circle_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsLiquidar"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsLiquidar;"></tr>
        </table>
    </div>

    <!--Tabla para roles adminitracion-->
    <div *ngIf="mostrarTablasRoles">
        <div class="divTituloTablas">
            <h1 style="padding-top: 2%; text-align: center; margin-left: 40%">Administración</h1>
            <span class="line-spacer"></span>
        </div>
        <table mat-table [dataSource]="dataSourceAdministracion" matSort class="mat-elevation-z8">
            <caption></caption>
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO</th>
                <td mat-cell *matCellDef="let element"> {{element.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="idRol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ROL</th>
                <td mat-cell *matCellDef="let element"> {{element.idRol}} </td>
            </ng-container>

            <ng-container matColumnDef="menuPadre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MENU PADRE</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.idMenuPadre}} </td>
            </ng-container>

            <ng-container matColumnDef="nombreMenu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MENU</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                <td mat-cell *matCellDef="let element"> {{element._estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acti/Desa</th>
                <td mat-cell *matCellDef="let element" disabled="codigoProceso">
                    <button mat-button (click)="accion(element, 'desactivar')" *ngIf="element.estado == '2'">
                        <mat-icon style="color: rgb(170, 41, 18)">block</mat-icon>
                    </button>
                    <button mat-button (click)="accion(element, 'activar')" *ngIf="element.estado == '1'">
                        <mat-icon style="color: green">check_circle_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsAdministracion"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAdministracion;"></tr>
        </table>
    </div>

    <!--Tabla para roles adminitracion Contables-->
    <div *ngIf="mostrarTablasRoles">
        <div class="divTituloTablas">
            <h1 style="padding-top: 2%; text-align: center; margin-left: 30%">Administración Tabls Contables</h1>
            <span class="line-spacer"></span>
        </div>
        <table mat-table [dataSource]="dataSourceAdministracionContable" matSort class="mat-elevation-z8">
            <caption></caption>
            <ng-container matColumnDef="codigo">
                <th *matHeaderCellDef mat-sort-header mat-header-cell>CODIGO</th>
                <td mat-cell *matCellDef="let element"> {{element.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="idRol">
                <th *matHeaderCellDef mat-sort-header mat-header-cell>ROL</th>
                <td mat-cell *matCellDef="let element"> {{element.idRol}} </td>
            </ng-container>

            <ng-container matColumnDef="menuPadre">
                <th *matHeaderCellDef mat-sort-header mat-header-cell>MENU PADRE</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.idMenuPadre}} </td>
            </ng-container>

            <ng-container matColumnDef="nombreMenu">
                <th *matHeaderCellDef mat-sort-header mat-header-cell>MENU</th>
                <td mat-cell *matCellDef="let element"> {{element.menu.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th *matHeaderCellDef mat-sort-header mat-header-cell>Estado</th>
                <td mat-cell *matCellDef="let element"> {{element._estado}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acti/Desa</th>
                <td *matCellDef="let element" mat-cell disabled="codigoProceso">
                    <button (click)="accion(element, 'desactivar')" mat-button *ngIf="element.estado == '2'">
                        <mat-icon style="color: rgb(170, 41, 18)">block</mat-icon>
                    </button>
                    <button (click)="accion(element, 'activar')" mat-button *ngIf="element.estado == '1'">
                        <mat-icon style="color: green">check_circle_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsAdministracionContable"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAdministracionContable;"></tr>
        </table>
    </div>

</div>