<div class="modal-dialog-custom">
    <app-spinner *ngIf="spinnerActive"></app-spinner>
    <div class="mat-table-custom configScroll">
        <div class="tittle-section">
            <h2>Banco AV-Villas1</h2>
        </div>
        <table mat-table [dataSource]="tablaAvVillas">
            <caption></caption>
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>CANTIDAD ASIGNADA</th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="valorLiquidado">
                <th mat-header-cell *matHeaderCellDef>VALOR LIQUIDADO</th>
                <td mat-cell *matCellDef="let element"> {{element.valorCapturado | currency}} </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsInfoProcesos"></tr>
        </table>
        <div class="tittle-section">
            <h2>Banco de Occidente</h2>
        </div>
        <table mat-table [dataSource]="tablaOccidente">
            <caption></caption>
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>CANTIDAD</th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="valorLiquidado">
                <th mat-header-cell *matHeaderCellDef>VALOR CAPTURADO</th>
                <td mat-cell *matCellDef="let element"> {{element.valorCapturado | currency}} </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsInfoProcesos"></tr>
        </table>
        <div class="tittle-section">
            <h2>Banco de Popular</h2>
        </div>
        <table mat-table [dataSource]="tablaPopular">
            <caption></caption>
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>CANTIDAD</th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="valorLiquidado">
                <th mat-header-cell *matHeaderCellDef>VALOR CAPTURADO</th>
                <td mat-cell *matCellDef="let element"> {{element.valorCapturado | currency}} </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsInfoProcesos"></tr>
        </table>
        <div class="tittle-section">
            <h2>Banco de Bogotá</h2>
        </div>
        <table mat-table [dataSource]="tablaBogota">
            <caption></caption>
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef>CANTIDAD</th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="valorLiquidado">
                <th mat-header-cell *matHeaderCellDef>VALOR CAPTURADO</th>
                <td mat-cell *matCellDef="let element"> {{element.valorCapturado | currency}} </td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsInfoProcesos"></tr>
        </table>
    </div>
    <div class="button-container" *ngIf="!spinnerActive">
        <button class="button-custom" mat-raised-button color="primary" (click)="guardar()">Guardar</button>
        <button class="button-custom" mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    </div>
</div>