<div mat-dialog-content>
  <mat-icon mat-dialog-close class="botonCerrarDialog">close</mat-icon>
  <div style="border: 1px solid rgb(234, 234, 234)">
    <div style="text-align: center; margin-top: 5%;">
      <div [ngSwitch]="data.codigo">
        <img *ngSwitchCase="1" [src]="imgError" width="150" alt="imgError">
        <img *ngSwitchCase="2" [src]="imgAlerta" width="150" alt="imgAlerta">
        <img *ngSwitchCase="3" [src]="imgExistoso" width="150" alt="imgExistoso">
        <img *ngSwitchCase="4" [src]="imgEsperar" width="150" alt="imgEsperar">
      </div>
      <p style="font-size: 20px; margin-top: 2%;"> {{ data.msn }} </p>

      <mat-accordion *ngIf="data.showResume">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Detalles</mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{data.msgDetalles}}</p>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
</div>
<div mat-dialog-actions *ngIf="data.showActions">
  <button class="division-btn1" mat-raised-button color="primary" cdkFocusInitial
    [mat-dialog-close]="data">Aceptar</button>
  <button mat-raised-button (click)="onCancel()">Cancelar</button>
</div>
