<div class="tittle-section">
    <h2>Administración de Dominios</h2>
</div>
<div class="mat-table-custom">
    <div class="controls-container">
        <button mat-raised-button class="button-custom" color="primary" (click)="crearTablaDominio()">Nuevo</button>

        <mat-checkbox hidden [checked]="isDominioChecked" type="checkbox" class="margen-checkbox" color="primary"
            (click)="define()" [(ngModel)]="isDominioChecked">Incluir dominios
            inactivos</mat-checkbox>
    </div>
    <div *ngIf="spinnerActive" class="disenio-spinner">
        <mat-spinner></mat-spinner>
    </div>

    <div [hidden]="spinnerActive">
        <table mat-table [dataSource]="dataSourceDominios" matSort #sortDominios="matSort" aria-label="tabla-dominio-maestro">
            <tr>
                <ng-container matColumnDef="dominio" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DOMINIO</th>
                    <td mat-cell *matCellDef="let element"> {{element.dominio}} </td>
                </ng-container>
            </tr>
            <tr>
                <ng-container matColumnDef="descripcion" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCIÓN</th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>
            </tr>

            <tr>
                <ng-container matColumnDef="tipoContenido" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO CONTENIDO</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoContenido}} </td>
                </ng-container>
            </tr>
            <!-- <tr>
                <ng-container matColumnDef="estado" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                    <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                </ng-container>
            </tr> -->
            <tr>
                <ng-container matColumnDef="acciones" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef>EDITAR</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button class="col-6" (click)="actualizarTablaDominio(element)">
                            <mat-icon style="color: green">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsDominios"></tr>
            <tr mat-row (click)="eventoClick(row)" *matRowDef="let row; columns: displayedColumnsDominios;"></tr>
        </table>
    </div>

    <div class="tittle-section" *ngIf="mostrarTablaCodigos">
        <h2>DOMINIO: {{elementoDominioActualizar.dominio}}</h2>
    </div>
    <div class="mat-table-custom" *ngIf="mostrarTablaCodigos">
        <div class="controls-container">
            <button mat-raised-button color="primary" (click)="mostrarCodigo('new', null)">Nuevo código</button>
            <button mat-raised-button *ngIf="mostrarBtnEliminarCodigo" color="warn"
                (click)="eliminarIdentificador()">Eliminar Identificador</button>
            <mat-checkbox hidden class="margen-checkbox" color="primary" (click)="defineCodigo()"
                [(ngModel)]="isIdentChecked">Incluir identificadores
                inactivos</mat-checkbox>
        </div>

        <table mat-table [dataSource]="dataSourceCodigos" matSort #sortCodigos="matSort" aria-label="tabla-dominios">
            <tr>
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                    <td mat-cell *matCellDef="let element"> {{element.id.codigo}} </td>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>
                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo valor</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                </ng-container>
                <ng-container matColumnDef="valorTexto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor texto</th>
                    <td mat-cell *matCellDef="let element"> {{element.valorTexto}} </td>
                </ng-container>
                <ng-container matColumnDef="valorNumero">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor numero</th>
                    <td mat-cell *matCellDef="let element"> {{element.valorNumero}} </td>
                </ng-container>
                <ng-container matColumnDef="valorFecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor fecha</th>
                    <td mat-cell *matCellDef="let element"> {{element.valorFecha | date:'dd/MM/yyyy'}} </td>
                </ng-container>
                <!--<ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                    <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                </ng-container> -->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button class="col-6" (click)="mostrarCodigo('edit', element)">
                            <mat-icon style="color: green">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsIdent"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsIdent;"></tr>
        </table>
    </div>
</div>