<div class="tittle-section">
  <h2>Gestión Tipo Centro Costos</h2>
</div>

<div class="mat-table-custom" *ngIf="mostrarTabla">
  <div class="controls-container">
    <button mat-raised-button color="primary" class="button-custom" (click)="crearCentroCostos()">
      Nuevo
    </button>
  </div>
  <div *ngIf="spinnerActive" class="disenio-spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div [hidden]="spinnerActive">
      <table mat-table [dataSource]="dataSourceTiposCuentas" matSort class="configScroll" aria-label="tipoCentroCosto">
        <tr>
          <ng-container matColumnDef="tipoCentro" class="mat-column-nombreCampo">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>TIPO</th>
            <td mat-cell *matCellDef="let element"> {{element.tipoCentro}} </td>
          </ng-container>

          <ng-container matColumnDef="bancoAval" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>BANCO</th>
            <td mat-cell *matCellDef="let element"> {{element.bancoAval.abreviatura}} </td>
          </ng-container>

          <ng-container matColumnDef="nombreCentro" class="mat-column-nombreCampo">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>NOMBRE CENTRO</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreCentro}} </td>
          </ng-container>

          <ng-container matColumnDef="codigoCentro" class="mat-column-nombreCampo">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>CÓDIGO CENTRO</th>
            <td mat-cell *matCellDef="let element"> {{element.codigoCentro}} </td>
          </ng-container>

          <ng-container matColumnDef="tablaCentros" class="mat-column-nombreCampo">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>CENTROS</th>
            <td mat-cell *matCellDef="let element"> {{element.tablaCentros}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones" class="mat-column-nombreCampo">
            <th mat-header-cell *matHeaderCellDef>EDITAR</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button (click)="editar(element)">
                <mat-icon style="color: green">edit</mat-icon>
              </button>
            </td>
          </ng-container>
        </tr>
        <tr *matHeaderRowDef="displayedColumnsTiposCuentas" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumnsTiposCuentas;" mat-row></tr>
      </table>
    </div>
</div>

<div *ngIf="mostrarFormulario" class="form-containter">
  <div [formGroup]="form" class="form-fields">
    <mat-form-field appearance="fill">
      <mat-label>Tipo Centro</mat-label>
      <input matInput formControlName="tipoCentro">
      <mat-error *ngIf="form.get('tipoCentro').hasError('min')">Longitud mínima es de 3 caracteres.</mat-error>
      <mat-error *ngIf="form.get('tipoCentro').hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Banco</mat-label>
      <mat-select formControlName="bancoAval">
        <mat-option *ngFor="let item of bancos" [value]="item">
          {{item.nombreBanco}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('bancoAval').hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nombre Centro</mat-label>
      <input matInput formControlName="nombreCentro">
      <mat-error *ngIf="form.get('nombreCentro').hasError('required')">Este campo es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Código Centro</mat-label>
      <input matInput formControlName="codigoCentro">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tabla Centros</mat-label>
      <mat-select formControlName="tablaCentros">
        <mat-option *ngFor="let item of tablCentros" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" type="button" (click)="persistir()" [disabled]="form.invalid" class="button-custom">
      Aceptar
    </button>
    <button mat-raised-button class="button-custom" color="warn" (click)="onCancel()">Cancelar</button>
  </div>
</div>