<div class="table-filter-container">
  <mat-form-field appearance="fill">
    <mat-label>Bancos grupo aval</mat-label>
    <mat-select [(ngModel)]="selectBancoFilter">
      <mat-option>Ninguno</mat-option>
      <mat-option *ngFor="let bancoOption of bancoOptions" [value]="bancoOption.nombreBanco">
        {{bancoOption.nombreBanco}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Transportadoras</mat-label>
    <mat-select [(ngModel)]="selectTrasportadorafilter">
      <mat-option>Ninguno</mat-option>
      <mat-option *ngFor="let tranportadoraOption of tranportadoraOptions"
        [value]="tranportadoraOption.nombreTransportadora">
        {{tranportadoraOption.nombreTransportadora}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tipo Punto</mat-label>
    <mat-select [(value)]="selectedOrigen" multiple>
      <mat-option value="BAN_REP">BAN_REP</mat-option>
      <mat-option value="CAJERO">CAJERO</mat-option>
      <mat-option value="BANCO">BANCO</mat-option>
      <mat-option value="OFICINA">OFICINA</mat-option>
      <mat-option value="FONDO">FONDO</mat-option>
      <mat-option value="CLIENTE">CLIENTE</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="showFilterEstado">
    <mat-form-field appearance="fill">
      <mat-label>Estado Conciliacion</mat-label>
      <mat-select [(value)]="estadoConciliacion" multiple>
        <mat-option *ngFor="let item of estadosConciliacionOptions" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="showFechaProceso">
    <mat-form-field appearance="fill">
      <mat-label>Fecha Proceso</mat-label>
      <input matInput [matDatepicker]="picker1" [formControl]="fechaOrigen" [(ngModel)]="fechaProceso">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="action-filter-container">
      <button title="Buscar y Visualizar" mat-button (click)="filtrar()">
        <mat-icon style="color: green; font-size: 2em">search</mat-icon>
      </button>
      <button title="Limpiar Filtros" mat-button (click)="limpiar()">
        <mat-icon style="color: rgb(0, 2, 128); font-size: 2em;">autorenew</mat-icon>
      </button>
    </div>
</div>