table {
    width: 2200px;
}

.configScroll {
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
}

.tituloTabla {
    padding: 2%;
    padding-top: 2%;
    text-align: center;
}