<app-filtro-banco-tdv (filterData)="filter($event)" [showFechaProceso]="true"
    [fechaProceso]="fechaProceso" [fechaOrigen]="fechaOrigen">
</app-filtro-banco-tdv>

<div class="divTituloTablas">
    <h1 class="tituloTabla">Ajustes de Operaciones Conciliadas</h1>
</div>
<mat-paginator [pageSize]="5" [pageSizeOptions]="pageSizeList" [length]="cantidadRegistros" (page)="mostrarMas($event)">
</mat-paginator>
<button mat-raised-button color="primary"
    (click)="exporter.exportTable('xlsx', {fileName:'operaciones_certificadas'})">Exportar tabla</button>

<div class="divTabla">
    <div *ngIf="load" class="disenio-spinner">
        <mat-spinner></mat-spinner>
    </div>
    <table mat-table matTableExporter [dataSource]="dataSourceConciliadas" matSort #exporter="matTableExporter">
        <tr>
            <ng-container matColumnDef="banco" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> BANCO</th>
                <td mat-cell *matCellDef="let element"> {{element.Banco}} </td>
            </ng-container>

            <ng-container matColumnDef="transPortadora" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TRANSPORTADORA</th>
                <td mat-cell *matCellDef="let element"> {{element.Transportadora}} </td>
            </ng-container>

            <ng-container matColumnDef="ciudad" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CIUDAD</th>
                <td mat-cell *matCellDef="let element"> {{element.ciudadOrigen}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoOperacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DE OPERACION</th>
                <td mat-cell *matCellDef="let element"> {{element.tipoOperacion}} </td>
            </ng-container>

            <ng-container matColumnDef="nombrePuntoOrigen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE PUNTO ORIGEN</th>
                <td mat-cell *matCellDef="let element"> {{element.puntoOrigen}} </td>
            </ng-container>

            <ng-container matColumnDef="nombrePuntoDestino">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE PUNTO DESTINO</th>
                <td mat-cell *matCellDef="let element"> {{element.puntoDestino}} </td>
            </ng-container>

            <ng-container matColumnDef="ciudadPuntoOrigen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CIUDAD PUNTO ORIGEN</th>
                <td mat-cell *matCellDef="let element"> {{element.puntoOrigen}} </td>
            </ng-container>

            <ng-container matColumnDef="ciudadPuntoDestino">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CIUDAD PUNTO DESTINO</th>
                <td mat-cell *matCellDef="let element"> {{element.puntoDestino}} </td>
            </ng-container>

            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> VALOR</th>
                <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoConciliacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DE CONCILIACION</th>
                <td mat-cell *matCellDef="let element"> {{element.tipoConciliacion}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaEjecucion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE EJECUCION</th>
                <td mat-cell *matCellDef="let element"> {{element.fechaEjecucion | date: 'dd/MM/YYYY' : '+00'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Desconciliar</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button (click)="eventoDesconciliar(element)">
                        <mat-icon style="color: red">undo</mat-icon>
                    </button>
                </td>
            </ng-container>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsConciliadas"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsConciliadas;"></tr>
    </table>
</div>