<!--Banner superior-->
<app-banner-supeior></app-banner-supeior>

    <!--Botones de Menu-->
    <div class="page-wrapper">
        <section class="cards-section text-center">
            <div>
                <div id="cards-wrapper" class="cards-wrapper row">
                    <!--Cargue programación-->
                <div class="item item-green col-lg-4 col-6">
                    <button class="item-inner" routerLink="/cargue-programacion">
                        <div class="ubicacion-icon">
                            <input class="img-input" type="image" src="assets/img/icono--01.png" />
                        </div>
                        <div>
                            <h3 class="title">Cargue Programación</h3>
                        </div>
                        <p class="intro">Cargues de archivos preliminares</p>
                    </button>
                </div>
                    
                    <!--Cargue certificacion-->
                    <div class="item item-pink item-2 col-lg-4 col-6">
                    <button class="item-inner" routerLink="/cargue-certificacion">
                        <div class="ubicacion-icon" >
                            <input class="img-input" type="image" src="assets/img/icono--03.png" />
                        </div>
                        <h3 class="title">Cargue Certificación</h3>
                        <p class="intro">Descrpción del modulo de conciliación</p>
                    </button>
                </div>
                
                <!--Conciliacion-->
                <div class="item item-blue col-lg-4 col-6">
                    <button class="item-inner" routerLink="/conciliacion">
                        <div class="ubicacion-icon">
                            <input class="img-input" type="image" src="assets/img/icono--04.png" />
                        </div>
                        <h3 class="title">Conciliación</h3>
                        <p class="intro">Contiene las operaciones programadas y certificadas, conciliades,
                            desoonciliadas, fallidas, etc.</p>
                    </button>
                </div>
                    
                    <!--Contabilidad-->
                    <div class="item item-purple col-lg-4 col-6">
                        <button class="item-inner" routerLink="/contabilidad">
                            <div class="ubicacion-icon">
                            </div>
                            <h3 class="title">Contabilidad</h3>
                            <p class="intro">Descrpción del modulo de contabilidad</p>
                        </button>
                    </div>
                    
                <!--Liquidacion-->
                <div class="item item-primary col-lg-4 col-6">
                    <button class="item-inner" routerLink="/liquidacion">
                        <div class="ubicacion-icon">
                        </div>
                        <h3 class="title">Liquidación</h3>
                        <p class="intro">Descrpción del modulo de liquidación</p>
                    </button>
                </div>
                    
                    <!--Administracion-->
                <div class="item item-purple col-lg-4 col-6">
                    <button class="item-inner" routerLink="/administracion">
                        <div class="ubicacion-icon">
                            <input class="img-input" type="image" src="assets/img/icono--02.png" />
                        </div>
                        <h3 class="title">Administración</h3>
                        <p class="intro">Descrpción del modulo de administración</p>
                    </button>
                </div>
                </div>

            </div>
        </section>
    </div>