<!--Banner superior-->
<app-banner-supeior></app-banner-supeior>

<!--Botones de Menu-->
<div class="page-wrapper">
    <section class="cards-section text-center">
        <div class="container">
            <div id="cards-wrapper" class="cards-wrapper row">
                <!--Cargue programación-->
                <div class="item item-green col-lg-4 col-6">
                    <button class="item-inner" routerLink="/cargue-programacion">
                        <div class="icon-holder">
                            <i class="icon fa fa-paper-plane"></i>
                        </div>
                        <h3 class="title">Cargue Programación </h3>
                        <p class="intro">Módulo de gestión para los cargues de archivos preliminares</p>  
                    </button>
                </div>
                <!--Cargue certificacion-->
                <div class="item item-pink item-2 col-lg-4 col-6">
                    <button class="item-inner" routerLink="/cargue-certificacion">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_puzzle_alt"></span>
                        </div>
                        <h3 class="title">Cargue Certificación</h3>
                        <p class="intro">Módulo de gestión para los cargues de archivos certificación</p>
                    </button>
                </div>
                <!--Conciliacion-->
                <div class="item item-blue col-lg-4 col-6">
                    <button class="item-inner" routerLink="/conciliacion">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_datareport_alt"></span>
                        </div>
                        <h3 class="title">Conciliación</h3>
                        <p class="intro">Módulo de gestión para los procesos de conciliación</p>
                    </button>
                </div>
                <!--Administrador-->
                <div class="item item-purple col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_lifesaver"></span>
                        </div>
                        <h3 class="title">Liquidación</h3>
                        <p class="intro">Descrpción del modulo de Liquidación</p>
                        <a class="link" href="faqs.html"><span></span></a>
                    </div>
                </div>
                <!--Cierre fecha-->
                <div class="item item-primary col-lg-4 col-6">
                    <button class="item-inner" routerLink="/cierre-fecha">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_genius"></span>
                        </div>
                        <h3 class="title">Cierre fecha</h3>
                        <p class="intro">Descrpción del modulo de cierre de fecha</p>
                    </button>
                </div>
                
                <div class="item item-orange col-lg-4 col-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span aria-hidden="true" class="icon icon_gift"></span>
                        </div>
                        <h3 class="title">Administración</h3>
                        <p class="intro">Módulo de gestión para las operaciones de administración de dominios</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</div>

<footer class="footer text-center">
    <div class="container">
        <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> for developers</small>
        
    </div>
</footer>