table {
  width: 1280PX;
}

.configScroll {
  height: auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: proximity;
}

.tituloTabla {
  padding-top: 2%;
  text-align: center;
  margin-left: 30%;
}

.divTablaProg {
  background-color: rgb(226, 229, 229);
  padding: 1%;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 2%;
  margin-bottom: auto;
}

.division {
  display: flex;
  text-align: center;
  padding-left: 5%;
}

.ubicacionBotones {
  text-align: right;
  float:left;
  margin-top: 1%;
}