<div class="tittle-container">
    <div class="tittle-section">
        <h2>Liquidación de Costos</h2>
    </div>
</div>
<div class="mat-table-custom">
    <div class="fecha">
        Fecha de Proceso: {{fechaSistemaSelect}}
    </div>
    <div class="controls-container">
        <button class="button-custom" mat-raised-button color="primary" (click)="intervalGeneralContabilidad()">Generar
            Costos</button>
        <button class="button-custom" mat-raised-button color="primary" (click)="consultarCostos()">Consultar
            Costos</button>
        <div *ngIf="estadoTabla">
            <button class="button-custom" mat-raised-button color="primary" (click)="verValoresLiquidados()">Ver
                Detalles Liquidación</button>
            <button class="button-custom" mat-raised-button color="primary" (click)="verErrores()">Ver Errores</button>
        </div>
    </div>
    <div *ngIf="spinnerActive" class="disenio-spinner">
        <mat-spinner></mat-spinner>
    </div>
    <table mat-table *ngIf="estadoTabla && !spinnerActive" [dataSource]="dataSourceInfoProcesos" matSort class="mat-elevation-z8">
        <caption></caption>
        <ng-container matColumnDef="subactividad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SUBACTIVIDAD</th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTIVIDAD</th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon *ngIf="tieneErrores == false" style="color: rgb(255, 0, 0)">error</mat-icon>
                <mat-icon *ngIf="tieneErrores == true" style="color: rgb(39, 218, 3)">check</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
    </table>
</div>