<div class="menu-container">
    <!--Banner superior-->
    <app-banner-superior (checkMenuLateral)="onCheckMenuLateral($event)"></app-banner-superior>

    <!--Componente barra lateral y area de ejecución-->
    <mat-sidenav-container class="sidenav-container">
        <!--Barra izquierda de opciones (Apodo id = sidenav)-->
        <mat-sidenav #sidenav opened="{{checkMenuLateral}}" style="width: 21%" mode="side">

            <!--Secccion de Parametrizacion-->
            <p style="color: rgb(71, 124, 240); margin-top: 2%">Parametrización</p>
            <mat-divider></mat-divider>
            <div *ngFor="let item of menusAdministracion">
                <button mat-menu-item (click)="gotToRouteAdm(item)" style="cursor: pointer"
                    [ngClass]="{'seleccion-activa': item.activo === 1}">
                    <span class="material-icons">{{item.icono}}</span>
                    <span>{{item.nombre}}</span>
                </button>
                <mat-divider></mat-divider>
            </div>
            <br>

            <!--Secccion de tablas contables-->
            <p style="color: rgb(71, 124, 240); margin-top: 2%">Tablas contables</p>
            <mat-divider></mat-divider>
            <div *ngFor="let item of menusAdministracionTablsContables">
                <button mat-menu-item (click)="gotToRouteAdm(item)" style="cursor: pointer"
                    [ngClass]="{'seleccion-activa': item.activo === 1}">
                    <span class="material-icons">{{item.icono}}</span>
                    <span>{{item.nombre}}</span>
                </button>
                <mat-divider></mat-divider>
            </div>
        </mat-sidenav>

        <!--Barra derecha de ejecución-->
        <mat-sidenav-content class="background-page">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
