.titulo-cabecera {
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    padding: 8px 0;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.estado-error {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.estado-ok {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}