<div class="titulo-tabla">
    <h1>Modificación de un cliente</h1>
</div>
<div [formGroup]="form" class="example-container">
    <div class="div-division">
        <div class="ubica">
            <h2>Nombre</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input class="mayusculas" formControlName="nombre" matInput #input required>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Ciudad</h2>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione una ciudad</mat-label>
            <mat-select formControlName="ciudad">
                <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad" required>
                    {{ciudad.nombreCiudad}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Cliente</h2>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione un cliente</mat-label>
            <mat-select formControlName="cliente">
                <mat-option *ngFor="let cliente of clientes" [value]="cliente" required>
                    {{cliente.nombreCliente}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Estado</h2>
        </div>
            <label class="switch" style="margin-left:8%; margin-top: 4%;" >
                <input class="switch-input" type="checkbox" formControlName="estado" id="estado" required />
                <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
                <span class="switch-handle"></span>
            </label>
    </div>

    <div>
        <mat-checkbox class="margen-checkbox" formControlName="fajado" color="primary" required>Fajado</mat-checkbox>
    </div>

    <div class="division-btn-ident">
        <div>
            <button mat-raised-button color="primary" (click)="persistir()">Guardar</button>
        </div>
        <div>
            <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
        </div>
    </div>
</div>
