<!-- <div class="tittle-section">
    <h2>Gestión Cargue Preliminar</h2>
</div> -->
<div class="procesos-custom-container">
    <div class="tittle-section">
        <h2>Gestión Cargue Preliminar</h2>
    </div>
    <div class="mat-table-custom">
        <mat-tab-group (selectedIndexChange)="changeTab($event)">
            <mat-tab label="CARGUE PRELIMINAR">
                <app-archivos-cargados></app-archivos-cargados>
            </mat-tab>
            <mat-tab label="HISTORIAL DE CARGUE">
                <app-historico-archivos-cargados></app-historico-archivos-cargados>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<!-- <div class="procesos-custom-container">
    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step>
            <ng-template matStepLabel>Cargue Preliminar</ng-template>
            <app-archivos-cargados></app-archivos-cargados>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Historial de Cargue</ng-template>
            <app-historico-archivos-cargados></app-historico-archivos-cargados>
        </mat-step>
    </mat-stepper>
</div> -->