.division-busqueda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ubicacionBotonFiltrar {
    margin-top: 8%;
}

.ubicacionDerecha {
    text-align: right;
}

.ubicacionCentro {
    text-align: center;
}

.ubicacionIzquierda {
    text-align: left;
}