<!--Cuadro de información de cargue de archivos-->
<img src="assets/img/nuve_load.jpg" width="150" style="display:block; margin:auto; margin-top: 2%">
<div class="cargue-container">
    <img src="assets/img/csv_icon.png" width="70" style=" margin: 3%">
    <!--Boton para cargar el arhivo-->
    <div style="text-align:center">
        <label class="btn btn-outline-danger btn-file mt-0 cursor-pointer trebuchet-ms--sz12">
            Seleccionar el archivo
            <input #inputFile type="file" class="d-none" multiple (change)="fileChange($event.target)">
        </label>
    </div>