<div class="component-container">
    <div class="tittle-section">
        <h2>Gestión Tasas Cambio</h2>
    </div>


    <div *ngIf="mostrarTabla" class="mat-table-custom">
        <div class="controls-container">
            <button mat-raised-button color="primary" class="button-custom" (click)="crearTasasCambio()">
                Nuevo
            </button>
        </div>

        <div *ngIf="spinnerActive" class="disenio-spinner">
            <mat-spinner></mat-spinner>
        </div>
        <div [hidden]="spinnerActive">
            <table mat-table [dataSource]="dataSourceTiposCuentas" matSort class="configScroll"
                aria-label="tasasCambio">
                <tr>
                    <ng-container matColumnDef="tasasCambioPK.fechaTasa" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA</th>
                        <td mat-cell *matCellDef="let element"> {{element.tasasCambioPK.fechaTasa |
                            date:'dd/MM/yyyy'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="espacio1" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>
                    <ng-container matColumnDef="moneda" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MONEDA</th>
                        <td mat-cell *matCellDef="let element"> {{element.tasasCambioPK.codigoMoneda}} </td>
                    </ng-container>
                    <ng-container matColumnDef="espacio2" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                        <td mat-cell *matCellDef="let element"></td>
                    </ng-container>
                    <ng-container matColumnDef="tasaCambio" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>TASA CAMBIO</th>
                        <td mat-cell *matCellDef="let element"> {{element.tasaCambio}} </td>
                    </ng-container>
                    <ng-container class="mat-column-nombreCampo" matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef>EDITAR</th>
                        <td *matCellDef="let element" mat-cell>
                            <button mat-button (click)="editar(element)">
                                <mat-icon style="color: green">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </tr>
                <tr *matHeaderRowDef="displayedColumnsTiposCuentas" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumnsTiposCuentas;" mat-row></tr>
            </table>
        </div>
    </div>
    <div class="form-containter" *ngIf="mostrarFormulario">
        <div class="form-fields" [formGroup]="form" *ngIf="mostrarFormulario">
            <mat-form-field  appearance="fill">
                <mat-label>Fecha tasa</mat-label>
                <input required matInput [matDatepicker]="picker1" readonly="true" formControlName="fechaTasa"
                    value="now">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="form.get('fechaTasa').hasError('required')">Este campo es requerido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="codigoMoneda">
                    <mat-option *ngFor="let item of monedas" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('codigoMoneda').hasError('required')">Este campo es requerido</mat-error>
            </mat-form-field>
            <mat-form-field  appearance="fill">
                <input matInput placeholder="Tasa Cambio" required formControlName="tasaCambio">
                <mat-error *ngIf="form.get('tasaCambio').hasError('required')">Este campo es requerido</mat-error>
            </mat-form-field>


        </div>
        <div class="button-container">
            <button mat-raised-button color="primary" type="button" (click)="persistir()" class="button-custom" [disabled]="form.invalid">
                Aceptar
            </button>
            <button mat-raised-button color="warn" class="button-custom" (click)="onCancel()">Cancelar</button>
        </div>
    </div>
</div>