<div style="padding-left: 1% ;border: 1px solid rgb(196, 196, 196)">
    <!--Ventana emergente de validación de archivo-->
    <h1 style="text-align: center; margin-top: 2%;">Validar archivo pendiente de Carga</h1>
    <div style="text-align: center; margin-top: 5%;">
        <img src="assets/img/waring.jpg" width="60">
        <p>{{nombreArchivo}}</p>
        <div style="margin-top: 5%;">
            <button style="display:inline; margin: 2%;" class="bottonAceptarCenter" [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
            <button style="display:inline; margin: 2%;" class="bottonCancelarCenter" mat-dialog-close>Cancelar</button>
        </div>
    </div>
</div>
