
.example-app-name {
    margin-left: 1cm;
    color: #fff
}
/*Estilo para la linea separadora de options */
.line-spacer {
    flex: 1 1 auto;
}
.enlinea {
    
    grid-template-columns: 1fr;
    
}
.color {
    color: #fff
}

.sesion {
    justify-content: center;
    color: #fff;
    text-align: center;
}

.sesion-name {
    font-size: small;
}

.sesion-date {
    font-size: small;
}