@import "./assets/fonts_css/fonts.css";
@import "./assets/fonts_css/icon.css";

/************************************************************************************************************************
You can add global styles to this file, and also import other style files 
*************************************************************************************************************************/

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*Estilo para la linea objetos de esquina a esquina */
.line-spacer {
    flex: 1 1 auto;
}

/************************************************************************************************************************
Estilo para botones en el aplicativo 
*************************************************************************************************************************/
.bottonAceptarCenter {
    color: #fff;
    background-color: #3e67ee;
    border-color: #f8f8f1;
    display: block;
    margin: auto;
    padding: 2%;
    border-radius: 0.25rem;
    line-height: 0.7;
    font-size: 20px;
}

.bottonCancelarCenter {
    color: rgb(26, 23, 23);
    background-color: #d1cbc9;
    border-color: #d1cbc9;
    display: block;
    margin: auto;
    padding: 2%;
    border-radius: 0.25rem;
    line-height: 0.7;
    font-size: 20px;
}

.bottonCargue {
    color: #fff;
    background-color: #0b9416;
    border-color: #07680f;
    display: block;
    margin: auto;
    padding: 2%;
    border-radius: 0.25rem;
    line-height: 0.7;
    font-size: 20px;
}


/*Estilo para los botones del home */
.bottonHome {
    color: #fff;
    background-color: #da5b34;
    border-color: #da5b34;
    margin: auto;
    padding: 2%;
    border-radius: 0.25rem;
    line-height: 2.7;
    width: 25%;
    font-size: 22px;
}


/************************************************************************************************************************
* Estilos para los componentes sidenav 
*************************************************************************************************************************/

/*Estilo para la pagina maestro detalle*/
.menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container {
    flex: 1;
}


/************************************************************************************************************************
* Estilos para las tablas de información 
*************************************************************************************************************************/
/*Tamaño general de las tablas*/
table.mat-table {
    border-spacing: 0;
    width: 100%;
}

/*Estilo para la pocicion de las tablas */
.divTabla {
    background-color: rgb(226, 229, 229);
    padding: 1%;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 5%
}

.divTituloTablas {
    background-color: #f0f0f0;
}

/************************************************************************************************************************
* Esilos para las ventanas emergentes 
*************************************************************************************************************************/

.titulo {
    padding: 1em;
    text-align: center;
    font-weight: 600;
    background-color: #332c52;
    color: #f0f0f0;
}

.example-container {
    display: flex;
    flex-direction: column;
}

/************************************************************************************************************************
* Esilos para los formularios 
*************************************************************************************************************************/

/*Estilo para campo invalido o requerido*/
.invalido {
    color: red;
}

/*Estilo para separacion del cada campo*/
.divSectionsFormEditar {
    text-align: center;
    width: 100%;
}

.form {
    margin: 1em;
    padding: 1em;
    border-color: rgb(112, 187, 116);
}

mat-form-field {
    margin-right: 8%;
    margin-left: 8%;
}

.buttonsSaveOremove {
    background-color: #da5b34;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
}

/************************************************************************************************************************
* Esilos para Stepper
*************************************************************************************************************************/
.mat-stepper-horizontal {
    padding-top: 3%;
}

.mat-form-field {
    margin-top: 2%;
}

.mat-step-header {
    overflow: hidden;
    outline: none;
    cursor: pointer;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
    background-color: #d4d3d3;
    border-radius: 34px;
    margin-right: 8%;
    margin-left: 7%;
}

.mat-horizontal-stepper-header {
    height: 72px;
    overflow: hidden;
    align-items: center;
    padding: 0 14px;
}


/************************************************************************************************************************
* Estilos para color de la pestaña seleccionada
*************************************************************************************************************************/
.seleccion-activa {
    color: #61b6e4 !important;
    /* Note: You could also use a custom theme */
    background-color: rgb(255, 255, 255);
}



.sesion-item {
    font-size: 12px;
    line-height: 14px;
}

.menu-container .mat-drawer {
    width: 20% !important;
}

.menu-container .mat-menu-item {
    line-height: 36px;
    height: 36px;
}


/* Estilos globales componentes y tablas */
.mat-drawer-content {
    background-color: white;
}
.tittle-section {
    padding-left: 0.75rem;
    background-color: white;
}

.tittle-section>h2 {
    margin: 0px;
    padding-top: 6px;
}

.action-filter-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
}

/*Estilos tablas*/
.mat-table-custom .mat-cell,
.mat-table-custom .mat-footer-cell {
    font-size: 12px;
    padding-top: 3px;
    padding-right: 8px;
}

.mat-table-custom .mat-header-cell {
    font-size: 12px;
    font-weight: 600;
    color: black;
}

:host ::ng-deep .mat-elevation-z8 {
    box-shadow: none !important;
}

.mat-table-custom .mat-table {
    border-top: 2px solid #ddd !important;
    box-shadow: 0px 8px 8px -0px rgba(0, 0, 0, 0.4) !important;
}



.mat-table-custom .mat-header-cell {
    padding-top: 3px;
}


.mat-table-custom tr.mat-row .mat-button {
    line-height: 0px;
}

.mat-table-custom .mat-icon {
    height: 1rem;
    width: 1rem;
    font-size: 16px;
}

.mat-table-custom .mat-icon.material-icons {
    font-size: 18px;
}

.mat-table-custom .table-filter-container button .mat-icon.material-icons {
    font-size: 24px;
}

.mat-table-custom tr.mat-row,
tr.mat-footer-row,
.mat-table-custom tr.mat-header-row {
    height: 32px;
}

/*Estilos botón*/
.controls-container {
    display: flex;
    align-items: center;
    padding: 0 12px;
    background-color: white;
    min-height: 58px;
    flex-wrap: wrap;
}

.mat-table-custom .controls-container .button-custom {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 24px;
}

/* Área del paginador - tamaño fijo */
.paginator-area {
    flex-grow: 0;
    /* NO crece */
    align-self: center;
    /* Se centra verticalmente */
    min-width: fit-content;
    /* Mantiene su tamaño mínimo */
    margin-left: auto;
    margin-right: -1rem;
}

.mat-dialog-actions .button-custom,
.mat-table-custom .button-custom,
.modal-dialog-custom .button-custom {
    margin-right: 12px;
    color: white;
    font-weight: 500;
    padding: 0 16px;
    min-width: 100px;
    transition: all 0.3s ease;
    flex-shrink: 0;
    /* No se contrae */
}

.mat-table-custom .mat-raised-button {
    line-height: 28px;
}

.mat-table-custom .mat-table {
    margin-bottom: 32px;
}

.button-customn:hover {
    transform: translateY(-2px);
}

.table-filter-container {
    display: grid;
    width: auto;
    background: white;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
    padding: 18px 12px 12px 12px;
    margin: 0;
    gap: 12px;
}

.table-filter-container .mat-form-field {
    width: 100%;
    font-size: 12px;
    margin: 0px;
}

.table-filter-container .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top: 4px;
}

.table-filter-container .mat-form-field .mat-form-field-underline {
    bottom: 0px;
}

.table-filter-container .mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0rem;
}

.mat-table-custom tr.mat-row:hover {
    background-color: rgba(238, 236, 236, 0.315);
}

/*TODO: REVISAR ESTOS ESTILOS*/
::ng-deep .form-containter .mat-form-field-wrapper {
    padding-bottom: 13px;
}

::ng-deep .form-containter .mat-form-field-infix {
    padding: 5px 0px;
}

::ng-deep .form-containter .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);
}

.form-containter {
    margin: 12px;
    background-color: #FFFFFF;
    padding: 0 0 16px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    text-align: center;
    max-width: 860px;
}

.form-fields {
    display: grid;
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
    margin: 0px;
}

.form-containter .mat-form-field {
    font-size: 12px;
    margin-top: 0px;
}

.form-containter .mat-form-field {
    font-size: 12px;
    margin-top: 24px;
    margin-right: 20px;
}

.form-containter .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top: 4px;
}

.form-containter .mat-form-field .mat-form-field-underline {
    bottom: 0px;
}

.form-containter .mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0rem;
}

.mat-form-field {
    margin-left: 0%;
}

.form-containter .mat-form-field .mat-form-field-subscript-wrapper {
    margin-top: 20px;
}



.container-estado {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    padding: 0px;
    min-width: 220px;
    margin-top: 20px;
}

.container-estado>p {
    margin-bottom: 0px;
}

.container-estado .switch {
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing: content-box;
}

.button-container {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.form-containter .button-custom {
    color: white;
    font-weight: 500;
    padding: 0 16px;
    min-width: 100px;
    transition: all 0.3s ease;
    flex-shrink: 0;
    /* No se contrae */
}

.mat-raised-button {
    line-height: 28px !important;
}

.form-containter .button-custom:hover {
    transform: translateY(-2px);
}

.form-containter.button-custom:hover .mat-raised-button.mat-button-disabled {
    transform: translateY(0px);
}

/* .form-fields .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label{
	color: rgba(0, 0, 0, 0.6);
} */

.mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
    color: rgba(0, 0, 0, .20);
}

.form-containter .mat-form-field-suffix .mat-icon {
    height: 12px;
    width: 12px;
    font-size: 12px;
}

/************************************************************************************************************************
Estilo para modal 
*************************************************************************************************************************/
.mat-dialog-container{
    height: auto !important;
}
.modal-dialog-custom .form-fields {
    display: grid;
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    margin: 0px;
    gap: 20px;
}

.modal-dialog-custom .mat-form-field {
    font-size: 12px;
    margin-top: 0px;
    margin-right: 0px;
}

.modal-dialog-custom .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top: 4px;
}

.modal-dialog-custom .mat-form-field .mat-form-field-underline {
    bottom: 0px;
}

.modal-dialog-custom .mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0rem;
}

.modal-dialog-custom .mat-form-field {
    margin-left: 0%;
}

.modal-dialog-custom .checkbox-container {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 12px;
}

.modal-dialog-custom .container-estado {
    margin-top: 0px;
}

.modal-dialog-custom .mat-form-field .mat-form-field-subscript-wrapper {
    margin-top: 20px;
}

.modal-dialog-custom  .tittle-section > h2 {
    text-align: center;
    font-size: 18px;
}


.modal-dialog-custom .form-container-custom{
  display: flex;
  justify-content: center;
  gap: 32px;
}

.modal-dialog-custom .container-icon-alert {
    margin-top: 24px;
}

.modal-dialog-custom .form-container-custom div h3 {
  font-weight: 500;
}

.modal-dialog-custom .div-division {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 16px;
    align-items: center;
    margin-bottom: 0px;
    text-align: left;
  }


/*TODO: ajustar estilo solo para la clase*/
.mat-option {
    height: 20px !important;
}

/*TODO: ajustar estilo solo para la clase*/
.mat-option-text {
    font-size: 12px;
    line-height: 12px;
}


/************************************************************************************************************************
Estilos compartidos
*************************************************************************************************************************/

.form-containter .button-custom,
.modal-dialog-custom .button-custom {
    margin-left: 4%;
    margin-right: 4%;
}

.mat-table-custom .disenio-spinner,
.container-spinner .disenio-spinner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 70vh;
}

.modal-dialog-custom .disenio-spinner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 30vh;
}

.column-clear {
  background: #dfe1e2;
}
.column-dark {
  background: #d4d6d7;
}

.mat-table-custom .fecha{
    align-items: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 16px;
    text-align: center;
}

.container-icon-alert {
    text-align: center;
    margin-top: 0%;
}

.simple-view .table-filter-container .buttons-filter {
  max-height: 28px;
  min-width: 120px;
  max-width: 120px;
}

.simple-view .table-filter-container {
  align-items: center;
  padding-top: 0px;
}


/************************************************************************************************************************
Estilos alert-swal + clases custom
*************************************************************************************************************************/
.custom-alert-swal {
    width: 60% !important;
}

.custom-alert-swal-title .swal2-title {
    font-size: 18px;
    margin-bottom: 0px;
}

.custom-alert-swal-text .swal2-title {
    font-size: 15px;
    font-weight: 400;
    color: black;
}

/************************************************************************************************************************
Estilos compartidos
*************************************************************************************************************************/
.custom-alert-swal-text .swal2-actions {
    gap:32px;
}

.custom-alert-swal-text .swal2-cancel,
.custom-alert-swal-text .swal2-confirm,
.custom-alert-swal button {
    line-height: 28px;
    font-weight: 500;
    padding: 0 16px;
    min-width: 90px;
    max-width: 90px;
    transition: all 0.3s ease;
    flex-shrink: 0;
}

.custom-alert-swal-text .swal2-confirm,
.custom-alert-swal button  {
    background-color: #3f51b5 !important;
}

.custom-alert-swal-text .swal2-cancel {
    background-color: #f44336 !important;
}
.custom-alert-swal-text .swal2-cancel:focus, 
.custom-alert-swal-text .swal2-confirm:focus {
    box-shadow: none;
}

.table-filter-container .conditional-filter .mat-form-field {
    width: 100%;
}

.mat-table-custom .table-container {
    margin: 0;
    overflow-x: auto;
}

.mat-table-custom .mat-tab-body-content {
    overflow: hidden;
}

.mat-table-custom .mat-icon {
    height: 24px;
    width: 24px;
}

.mat-table-custom .mat-tab-label-container {
    padding-left: 12px;
}

.mat-table-custom .mat-button {
    line-height: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.mat-table-custom .mat-tab-label {
    color: rgba(0, 0, 0);
    opacity: 1;
}

.mat-tab-label-active {
    background-color: rgba(99, 98, 98, 0.1);
}

.radio-container {
    margin-top: 24px;
    margin-right: 20px;
    align-content: center;
    font-size: 12px;
    text-align: left;
}

.radio-container>mat-label {
    font-weight: 500;
}

.custom-detail-dialog {
    font-size: 12px;
}

.double-table-container .config-scroll-custom {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 70vh;
  max-width: 1040px;
  flex: 1;
}

.large-table {
    max-width: 920px;
}

.meddium-table {
    max-width: 720px;
}

/************************************************************************************************************************
Estilos Procesos
*************************************************************************************************************************/

.procesos-custom-container .tittle-section {
    background-color: white;
    padding-bottom: 12px;
}

.procesos-custom-container .mat-tab-body-content {
    overflow: hidden;
}

.procesos-custom-container .mat-step-header {
    height: 28px !important;
    background-color: #3f51b5 !important;
    border-radius: 4px;
    margin-right: 8%;
    margin-left: 12px;
    margin-right: 12px;
}

.procesos-custom-container .mat-horizontal-stepper-header .mat-step-icon {
    display: none;
}

.procesos-custom-container .mat-stepper-horizontal {
    padding-top: 0;
}

.procesos-custom-container .mat-step-header .mat-step-text-label {
    color: #ffffff;
    font-weight: 500;
}

.procesos-custom-container .mat-stepper-horizontal-line {
    display: none;
}

.procesos-custom-container .mat-horizontal-content-container {
    padding: 0px;
}

.procesos-custom-container .mat-table-custom .divTituloTablas {
    background-color: white;
}

.procesos-custom-container .mat-table-custom .tituloTabla {
    font-size: 15px;
    font-weight: 500;
    padding: 0px !important;
    margin: 0px;
}

.procesos-custom-container .mat-table-custom .controls-container {
    padding-top: 20px;
}

.spacer-content {
    width: 100%;
    background-color: white;
    padding-top: 20px;
}

.double-table-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 100%;
  min-height: 0;
}

.double-table-container > div {
  overflow: hidden;
}



.division .tittle-section>h2 {
    text-align: center;
    font-size: 16px;
}

/* Estilos para tabla de información en dialogo en Operaciones sin Conciliar*/
.mat-dialog-container .mat-table-custom .mat-header-cell {
    padding-right: 6px;
}

.mat-dialog-container .mat-table-custom .mat-table {
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
}


/* Estilos para componentes que muestran dos tablas en la misma ventana */
.division.double-table-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    gap: 8px;
}

.division.double-table-container tr.mat-header-row,
.division.double-table-container tr.mat-row{
    height: 44px;
}


.division.double-table-container .mat-cell:first-of-type {
    padding-left: 8px;
}
.division.double-table-container .mat-header-cell:last-of-type,
.division.double-table-container .mat-cell:last-of-type {
    padding-right: 8px;
}

/* .division.double-table-container .mat-table-custom .mat-cell,
.division.double-table-container .mat-table-custom .mat-footer-cell {
    font-size: 11px;
}

.division.double-table-container .mat-table-custom .mat-header-cell {
    font-size: 11px;
}
 */

 .modal-dialog-custom .mat-table-custom {
    width: auto;
 }





/************************************************************************************************************************
alineación de columnas por tipo
*************************************************************************************************************************/
.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.dialog-action-custom{
    gap: 32px;
}

/************************************************************************************************************************
Estilo para componentes con varias tablas debajo de cada una
*************************************************************************************************************************/

.table-container_several-tables .mat-table-custom .tittle-section  h2 {
    text-align: center;
    font-size: 16px;
}

.table-container_several-tables .mat-table-custom .mat-table {
    margin-bottom: 12px;
}

.table-container_several-tables .mat-table-custom th.mat-header-cell {
    text-align: left;
}

.mat-accordion  {
    margin-bottom: 12px;
}