<div mat-dialog-content>
    <mat-icon mat-dialog-close class="botonCerrarDialog">close</mat-icon>
    <div class="modal-dialog-custom">
        <div class="tittle-section">
            <h2>Actualizar Estado de Operaciones</h2>
        </div>
        <div class="spacer-content"></div>
        <div [formGroup]="form" class="form-container-custom">
            <mat-form-field appearance="fill">
                <mat-label>Estado operacion</mat-label>
                <mat-select formControlName="estadoConciliacion">
                    <mat-option *ngFor="let estado of estadosOperacion" [value]="estado">
                        {{estado.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div mat-dialog-actions class="button-container">
            <button mat-raised-button class="button-custom" mat-button color="primary" (click)="actualizarOperaciones()">Aceptar</button>
            <button mat-raised-button class="button-custom" mat-button (click)="onCancel()" color="warn">Cancelar</button>
        </div>

    </div>

</div>