.modal-dialog-custom .mat-form-field {
    width: 70%;
}

.button-container {
    margin-top: 16px;
}

::ng-deep .mat-dialog-container{
    height: 260px;
    overflow: hidden;
}


.mat-dialog-content {
    height: 240px;
    overflow: hidden;
    text-align: right;
}

