<div mat-dialog-content>
    <mat-icon mat-dialog-close class="botonCerrarDialog">close</mat-icon>
    <div>
        <h3>Actualizar estado de Operaciones</h3>
        <span class="line-spacer"></span>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Estado operacion</mat-label>
        <mat-select formControlName="estadoConciliacion">
            <mat-option *ngFor="let estado of estadosOperacion" [value]="estado">
                {{estado.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-button color="primary" (click)="actualizarOperaciones()">Aceptar</button>
    <button mat-raised-button mat-button>Cancelar</button>
</div>