<div class="tittle-section">
  <h2>Administración de Puntos</h2>
</div>
<div class="mat-table-custom">
  <div class="table-filter-container">
    <mat-form-field appearance="fill">
      <mat-label>Tipo Punto</mat-label>
      <mat-select [(ngModel)]="puntoSeleccionado" (selectionChange)="eventoTipoPunto($event)">
        <mat-option>Ninguno</mat-option>
        <mat-option *ngFor="let tipoPunto of listPuntosSelect" [value]="tipoPunto.valorTexto">
          {{tipoPunto.valorTexto}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Banco</mat-label>
      <mat-select [(ngModel)]="bancoSeleccionado" (selectionChange)="eventoBanco($event)"
        [disabled]="puntoSeleccionado === 'BAN_REP' || puntoSeleccionado === 'BANCO'">
        <mat-option>Ninguno</mat-option>
        <mat-option *ngFor="let item of bancosAval" [value]="item.codigoPunto">
          {{item.nombreBanco}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nombre punto</mat-label>
      <input type="text" matInput [(ngModel)]="nombrePuntoBusqueda" (blur)="filtrar($event)">
    </mat-form-field>
  </div>
  <div class="controls-container">
    <button title="Crear punto" mat-raised-button class="button-custom" color="primary"
      (click)="abrirDialogPunto('crear', null)">Nuevo</button>
    <button mat-raised-button color="primary" class="button-custom"
      (click)="exporterTable()">Exportar</button>
    <div class="paginator-area">
      <mat-paginator [pageSize]="10" [pageSizeOptions]="pageSizeOptions" [length]="cantidadRegistros"
        (page)="mostrarMas($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  <div *ngIf="spinnerActive" class="disenio-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!spinnerActive">
    <table mat-table [dataSource]="dataSourcePuntoSelect" matSort matTableExporter #exporter="matTableExporter"
      class="mat-elevation-z8" aria-label="gestion-puntos">
      <tr>
        <ng-container matColumnDef="codigoPunto" class="mat-column-codigoPunto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CÓDIGO PUNTO</th>
          <td mat-cell *matCellDef="let element"> {{element.codigoPunto}} </td>
        </ng-container>
        <ng-container matColumnDef="tipoPunto" class="mat-column-tipoPunto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TIPO PUNTO</th>
          <td mat-cell *matCellDef="let element"> {{element.tipoPunto}} </td>
        </ng-container>
        <ng-container matColumnDef="banco_aval" class="mat-column-banco_aval">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BANCO</th>
          <td mat-cell *matCellDef="let element"> {{getNombreBanco(element)}} </td>
        </ng-container>
        <ng-container matColumnDef="nombrePunto" class="mat-column-nombrePunto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE PUNTO</th>
          <td mat-cell *matCellDef="let element"> {{element.nombrePunto}} </td>
        </ng-container>
        <ng-container matColumnDef="codigoCiudad" class="mat-column-codigoCiudad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CIIU - CIUDAD</th>
          <td mat-cell *matCellDef="let element"> {{getNombreCiudad(element.codigoCiudad)}} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="estado" class="mat-column-estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let element"> {{resolverEstado(element.estado)}} </td>
        </ng-container> -->
        <ng-container matColumnDef="detalle" class="mat-column-acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>EDITAR</th>
          <td mat-cell *matCellDef="let element">
            <button title="Modificar" mat-button (click)="abrirDialogPunto('modif', element)">
              <mat-icon style="color: green">edit</mat-icon>
            </button>
          </td>
        </ng-container>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsPuntoSelect"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPuntoSelect;"></tr>
    </table>
  </div>
</div>