<mat-card class="card-limites">
    <mat-card-title>Adminsitración de puntos</mat-card-title>
    <div class="division-btn">
        <div>
            
        </div>
        <div *ngIf="estadoPuntos">
            <!--button mat-raised-button class="ubicacion-btn-dominio" color="primary" (click)="crearPunto()">Crear Punto</button-->
        </div>
    </div>

    <div style="width: 30%" class="ubicacionTablas">
        <div class="div-tabla-dominio">
            <table mat-table [dataSource]="dataSourceTiposPunto" matSort class="configScroll">
                <tr>
                    <ng-container matColumnDef="name" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipos punto</th>
                        <td mat-cell (click)="selectedTipoPunto(element.name)" 
                        *matCellDef="let element"> {{element.valorTexto}} 
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones" class="mat-column-acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Crear punto</th>
                        <td mat-cell *matCellDef="let element">
                            <button title="Crear punto" mat-button (click)="crearPunto(element)">
                                <mat-icon style="color: rgb(26, 10, 243)">add_circle</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsTiposPunto"></tr>
                <tr mat-row (click)="eventoClick(row)" *matRowDef="let row; columns: displayedColumnsTiposPunto;"></tr>
            </table>
        </div>
    </div>
    <div *ngIf="estadoPuntos" style="width: 70%" class=" ubicacionTablas">
        <div class="div-search">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nombre punto</mat-label>
                <input matInput>
              </mat-form-field>
              <button mat-icon-button color="primary" aria-label="Boton para buscar punto">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <div></div>
        </div>
        <mat-checkbox class="margen-checkbox" color="primary" [(ngModel)]="isPointChecked">Incluir puntos
            inactivos</mat-checkbox>
        <div class="div-tabla-identificadores">
            <table mat-table [dataSource]="dataSourcePuntoSelect" matSort class="configScroll">
                <tr>
                    <ng-container matColumnDef="codigo_punto" class="mat-column-codigo_punto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código punto</th>
                        <td mat-cell *matCellDef="let element"> {{element.codigoPunto}} </td>
                    </ng-container>
                    <ng-container matColumnDef="descripcion" class="mat-column-descripcion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                        <td mat-cell *matCellDef="let element"> {{element.nombrePunto}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ciudad" class="mat-column-ciudad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</th>
                        <td mat-cell *matCellDef="let element"> {{element.codigoCiudad}} </td>
                    </ng-container>
                    <ng-container matColumnDef="detalle" class="mat-column-acciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Detalle</th>
                        <td mat-cell *matCellDef="let element">
                            <button title="Ampliar detalle" mat-button (click)="infoDetallePunto(element)">
                                <mat-icon style="color: yellowgreen">info</mat-icon>
                            </button>
                            <button title="Modificar" mat-button (click)="modificarDetallePunto(element)">
                                <mat-icon style="color: rgba(247, 124, 10, 0.938)">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPuntoSelect"></tr>
                <tr mat-row (click)="eventoSelectionPuntoDetalleClick(row)" *matRowDef="let row; columns: displayedColumnsPuntoSelect;"></tr>
            </table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidadRegistros"
            (page)="mostrarMas($event)">
        </mat-paginator>
        </div>
        <div class="division-btn-ident">
            <div>
                <button mat-raised-button color="warn" >Exportar Lista</button>
            </div>
        </div>

    </div>
</mat-card>