<div style="overflow-x: auto; overflow-y: auto; height: 300px;">
    <div class="col-12 row">
        <div class="col-12" class="custom-tittle-dialog">
            <h3>¿Desea eliminar estos {{data.msn.length}} archivos?</h3>
        </div>
        <div class="col-12">
            <textarea [(ngModel)]="observacion" cols="97" rows="10" placeholder="Observaciones" style="border: ridge; border-radius: 10px;"></textarea>
        </div>
    </div>
</div>
<mat-dialog-actions align="center">
    <button mat-raised-button class="button-custom" color="primary" (click)="eliminarArchivo()">Aceptar</button>
    <button mat-raised-button class="button-custom" color="warn" (click)="closeModal()">Cancelar</button>
</mat-dialog-actions>