<mat-card class="card-limites">
    <mat-card-title>TDV Denominacion Cantidad</mat-card-title>
    <div *ngIf="mostrarTabla">
        <div class="division-btn">
            <button class="division-btn1" mat-raised-button class="ubicacion-btn-dominio" color="primary"
                (click)="crearDenominacionCantidad()">Crear TDV-Denominacion Cantidad</button>
        </div>
    </div>
    <div *ngIf="mostrarTabla == false">
        <div class="division-btn">
            <button *ngIf="habilitarBTN" class="division-btn1" mat-raised-button class="ubicacion-btn-dominio" color="primary"
                (click)="irAtras()">Atras</button>
        </div>
    </div>

    <div *ngIf="mostrarTabla" class="divTablaCerti">
        <div class="configScroll">
            <table mat-table [dataSource]="dataSourceDenominacion" matSort class="mat-elevation-z8">
                <caption></caption>
                <tr>
                    <ng-container matColumnDef="idTdvDenCant" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let element"> {{element.idTdvDenCant}} </td>
                    </ng-container>
                    <ng-container matColumnDef="transportadora" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>TRANSPORTADORA</th>
                        <td mat-cell *matCellDef="let element"> {{element.transportadoraDTO.nombreTransportadora}} </td>
                    </ng-container>
                    <ng-container matColumnDef="moneda" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MONEDA</th>
                        <td mat-cell *matCellDef="let element"> {{element.moneda}} </td>
                    </ng-container>
                    <ng-container matColumnDef="denominacion" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>DENOMINACIÓN</th>
                        <td mat-cell *matCellDef="let element"> {{element.denominacion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="familia" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>FAMILIA</th>
                        <td mat-cell *matCellDef="let element"> {{element.familia}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cantidadDenom" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>CANT DENOM</th>
                        <td mat-cell *matCellDef="let element"> {{element.cantidad_por_denom}} </td>
                    </ng-container>
                    <ng-container matColumnDef="estado" class="mat-column-nombreCampo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
                        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button (click)="actualizarDenominacionCantidad(element)">
                                <mat-icon style="color: green">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsDenominacion"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDenominacion;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
        <br>
    </div>

    <div class="ubicacionTablaCrear">
        <div class="example-container" [formGroup]="form" #frmPaciente="ngForm" *ngIf="mostrarFormulario">
            <div style="padding-left: 10%;">
                <mat-form-field class="example-full-width">
                    <input type="number" matInput placeholder="Id" formControlName="idTdvDenCant">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Transportadora</mat-label>
                    <mat-select required formControlName="transportadora">
                        <mat-option *ngFor="let item of transportadoras" [value]="item">
                            {{item.nombreTransportadora}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo de moneda</mat-label>
                    <mat-select required formControlName="moneda">
                        <mat-option *ngFor="let item of monedas" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Denominacion</mat-label>
                    <mat-select required formControlName="denominacion">
                        <mat-option *ngFor="let item of denominaciones" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Familia</mat-label>
                    <mat-select required formControlName="familia">
                        <mat-option *ngFor="let item of familias" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input required  type="number" step="0.01" pattern="^[0-9]+" matInput placeholder="Cantidad Denominacion" formControlName="cantidadDenom" (keypress)="onKeypressEvent($event)">
                </mat-form-field>

                <div class="division-estado">
                    <label class="switch" >
                        <input class="switch-input" type="checkbox" formControlName="estado" id="estado" />
                        <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
                        <span class="switch-handle"></span>
                    </label>
                    <p>ESTADO</p>
                </div>

            </div>
            <button mat-raised-button type="button" (click)="persistir()" class="ubicacion-btn" color="primary"
                [disabled]="form.invalid">Aceptar</button>
        </div>
    </div>
</mat-card>