<div class="tittle-section">
    <h2>Denominaciones por Transportadora</h2>
</div>
<div *ngIf="mostrarTabla" class="mat-table-custom">
    <div class="controls-container">
        <button mat-raised-button color="primary" class="button-custom" (click)="crearDenominacionCantidad()">
            Nuevo
        </button>
        <div class="paginator-area">
            <mat-paginator [pageSize]="10" [pageSizeOptions]="pageSizeOptions" [length]="cantidadRegistros"
                (page)="mostrarMas($event)" showFirstLastButtons class="custom-paginator">
            </mat-paginator>
        </div>
    </div>

    <div *ngIf="spinnerActive" class="disenio-spinner">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!spinnerActive">
        <table mat-table [dataSource]="dataSourceDenominacion" matSort class="mat-elevation-z8">
        <tr>
            <ng-container matColumnDef="idTdvDenCant" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element"> {{element.idTdvDenCant}} </td>
            </ng-container>
            <ng-container matColumnDef="transportadora" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TRANSPORTADORA</th>
                <td mat-cell *matCellDef="let element"> {{element.transportadoraDTO.nombreTransportadora}} </td>
            </ng-container>
            <ng-container matColumnDef="moneda" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>MONEDA</th>
                <td mat-cell *matCellDef="let element"> {{element.moneda}} </td>
            </ng-container>
            <ng-container matColumnDef="denominacion" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>DENOMINACIÓN</th>
                <td mat-cell *matCellDef="let element"> {{element.denominacion}} </td>
            </ng-container>
            <ng-container matColumnDef="familia" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>FAMILIA</th>
                <td mat-cell *matCellDef="let element"> {{element.familia}} </td>
            </ng-container>
            <ng-container matColumnDef="cantidadPorDenom" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>CANTIDAD</th>
                <td mat-cell *matCellDef="let element"> {{element.cantidadPorDenom}} </td>
            </ng-container><!-- 
            <ng-container matColumnDef="estado" class="mat-column-nombreCampo" *ngIf="false">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO</th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container> -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> EDITAR</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button (click)="actualizarDenominacionCantidad(element)">
                        <mat-icon style="color: green">edit</mat-icon>
                    </button>
                </td>
            </ng-container>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsDenominacion"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDenominacion;"></tr>
    </table>
    <br>
    </div>
</div>

<div class="form-containter" *ngIf="mostrarFormulario">
    <div [formGroup]="form" class="form-fields">
        <mat-form-field appearance="fill">
            <mat-label>Id</mat-label>
            <input type="number" matInput placeholder="Id" formControlName="idTdvDenCant">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Transportadora</mat-label>
            <mat-select required formControlName="transportadora">
                <mat-option *ngFor="let item of transportadoras" [value]="item">
                    {{item.nombreTransportadora}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Tipo de moneda</mat-label>
            <mat-select required formControlName="moneda" class="label-form">
                <mat-option *ngFor="let item of monedas" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Denominacion</mat-label>
            <mat-select required formControlName="denominacion">
                <mat-option *ngFor="let item of denominaciones" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Familia</mat-label>
            <mat-select required formControlName="familia">
                <mat-option *ngFor="let item of familias" [value]="item">
                    {{item}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Cantidad Denominacion</mat-label>
            <input required type="number" step="0.01" pattern="^[0-9]+" matInput placeholder="Ingrese cantidad"
                formControlName="cantidadPorDenom" (keypress)="onKeypressEvent($event)">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cantidad Denominacion</mat-label>
            <input required type="number" step="0.01" pattern="^[0-9]+" matInput placeholder="Ingrese cantidad"
                formControlName="cantidadPorDenom" (keypress)="onKeypressEvent($event)">
        </mat-form-field>

        <div class="container-estado">
            <p>Estado:</p>
            <label class="switch">
                <input class="switch-input" type="checkbox" formControlName="estado" id="estado" />
                <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
                <span class="switch-handle"></span>
            </label>
        </div>
    </div>
    <div class="button-container">
        <button mat-raised-button type="button" (click)="persistir()" color="primary" [disabled]="form.invalid"
            class="button-custom">Aceptar</button>
        <button *ngIf="habilitarBTN" mat-raised-button color="warn" (click)="irAtras()"
            class="button-custom">Cancelar</button>
    </div>
</div>