<div class="menu-container">
    <!--Banner superior-->
    <app-banner-supeior></app-banner-supeior>

    <!--Componente barra lateral y area de ejecución-->
    <mat-sidenav-container class="sidenav-container">
        <!--Barra izquierda de opciones (Apodo id = sidenav)-->
        <mat-sidenav #sidenav opened="true" style="width: 17%" mode="side">
            <!--Imagen de menu
            <img src="assets/img/menu.png" width="215" style="display:block; margin:auto; margin-top: 10%">-->
            <br><br>
            <!--opciones de menu-->
            <button mat-menu-item routerLink="/buscar" style="cursor: pointer" routerLinkActive="seleccion-activa">
                <mat-icon>search</mat-icon>
                <span>Buscar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item [routerLink]="['cargue-inicial']" style="cursor: pointer" routerLinkActive="seleccion-activa">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Cargue Archivos</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item [routerLink]="['administrador-cargue-preliminar']" style="cursor: pointer" routerLinkActive="seleccion-activa">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Gestión cargue preliminar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item [routerLink]="['administrador-cargue-definitivo']" style="cursor: pointer" routerLinkActive="seleccion-activa">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Gestión cargue definitivo</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="/consulta-wizard" style="cursor: pointer" routerLinkActive="seleccion-activa">
                <mat-icon>view_carousel</mat-icon>
                <span>Opcion 3</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="/especialidad" style="cursor: pointer" routerLinkActive="seleccion-activa">
                <mat-icon>star_rate</mat-icon>
                <span>Opcion 4</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="/medico" style="cursor: pointer" routerLinkActive="seleccion-activa">
                <mat-icon>healing</mat-icon>
                <span>Opcion 5</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/reporte" style="cursor: pointer">
                <mat-icon>assessment</mat-icon>
                <span>Reportes</span>
            </button>
            <mat-divider></mat-divider>
        </mat-sidenav>

        <!--Barra derecha de ejecución-->
        <mat-sidenav-content class="background-page">
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>