<!--Tabla Descripción de archivos cargados-->
<div class="divTabl">
    <div class="divTituloTabl">
        <h1 class="tituloTabla">1 - {{titulo}}</h1>
        <span class="line-spacer"></span>
    </div>
    <div class="mat-elevation-z8 disenio-tabla">
        <table mat-table matTableExporter [dataSource]="dataSourceInfoProcesos" matSort #exporter="matTableExporter">
            <ng-container matColumnDef="idLiquidacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Liquidación</th>
                <td mat-cell *matCellDef="let element"> {{element.idLiquidacion}} </td>
            </ng-container>
            <ng-container matColumnDef="fechaEjecucion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Ejecución</th>
                <td mat-cell *matCellDef="let element"> {{element.fechaEjecucion | date}} </td>
            </ng-container>
            <ng-container matColumnDef="nombreBanco">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>nombre banco</th>
                <td mat-cell *matCellDef="let element"> {{element.nombreBanco}} </td>
            </ng-container>
            <ng-container matColumnDef="nombreTdv">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre transportadora</th>
                <td mat-cell *matCellDef="let element"> {{element.nombreTdv}} </td>
            </ng-container>
            <ng-container matColumnDef="nombreCliente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Cliente</th>
                <td mat-cell *matCellDef="let element"> {{element.nombreCliente}} </td>
            </ng-container>
            <ng-container matColumnDef="puntoOrigen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Punto origen</th>
                <td mat-cell *matCellDef="let element"> {{element.nombrePuntoOrigen }} </td>
            </ng-container>
            <ng-container matColumnDef="puntoDestino">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Punto destino</th>
                <td mat-cell *matCellDef="let element"> {{element.nombrePuntoDestino }} </td>
            </ng-container>
            <ng-container matColumnDef="codigoPropioTdv">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo propio TDV</th>
                <td mat-cell *matCellDef="let element"> {{element.codigoPropioTdv }} </td>
            </ng-container>
            <ng-container matColumnDef="entradaSalida">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Entrada salida</th>
                <td mat-cell *matCellDef="let element"> {{element.entradaSalida }} </td>
            </ng-container>
            <ng-container matColumnDef="tipoPunto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo punto</th>
                <td mat-cell *matCellDef="let element"> {{element.tipoPunto }} </td>
            </ng-container>
            <ng-container matColumnDef="tipoOperacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo operacion</th>
                <td mat-cell *matCellDef="let element"> {{element.tipoOperacion }} </td>
            </ng-container>
            <ng-container matColumnDef="escala">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Escala</th>
                <td mat-cell *matCellDef="let element"> {{element.escala }} </td>
            </ng-container>
            <ng-container matColumnDef="valorTotal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor Total</th>
                <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="costoFijoParado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo Fijo Parada</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.costoFijoParada | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="milajePorRuteo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Milaje Ruteo</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.milajePorRuteo | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="milajeVerificacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Milaje Verifi</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.milajeVerificacion | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="milajeTotal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Milaje Total</th>
                <td mat-cell *matCellDef="let element"> {{(element.valoresLiquidadosDTO.milajePorRuteo + element.valoresLiquidadosDTO.milajeVerificacion) | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="costoMoneda">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo Moneda</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.costoMoneda | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="costoEmisario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo Emisor</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.costoEmisario | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="costoCharter">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo Charter</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.costoCharter | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="clasificacionFajado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Clasif Fajado</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.clasificacionFajado | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="clasificacionNoFajado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Clasif No Fajado</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.clasificacionNoFajado | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="costoPaqueteo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo Paqueteo</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.costoPaqueteo | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="tasaAeroportuaria">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>T Aeroportuaria</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.tasaAeroportuaria | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="modenaResiduo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda Residuo</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.modenaResiduo | currency}} </td>
            </ng-container>
            <ng-container matColumnDef="idSeqGrupo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Seq Grupo</th>
                <td mat-cell *matCellDef="let element"> {{element.valoresLiquidadosDTO.idSeqGrupo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsInfoProcesos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsInfoProcesos;"></tr>
        </table>
    </div>
</div>
<div style="margin-top: 0%; text-align: center;">
    <button mat-raised-button color="primary" style="display:inline; margin: 2%;"
    (click)="exporter.exportTable('xlsx', {fileName:'Liquidación-costos'})">Descargar Excel</button>
    <button mat-raised-button mat-button mat-dialog-close color="warn" (click)="close()">CERRAR</button>
</div>