<!-- Content mostrarFormulario-->
<div class="form-containter">
    <div [formGroup]="form" class="form-fields">
        <!--Tipo Punto-->
        <mat-form-field appearance="fill">
            <mat-label>Tipo Punto</mat-label>
            <mat-select formControlName="tipoPunto" (selectionChange)="changeTipoPunto($event)">
                <mat-option *ngFor="let item of tiposPunto" [value]="item.valorTexto">
                    {{item.valorTexto}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('tipoPunto').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
        <!--Banco-->
        <mat-form-field appearance="fill">
            <mat-label>Banco</mat-label>
            <mat-select required formControlName="banco" (selectionChange)="changeBanco($event)">
                <mat-option *ngFor="let item of bancos" [value]="item">
                    {{item.nombreBanco}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('banco').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>

        <!--Transportadora-->
        <mat-form-field appearance="fill">
            <mat-label>Transportadora</mat-label>
            <mat-select required formControlName="codigoTdv">
                <mat-option *ngFor="let item of transportadoras" [value]="item">
                    {{item.nombreTransportadora}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('codigoTdv').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
        <!--Ciudad-->
        <mat-form-field appearance="fill" *ngIf="selectedTipoPunto==='BAN_REP'">
            <mat-label>Ciudad Fondo</mat-label>
            <input type="text" matInput formControlName="codigoDANE" required [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCiudad">
                <mat-option *ngFor="let ciudad of ciudadesFiltradas | async" [value]="ciudad">
                    {{ciudad.codigoDANE + " - " + ciudad.nombreCiudad}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.get('codigoDANE').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
        <!--Cliente-->
        <mat-form-field appearance="fill" *ngIf="selectedTipoPunto==='CLIENTE'">
            <mat-label>Cliente</mat-label>
            <input type="text" matInput formControlName="cliente" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCliente">
                <mat-option *ngFor="let item of clientesFiltrados | async" [value]="item">
                    {{item.identificacion +" - "+ item.nombreCliente}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.get('cliente').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
        <!--Punto-->
        <mat-form-field appearance="fill" *ngIf="selectedTipoPunto || esEdicion">
            <mat-label>Punto</mat-label>
            <input type="text" matInput formControlName="punto" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPunto">
                <mat-option *ngFor="let item of puntosFiltrados | async" [value]="item">
                    {{item.codigoPunto +" - "+ item.nombrePunto}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="form.get('punto').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>
        <!--Codigo Propio TDV-->
        <mat-form-field appearance="fill">
            <mat-label>Código Propio TDV</mat-label>
            <input matInput placeholder="Código Propio TDV" formControlName="codigoPropioTDV">
            <mat-error *ngIf="form.get('codigoPropioTDV').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>

        <!--Estado-->
        <div class="container-estado">
            <p>Estado</p>
            <label class="switch">
                <input class="switch-input" type="checkbox" formControlName="estado" id="estado" />
                <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
                <span class="switch-handle"></span>
            </label>
        </div>

        <!--Id Punto Codigo TDV-->
        <mat-form-field appearance="fill" hidden>
            <mat-label>Id Punto Código TDV</mat-label>
            <input matInput placeholder="Id Punto Código TDV" formControlName="idPuntoCodigo" readonly>
        </mat-form-field>

        <!--Codigo Punto-->
        <mat-form-field appearance="fill" hidden>
            <mat-label>Código Punto</mat-label>
            <input type="number" matInput placeholder="Código Punto" formControlName="codigoPunto" readonly>
        </mat-form-field>
    </div>
    <div class="button-container">
        <button class="button-custom" mat-raised-button type="button" (click)="onSubmit()" color="primary"
            [disabled]="form.invalid">Aceptar</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()"
            class="button-custom">Cancelar</button>
    </div>
</div>

<!--Fin content mostrarFormulario -->