<div class="titulo-tabla">
    <h1>{{titulo}} oficina</h1>
</div>
<form *ngIf="mostrarFormulario" class="example-container" [formGroup]="form">
    <div class="div-division">
        <div class="ubica">
            <h2>Nombre</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input class="mayusculas" formControlName="nombre" matInput #input required>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Ciudad</h2>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione una ciudad</mat-label>
            <mat-select formControlName="ciudad">
                <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad" required>
                    {{ciudad.nombreCiudad}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Código oficina</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input type="number" step="0.01" pattern="^[0-9]+" formControlName="codigoOficina" matInput #input required>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Banco Aval</h2>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione un banco</mat-label>
            <mat-select formControlName="bancoAval">
                <mat-option *ngFor="let bancoAval of bancosAval" [value]="bancoAval" required>
                    {{bancoAval.nombreBanco}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Tarifa ruteo</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input type="number" step="0.01" pattern="^[0-9]+" formControlName="tarifaRuteo" matInput #input required>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Tarifa Verificación</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input type="number" step="0.01" pattern="^[0-9]+" formControlName="tariVerificacion" (change)="changeValor($event)"  (keypress)="onKeypressEvent($event)" matInput #input required>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Programa Transpote</h2>
        </div>
        <label class="switch" style="margin-left:8%; margin-top: 4%;">
            <input class="switch-input" type="checkbox" formControlName="programaTransporte" id="programaTransporte" required />
            <span class="switch-label" data-on="Si" data-off="No"></span>
            <span class="switch-handle"></span>
        </label>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Estado</h2>
        </div>
        <label class="switch" style="margin-left:8%; margin-top: 4%;">
            <input class="switch-input" type="checkbox" formControlName="estado" id="estado" required />
            <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
            <span class="switch-handle"></span>
        </label>
    </div>

    <div>
        <mat-checkbox formControlName="fajado" class="margen-checkbox" color="primary" [(ngModel)]="esFajado">Fajado</mat-checkbox>
    </div>

    <div>
        <mat-checkbox formControlName="refajillado" class="margen-checkbox" color="primary" [(ngModel)]="esRefajillado">Refajillado</mat-checkbox>
    </div>


    <div class="division-btn-ident">
        <div>
            <button *ngIf="estadoBTN" mat-raised-button color="primary" (click)="persistir()">{{nombreBTN}}</button>
        </div>
        <div>
            <button mat-raised-button color="warn" mat-dialog-close>{{nombreBTNCancelar}}</button>
        </div>
    </div>
</form>