<div class="titulo-tabla">
    <h1>{{titulo}} oficina</h1>
</div>
<form *ngIf="mostrarFormulario" class="example-container" [formGroup]="form">
    <div class="div-division">
        <div class="ubica">
            <h2>Nombre</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input formControlName="nombre" matInput #input>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Ciudad</h2>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione una ciudad</mat-label>
            <mat-select formControlName="ciudad">
                <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                    {{ciudad.nombreCiudad}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Código oficina</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input formControlName="codigoOficina" matInput #input>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Banco Aval</h2>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Seleccione un banco</mat-label>
            <mat-select formControlName="bancoAval">
                <mat-option *ngFor="let bancoAval of bancosAval" [value]="bancoAval">
                    {{bancoAval.nombreBanco}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Tarifa ruteo</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input formControlName="tarifaRuteo" matInput #input>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Tarifa Verificación</h2>
        </div>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <input formControlName="tariVerificacion" matInput #input>
            </mat-form-field>
        </div>
    </div>

    <div class="div-division">
        <div class="ubica">
            <h2>Estado</h2>
        </div>
        <label class="switch" style="margin-left:8%; margin-top: 4%;">
            <input class="switch-input" type="checkbox" formControlName="estado" id="estado" />
            <span class="switch-label" data-on="Activo" data-off="Inactivo"></span>
            <span class="switch-handle"></span>
        </label>
    </div>

    <mat-radio-group formControlName="fajado" [(ngModel)]="labelPosition">
      <mat-radio-button class="example-margin" value="fajado">Fajado</mat-radio-button>
      <mat-radio-button class="example-margin" value="refajillado">Refajillado</mat-radio-button>
    </mat-radio-group>

    <div class="division-btn-ident">
        <div>
            <button *ngIf="estadoBTN" mat-raised-button color="primary" (click)="persistir()">{{nombreBTN}}</button>
        </div>
        <div>
            <button mat-raised-button color="warn" mat-dialog-close>{{nombreBTNCancelar}}</button>
        </div>
    </div>
</form>