<div class="divTabla">
    <div class="divTituloTablas">
        <h1 class="tituloTabla">Consultas de Operaciones Conciliadas </h1>
        <span class="line-spacer"></span>
    </div>
    <div class="configScroll">
        <table mat-table [dataSource]="dataSourceConciliadas" matSort>
            <tr>
                <ng-container matColumnDef="banco" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> BANCO</th>
                    <td mat-cell *matCellDef="let element"> {{element.Banco}} </td>
                </ng-container>

                <ng-container matColumnDef="transPortadora" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TRANSPORTADORA</th>
                    <td mat-cell *matCellDef="let element"> {{element.Transportadora}} </td>
                </ng-container>

                <ng-container matColumnDef="ciudad" class="mat-column-nombreCampo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CIUDAD</th>
                    <td mat-cell *matCellDef="let element"> {{element.ciudadOrigen}} </td>
                    <!--medium'yyyy-MM-dd'-->
                </ng-container>

                <ng-container matColumnDef="tipoOperacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DE OPERACION</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoOperacion}} </td>
                    <!--Traslado-->
                </ng-container>

                <ng-container matColumnDef="nombrePuntoOrigen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE PUNTO ORIGEN</th>
                    <td mat-cell *matCellDef="let element"> {{element.puntoOrigen}} </td>
                </ng-container>

                <ng-container matColumnDef="nombrePuntoDestino">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE PUNTO DESTINO</th>
                    <td mat-cell *matCellDef="let element"> {{element.puntoDestino}} </td>
                </ng-container>

                <ng-container matColumnDef="ciudadPuntoOrigen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CIUDAD PUNTO ORIGEN</th>
                    <td mat-cell *matCellDef="let element"> {{element.puntoOrigen}} </td>
                </ng-container>

                <ng-container matColumnDef="ciudadPuntoDestino">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CIUDAD PUNTO DESTINO</th>
                    <td mat-cell *matCellDef="let element"> {{element.puntoDestino}} </td>
                </ng-container>

                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> VALOR</th>
                    <td mat-cell *matCellDef="let element"> {{element.valorTotal}} </td>
                </ng-container>

                <ng-container matColumnDef="tipoConciliacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DE CONCILIACION</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoConciliacion}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaEjecucion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE EJECUCION</th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaEjecucion}} </td>
                </ng-container>
                
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsConciliadas"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsConciliadas;"></tr>
        </table>
    </div>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidadRegistros"
        (page)="mostrarMas($event)">
    </mat-paginator>
</div>