<div class="tittle-section">
    <h2>Operaciones Conciliadas</h2>
</div>

    <app-filtro-banco-tdv (filterData)="filter($event)" [showFechaProceso]="true" [showFilterEstado]="true" [showPuntoOrigenDestino]="true" [fechaProceso]="fechaProceso">
    </app-filtro-banco-tdv>

<div class="mat-table-custom">
    <div class="controls-container">
        <button mat-raised-button  class="button-custom" color="primary"
            (click)="exporterTable()">Exportar</button>
        <div class="paginator-area">
            <mat-paginator [pageSize]="5" [pageSizeOptions]=pageSizeList [length]="cantidadRegistros"
                (page)="mostrarMas($event)">
            </mat-paginator>
        </div>
    </div>
    <div *ngIf="load" class="disenio-spinner">
        <mat-spinner></mat-spinner>
    </div>
    <div [hidden]="load">
        <table mat-table matTableExporter [dataSource]="dataSourceConciliadas" matSort #exporter="matTableExporter">
            <caption></caption>
            <ng-container matColumnDef="Banco" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> BANCO</th>
                <td mat-cell *matCellDef="let element"> {{element.Banco}} </td>
            </ng-container>

            <ng-container matColumnDef="Transportadora" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TRANSPORTADORA</th>
                <td mat-cell *matCellDef="let element"> {{element.Transportadora}} </td>
            </ng-container>

            <ng-container matColumnDef="nombreFondoTDV" class="mat-column-nombreCampo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE FONDO</th>
                <td mat-cell *matCellDef="let element"> {{element.nombreFondoTDV}} </td>
            </ng-container>

            <ng-container matColumnDef="entradaSalida">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ENTRADA-SALIDA</th>
                <td mat-cell *matCellDef="let element"> {{element.entradaSalida}} </td>
            </ng-container>

            <ng-container matColumnDef="puntoOrigen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE PUNTO ORIGEN</th>
                <td mat-cell *matCellDef="let element"> {{element.puntoOrigen}} </td>
            </ng-container>

            <ng-container matColumnDef="puntoDestino">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE PUNTO DESTINO</th>
                <td mat-cell *matCellDef="let element"> {{element.puntoDestino}} </td>
            </ng-container>

            <ng-container matColumnDef="valorTotal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> VALOR</th>
                <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency }} </td>
            </ng-container>

            <ng-container matColumnDef="tipoConciliacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DE CONCILIACION</th>
                <td mat-cell *matCellDef="let element"> {{element.tipoConciliacion}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaEjecucion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA DE EJECUCION</th>
                <td mat-cell *matCellDef="let element"> {{element.fechaEjecucion | date: 'dd/MM/YYYY' : '+00'}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsConciliadas"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsConciliadas;"></tr>
        </table>

    </div>

</div>