<div class="modal-dialog-custom">
    <div class="tittle-section">
        <h2>Generar Contabilidad {{tipoContabilidad}}</h2>
    </div>

    <div class="container-icon-alert">
        <img src="assets/img/waring.jpg" width="60">
    </div>
     <div class="form-container-custom">
            <mat-form-field appearance="fill">
                <mat-label>Fecha del sistema</mat-label>
                <input matInput [(ngModel)]="fechaSistemaSelect" placeholder="Fecha del sistema" disabled required>
            </mat-form-field>
        </div>

    <div class="button-container">
        <button class="button-custom" mat-raised-button color="primary" (click)="confirm()">Aceptar</button>
        <button class="button-custom" mat-raised-button mat-button mat-dialog-close color="warn"
            (click)="cancel()">Cancelar</button>
    </div>

</div>
