<div class="modal-dialog-custom">
    <div class="tittle-section">
        <h2>Generar Contabilidad {{tipoContabilidad}}</h2>
    </div>

    <div class="container-icon-alert">
        <img src="assets/img/waring.jpg" width="60">
    </div>
    <div *ngIf="spinnerActive" class="disenio-spinner">
        <mat-spinner></mat-spinner>
    </div>
    <div class="text-custom-container" *ngIf="!spinnerActive">
        <div>Fecha del sistema:</div>
        <div>{{fechaSistemaSelect}}</div>
    </div>
    <div class="button-container">
        <button class="button-custom" mat-raised-button color="primary" (click)="confirm()">Aceptar</button>
        <button class="button-custom" mat-raised-button mat-button mat-dialog-close color="warn"
            (click)="cancel()">Cancelar</button>
    </div>

</div>