<div class="mat-cell">
  <h2 class="row">Gestión de Tipo Cuentas</h2>
  <button mat-raised-button color="primary" (click)="crearTiposCuentas()">Crear</button>
</div>

  <div [formGroup]="form" *ngIf="mostrarFormulario">
    <div >
      <mat-form-field appearance="fill">
        <mat-label>Tipo Cuenta</mat-label>
        <input matInput placeholder="Tipo Cuenta" minlength="3" required formControlName="tipoCuenta">
        <mat-error *ngIf="form.get('tipoCuenta').hasError('required')">Valor es requerido</mat-error>
        <mat-error *ngIf="form.get('tipoCuenta').hasError('minlength')">Longitud minima es de 3 caracteres</mat-error>
        <mat-icon matSuffix ></mat-icon>
      </mat-form-field>
          
      <mat-form-field appearance="fill">
        <mat-label>Cuenta Auxiliar</mat-label>
        <input matInput placeholder="Cuenta Auxiliar" formControlName="cuentaAuxiliar">
        <mat-icon matSuffix (click)="showHelpField('Cuenta Auxiliar')">question_mark</mat-icon>
      </mat-form-field>
    </div>

    <div>      
      <mat-form-field appearance="fill">
        <mat-label>Tipo Id</mat-label>
        <input matInput placeholder="Tipo Id" formControlName="tipoId">
        <mat-icon matSuffix (click)="showHelpField('Tipo Id')">question_mark</mat-icon>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Identificador</mat-label>
        <input matInput placeholder="Identificador" formControlName="identificador">
        <mat-icon matSuffix (click)="showHelpField('Identificador')">question_mark</mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Descripción" required formControlName="descripcion">
        <mat-error>Valor es requerido</mat-error>        
        <mat-icon matSuffix (click)="showHelpField('Descripción')">question_mark</mat-icon>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Referencia1</mat-label>
        <input matInput placeholder="Referencia1" formControlName="referencia1">
        <mat-icon matSuffix ></mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Referencia2</mat-label>
        <input matInput placeholder="Referencia2" formControlName="referencia2">
        <mat-icon matSuffix ></mat-icon>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button type="button" color="primary" (click)="persistir()" [disabled]="form.invalid">
        Aceptar
      </button>
    </div>
  </div>

<div class="ubicacionTablas">
  <div class="div-tabla-dominio">
    <table mat-table [dataSource]="dataSourceTiposCuentas" matSort class="configScroll" aria-label="tipoCuentas">
      <tr>
        <ng-container matColumnDef="tipoCuenta" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Cuenta</th>
          <td mat-cell *matCellDef="let element"> {{element.tipoCuenta}} </td>
        </ng-container>
        <ng-container matColumnDef="cuentaAuxiliar" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cuenta Auxiliar</th>
          <td mat-cell *matCellDef="let element"> {{element.cuentaAuxiliar}} </td>
        </ng-container>
        <ng-container matColumnDef="tipoId" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo ID</th>
          <td mat-cell *matCellDef="let element"> {{element.tipoId}} </td>
        </ng-container>
        <ng-container matColumnDef="identificador" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Identificador</th>
          <td mat-cell *matCellDef="let element"> {{element.identificador}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="referencia1" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia 1</th>
          <td mat-cell *matCellDef="let element"> {{element.referencia1}} </td>
        </ng-container>
        <ng-container matColumnDef="referencia2" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia 2</th>
          <td mat-cell *matCellDef="let element"> {{element.referencia2}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones" class="mat-column-nombreCampo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="editar(element)">
              <mat-icon style="color: green">edit</mat-icon>
            </button>
          </td>
        </ng-container>
      </tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsTiposCuentas"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsTiposCuentas;"></tr>
    </table>
  </div>
</div>

